[2021-07-30 15:34] luke- commented on #5204
@Bust3r666 Then what do you get for an error?

[2021-07-30 15:45] spoorun opened #5217 "Preview media and files"
It would be great to preview media and files.

For example, .pdf, .odt, .doc and image and audio files.

Perhaps some work now with Onlyoffice?

[2021-07-30 16:15] yurabakhtin commented on #5194
@luke- Yes, the bug was in my new code of the PR, I have fixed that in next commit https://github.com/humhub/humhub/pull/5214/commits/0638397861e2ccc2f5a1c27524aacae873f5693f, but it is strange why the codeception tests were not run for the commit but the PR has green "All checks have passed".

[2021-07-30 21:14] luke- commented on #5194
@yurabakhtin Thanks.  It worked! In the meantime there were changes in the "develop" branch and the conflicts (changelog) had to be resolved first.

[2021-07-30 21:14] #5194 closed

[2021-07-31 09:02] Bust3r666 commented on #5204
[code]

I try to remove 'tags_cached' too?

[2021-07-31 10:19] lwq057 opened #5219 "How to modify the page title in the model controller？"
D:\WEB\humhub-1.9.0\protected\modules\*\controllers\*Controller.php

Modify the title of the page using the method in the model control？

I tried this, but I couldn't：

`$this->owner->prependPageTitle($this->space->name);`

[2021-07-31 14:50] ArchBlood commented on #5204
Sounds like it's related to the 1.8 migration error for those using normal MySQL instead of InnoDB and MariaDB

[2021-07-31 15:38] luke- commented on #5204
@Bust3r666  Can you please delete:
`contentcontainer_tag` table
`contentcontainer_tag_relation` table
AND
the column "tags_cached" of the `contentcontainer` table. (not whole table!)

And send us the error message again?

[2021-08-01 17:33] lwq057 opened #5220 "missing: 1. Content review mechanism 2. Reporting of content and comments"
Suppose this is an advertisement content or malicious content.

Once I register and log in, I can publish any content that violates the rules without restraint.

I can also register many accounts to frequently post illegal comments in other people's content.

The system is missing:

1. Content review mechanism
2. Reporting of content and comments
3. The creation of space needs to be reviewed

humh

[2021-08-01 18:13] luke- commented on #5220
Please create individual issues for missing functionalities.

There is a Report Content Module which probably covers something.

[2021-08-01 18:13] #5220 closed

[2021-08-01 18:14] #5219 closed

[2021-08-01 18:29] luke- commented on #5208
Related to: https://github.com/humhub/humhub/issues/3506

[2021-08-01 20:39] lwq057 opened #5221 "How to regenerate the js file (static\js) ?"
I modified：

`protected\humhub\modules\stream\resources\js`

It is effective in debug mode, but it is not effective in production mode.

How to regenerate the js file ？

[2021-08-01 20:41] lwq057 commented on #5221
`D:\WEB\humhub-1.9.0\protected\humhub\modules\stream\resources\js\humhub.stream.Stream.js`

addResponseEntries add code:

[code]

[2021-08-01 22:26] lwq057 commented on #5221
`php yii asset humhub/config/assets.php humhub/config/assets-prod.php`

[2021-08-01 22:26] #5221 closed

[2021-08-02 06:11] sakurafarm commented on #5189
@luke @yurabakhtin
It seems that my initial explanation was inadequate.
I've applied this fix and confirmed that the tags on the profile page and space settings still need to be at least 3 characters to be registered.

![2021-08-02_14h50_35](https://user-images.githubusercontent.com/38252517/127811131-16a9e9e1-d896-4284-adcf-f2b08c28a380.png)
![2021-08-02_14h53_09](https://user-images.githubuserco

[2021-08-02 06:38] yurabakhtin commented on #5189
@sakurafarm We changed this to 2 chars only for space in the first PR here https://github.com/humhub/humhub/pull/5207/files#diff-848966e98b4adcb8cabe5fd615ec83c30b2ae7a47593140b7d9f05b6b863e02fR33:

![space_tags](https://user-images.githubusercontent.com/6995524/127814903-394655c3-5af1-4183-9c49-d3aea14578c8.jpeg)

@luke- Should we apply the same for user tags?

![user_tags](https://user-images.gi

[2021-08-02 07:16] sakurafarm commented on #5189
I think that the minimum character limit for profile tags should be the same as for spaces.

I don't understand why there is a distinction between the minimum number of characters in tags for profile and space.

There are several languages that use kanji, not just Japanese, and there are many words that are two characters long when expressed in kanji.

In Humhub v1.8, profile and space tags can be

[2021-08-02 09:58] yurabakhtin commented on #5215
@luke- I also found other similar places and fixed them all in PR https://github.com/humhub/humhub/pull/5222.

Also I find the old links in modules `enterprise-theme` and `custom-pages`, I will fix there too.

[2021-08-02 12:03] luke- commented on #5215
@yurabakhtin Yes thanks! For the custom pages issue I've created a new issue:
https://github.com/humhub/custom-pages/issues/192

[2021-08-02 12:03] #5215 closed

[2021-08-02 14:57] DC7IA commented on #3150
I have not implemented it, but others say it is not too difficult. :thinking:

[2021-08-02 15:28] yurabakhtin commented on #4133
@luke- Should we store the content in sessions or in database?

- Sessions: the content will be lost after closing browser, i.e. it will works only for closing tab.
- Database: we could store it per current user e.g. in the table `contentcontainer_setting`, but then we don't have this feature for anonymous users, and probably it is ok, because I don't know where they may post some data. But this w

[2021-08-02 17:23] superseby2 commented on #5096
Any news regarding this issue ?

[2021-08-02 17:25] superseby2 commented on #5095
Any update on this ?

Thx !

[2021-08-02 22:16] ArchBlood commented on #5095
Seems that the email purified the HTML encoding

[2021-08-03 05:09] joshmorenx opened #5223 "Add GPS or geolocation services in the social network."
I've tried the 'greenmeteor' plugin that used to give back the latitude and longitude from a user and both was inserted into the DB in their respective profiles, but now the project is archived, so please, make this real please!!

[2021-08-03 07:19] #5223 closed

[2021-08-03 07:47] funkycram opened #5224 "Add reply-to email in the settings"
### Is your feature request related to a problem? Please describe.

When a user receive a mail notification, sometimes he replies from his messaging software instead of going to the platform to reply online.

### Describe the solution you'd like

When replying by email to notification, an answering machine sends him an email to tell him it is not possible to reply by email, he must go online to th

[2021-08-03 09:03] yurabakhtin commented on #5216
@luke- Please note the button (Download/View) were built by handlers `FileHandlerCollection::TYPE_VIEW` and `FileHandlerCollection::TYPE_EXPORT`. The **core** download button was displayed by type `TYPE_VIEW` and the **onlyoffice** button "View document" is also displayed by the same type `TYPE_VIEW`. So in order to split them I decided to change the download button to type `TYPE_EXPORT`, see PR h

[2021-08-03 09:18] luke- commented on #4133
@yurabakhtin I would just store it in the browser locale storage? We could then add a flag in the Richtext Editor JS (saveStatebyId=true/false).

[2021-08-03 09:26] luke- commented on #5224
That would be a good thing. Are "Reply To" fields somehow treated negatively by spam filters?

[2021-08-03 09:43] funkycram commented on #5224
If reply-to email is configured properly (SPF, DKIM, etc.) it shouldn't be treated negatively by spam filters: https://stackoverflow.com/questions/29112817/will-setting-a-reply-to-address-at-a-different-domain-result-in-spam

My personal opinion: if in the future spam scoring becomes more strict, i think that if the reply-to email is on the same main domain (only the sub domain is different) and c

[2021-08-03 11:14] luke- commented on #5224
@funkycram We can only set the header if the field is set. Then everyone can decide for himself.

[2021-08-03 14:07] luke- commented on #5216
@yurabakhtin Good solution. We can adjust the OO button later if necessary. Is there anything against the current labeling?

![image](https://user-images.githubusercontent.com/4736168/128029659-495af8e0-2b89-445a-90ac-4f9e4cb50de3.png)

[2021-08-03 14:07] #5216 closed

[2021-08-03 14:14] luke- commented on #5096
@superseby2 Did you tried this with the latest 1.9 version?

[2021-08-03 14:17] yurabakhtin commented on #5216
@luke-

Nothing.

[2021-08-03 15:06] superseby2 commented on #5096
Nope. I haven't. I will and report back.

[2021-08-03 16:16] luke- commented on #5189
@yurabakhtin Can you please also reduce the limit for user profiles?

[2021-08-03 16:26] superseby2 commented on #5096
Yup. Bug seems to exist in 1.9.

[2021-08-03 16:29] luke- commented on #5096
@yurabakhtin  Can you check this please? Our new Richtext2HtmlMail parser should create a link here or?

[2021-08-03 16:30] #4830 closed

[2021-08-03 16:49] #1388 closed

[2021-08-03 16:50] luke- commented on #4180
Should be handled by `fcm-push` module

[2021-08-03 16:50] #4180 closed

[2021-08-03 17:43] superseby2 opened #5226 "Generating assets fails"
### What steps will reproduce the problem?

- running : php yii asset humhub/config/assets.php humhub/config/assets-prod.php

### What is the expected result?
- Command runs smoothly and bundles get created

### What do you get instead?

- command fails with message :

Loading configuration from 'humhub/config/assets.php'...
Collecting source bundles information...
Creating output bundle 'app':

[2021-08-04 05:54] superseby2 commented on #5226
I think I found the culprit
  js/humhub/humhub.ui.codemirror.js

 Patching it like this makes grunt happy.

     module.export({
-        init
+           init:init
     });
-});

[2021-08-04 06:12] yurabakhtin commented on #5095
@luke- PR https://github.com/humhub/humhub/pull/5227 - I have added a space around URLs in email.

[2021-08-04 08:09] yurabakhtin commented on #5189
@luke- PR https://github.com/humhub/humhub/pull/5228.

[2021-08-04 10:08] luke- opened #5229 "User Approvals - Use Richtext"
### Is your feature request related to a problem? Please describe.

We should use our Richtext Editor also for the e-mail approval/decline mails. The Richtext2HTMLEmail parser can then be used in the e-mail.

![image](https://user-images.githubusercontent.com/4736168/128163401-de2f0cc7-9c31-45cf-a05f-0e4e86cbec86.png)

It would be nice if we could disable some features like FileUpload/OEmbed in th

[2021-08-04 10:29] ArchBlood commented on #5229
Isn't that why $exclude is implemented?

[2021-08-04 13:45] luke- commented on #5189
@yurabakhtin Thanks!

[2021-08-04 13:45] #5189 closed

[2021-08-04 14:25] luke- commented on #5095
@yurabakhtin Thanks, can you please add some unit tests for this.

Especially with the RichTextParsers we should always add some unit tests, because there are always many output possibilities/combinations.

[2021-08-04 15:32] yurabakhtin commented on #5096
@luke- When we implemented the `RichTextToEmailHtmlConverter` we didn't remove the option `RichTextToHtmlConverter::OPTION_LINK_AS_TEXT => true`, do you remember why?
It seems we discussed this somewhere but I don't find where and don't see a reason to keep it, so I removed it and now links are rendered in email notifications.

PR https://github.com/humhub/humhub/pull/5231.

[2021-08-04 15:36] ArchBlood commented on #5229
Seen in this file it should be possible to do this very thing
https://github.com/humhub/humhub/blob/master/protected/humhub/modules/content/widgets/richtext/AbstractRichTextEditor.php

[2021-08-04 16:34] superseby2 opened #5232 "Having a line to indicate at which point we have some new content"
### Is your feature request related to a problem? Please describe.
Nope

### Describe the solution you'd like

We already have the number of unread content. Which is great !
When there are more than a coupple it is is hard to see where the new content ends.
Slack has some kind of red-line to indicate which part is not read yet.

Thx !

[2021-08-04 21:42] ArchBlood commented on #5229
Changing the following
[code]
to this should do what you're wanting done, not sure if `{displayName}`, `{loginLink}` or `{AdminName}` will be usable done this way though 🤔

[code]

[2021-08-05 05:08] superseby2 opened #5233 "Setting size for an image does not seem to be taken into account in email notification"
### What steps will reproduce the problem?

- create post with an image
- set a size to make the image fit nicely (400px)

### What is the expected result?

- THe image to have the size defined in the original post

### What do you get instead?

- On Gmail the image seems to be at the original size
- On fastmail the images stays within the bound of the email column

### Additional info

![fastmail

[2021-08-05 08:28] yurabakhtin commented on #5095
@luke- New tests for `RichTextToEmailHtmlConverter` in commit https://github.com/humhub/humhub/pull/5227/commits/71a405923fda9faabccbd46f3ebe1ba4a04d8212.

[2021-08-05 11:19] smitti commented on #5204
Thank https://github.com/luke- for support. My problem is solved.

[2021-08-05 12:49] yurabakhtin commented on #5229
@luke- PR https://github.com/humhub/humhub/pull/5234.

[2021-08-05 16:39] superseby2 opened #5235 "When you copy some content to another post, the images are shared. Hence, if you delete the original post, they are gone from the other one"
### What steps will reproduce the problem?

- create a post A with images
- save it
- copy all the content (text + images)
- paste into a new post B
- save it
- delete post A

### What is the expected result?

-> content from Post B remains the same

### What do you get instead?

-> images are gone from post B

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version

[2021-08-06 08:59] smashm commented on #5235
That is not a (only) problem of deleting the original. When you copy a post with picture that way, only yourself can see the picture (because of caching I think) in the copied post. Users, who never opened the original, can't see the picture.

Here the author's view. On the right one original (one was deleted), on the left both copies. You can see the difference between original an copy if you edi

[2021-08-06 17:37] luke- commented on #5095
@yurabakhtin Thanks!

[2021-08-06 17:37] #5095 closed

[2021-08-07 09:39] dreua opened #5236 "APCu causes errors when enabled on two separate HumHub instances running on the same host"
### What steps will reproduce the problem?
Habe two separate HumHub instances on the same Linux host.
Enable APCu caching on both.

### What is the expected result?
Selected caching type should have no impact other than performance.

### What do you get instead?
Errors, values from the other instance showing up and I'm a bit scared that it may have messed up even more.

### Additional info

| Q

[2021-08-08 05:09] lisandi commented on #3155
Hi Felli could you please correct the link- thanks. when following it shows "Oooops... It looks like you may have taken the wrong turn.
Could not find requested content!"

Thanks

[2021-08-08 07:43] funkycram commented on #5236
I confirm this problem.

[2021-08-08 07:50] funkycram opened #5237 "Impersonate not available if two-factor authentification is enable"
### What steps will reproduce the problem?

Go in "Administration" -> "Users"
Try to impersonate a user that have two-factor authentification enabled

### What is the expected result?

Be logged in to this user.

### What do you get instead?

This form:
Two-factor authentication
A confirmation code hast just been sent to your email address. Please enter the code from the email in order to proceed.

[2021-08-08 22:19] miqrogroove opened #5238 "Typo in Offline Page Text"
When viewing `offline.pwa.html` the text currently reads, "refresh this page once your are online again", with the word "you" misspelled.

This typo is still present as of v1.9.0

https://github.com/humhub/humhub/blob/64d439c03dc4d4cf090e5a7ea158a59135729b7b/protected/humhub/modules/web/pwa/views/offline/index.php#L45

https://github.com/humhub/humhub/blob/64d439c03dc4d4cf090e5a7ea158a59135729b7b/

[2021-08-09 06:15] Bust3r666 commented on #5204
Hi,

i have delete:
contentcontainer_tag table
contentcontainer_tag_relation table
AND
the column tags_cached of the contentcontainer table.

But now give me this error.

`       Yii Migration Tool (based on Yii v2.0.40)

Total 3 new migrations to be applied:
	m210211_051243_container_tag
	m210331_115144_default_timezone
	m210506_060737_profile_field_directory_filter

*** applying m210211_051243_c

[2021-08-09 12:10] luke- commented on #5096
@yurabakhtin Unfortunately, I don't know anymore either. Maybe it had something to do with linked images?
I would say we should just take the option out. But can you please add a test for it?

[2021-08-09 12:18] yurabakhtin commented on #5238
@luke- PR https://github.com/humhub/humhub/pull/5240.

[2021-08-09 16:55] #5238 closed

[2021-08-10 12:27] luke- commented on #5229
@yurabakhtin Please see my review

[2021-08-10 13:32] yurabakhtin commented on #5096
@luke-

It worked well:

**Linked image:**
<img width="804" alt="test_linked_in_email" src="https://user-images.githubusercontent.com/6995524/128874396-4439b962-f6c4-4a15-8916-5b4ccd4aec42.png">

**Link with text:**
<img width="663" alt="test_link_in_email" src="https://user-images.githubusercontent.com/6995524/128873058-46aafbd8-2d72-4cbb-88b2-9aa99bb1a415.png">

We already have a test `RichTextT

[2021-08-11 09:31] yurabakhtin commented on #5229
@luke- I answered there.

[2021-08-11 15:54] luke- commented on #5096
@yurabakhtin Thanks!

[2021-08-11 16:43] #5229 closed

[2021-08-12 13:44] ernie-sys commented on #893
+1

[2021-08-13 12:13] yurabakhtin commented on #4133
@luke- PR https://github.com/humhub/humhub/pull/5242, how it works:

- Each 3 seconds(`AbstractRichTextEditor::backupInterval = 3`) a content is backuped by AJAX request in Sessions; the AJAX request is called only when content was really changed.
- It works only for editors with specified ID, like this `RichTextField::widget(['id' => 'contentForm_message'...`, because if ID is not defined then it

[2021-08-13 14:17] yurabakhtin commented on #5170
@luke- Ok, I have modified the library in PR https://github.com/humhub/humhub-prosemirror/pull/63, after it will be merged we can merge core PR https://github.com/humhub/humhub/pull/5243.

[2021-08-14 15:51] ArchBlood commented on #3191
@luke- could this be closed due to the following being implemented or is this function something separate from what's being asked for?

https://github.com/humhub/humhub/blob/498a457a809879470de039d3aa757179c5876734/protected/humhub/modules/user/Module.php#L100-L104

[2021-08-14 22:09] ArchBlood opened #5244 "Registration token rendered using PHP 8.0.9"
### What steps will reproduce the problem?
1. Switch to PHP 8.0.9
2. Use PHP to send mail
3. Register an account normally
4. Check email for token through HTML and plaintext

### What is the expected result?
The token generated shouldn't show a `3D` before the token and after `=` which should match the database entry

### What do you get instead?
https://github.com/humhub/humhub/pull/5234#issuecom

[2021-08-15 20:53] samuk commented on #893
This is working for me now: https://github.com/StevenJoynt/HumHub-RSS-Reader

[2021-08-15 20:59] ArchBlood commented on #893
Remember to also read the following from the README.md

[2021-08-16 08:07] Bust3r666 opened #5245 "Error Database Migration"
Hi,
After previously migration errors i have delete:

contentcontainer_tag table
contentcontainer_tag_relation table
AND
the column tags_cached of the contentcontainer table.

But now give me this error.

Yii` Migration Tool (based on Yii v2.0.40)

Total 3 new migrations to be applied:
m210211_051243_container_tag
m210331_115144_default_timezone
m210506_060737_profile_field_directory_filter

*** a

[2021-08-16 11:21] luke- opened #5246 "Notification List - Bulk select & mark as seen"
It would be good to have the possibility to mark several notifications as read at once, or to delete them.

This could be realized with checkboxes on the Notificiation LIst page.

![image](https://user-images.githubusercontent.com/4736168/129555660-e09eaf56-f083-48ad-863f-0d36a03b1a0d.png)

[2021-08-16 12:26] #4369 closed

[2021-08-16 15:29] luke- commented on #5244
@ArchBlood I cannot reproduce this with PHP 8.0.9.

[2021-08-16 15:35] ArchBlood commented on #5245
What database driver are you using, MariaDB, MySQL, or other?
Are all your collation tables and collations `utf8mb4_unicode_ci`?
Are you using the InnoDB or MyISAM table engine?

Overall you're only giving limited information
See #4946 as well as #5204 for more information about this issue

[2021-08-16 15:36] luke- commented on #5245
Please use
https://github.com/humhub/humhub/issues/5245#issuecomment-899607550

[2021-08-16 15:36] #5245 closed

[2021-08-16 15:47] luke- commented on #3191
@ArchBlood No, the support here is not yet complete. Currently it works only for LDAP users.

[2021-08-16 15:53] luke- commented on #4133
@yurabakhtin Is there a reason why we don't save it to the browser's LocalStroage via javascript? That sounds somehow more elegant to me.

[2021-08-16 21:36] ArchBlood commented on #3191
Good to know, then there is something to build on 😄

[2021-08-17 11:48] yurabakhtin commented on #5204
@luke- PR https://github.com/humhub/humhub/pull/5248: I have implemented new methods in the core `\humhub\components\Migration` in order to run safe migrations when table, column or indexes already exist in DB, they all existing will be skipped like this:

<img width="1280" alt="fix_migration_container_tag" src="https://user-images.githubusercontent.com/6995524/129720323-1d1690d6-7eb0-4e6b-bb1e-38

[2021-08-18 09:23] yurabakhtin commented on #4133
@luke- Ok, I have redone this in commit https://github.com/humhub/humhub/pull/5242/commits/e1a6954d749b0dac6b8152855da8fead296671f2.

[2021-08-18 21:55] ArchBlood commented on #4990
@luke- with resent reports to the community site maybe it would be a good idea to pin this issue? As it seems to continue to be asked about even in v1.9

https://community.humhub.com/s/general-discussion/?contentId=243890

[2021-08-19 05:38] tomofu74 opened #5251 "User registration failed when Profile field set Fieldtype to 'Checkbox' and 'Required', 'Show at registration'."
### What steps will reproduce the problem?
1. Administrator make a new profile field and set FieldType to 'Checkbox', 'Required' and 'Show at registration'.
2. Administrator send an invite e-mail.
3. E-mail reciever access to registration page and edit his/her profile. Then, He/She submit but registration page not move to dashboard. (Registration has not finished.)

### What is the expected result

[2021-08-21 17:58] luke- commented on #4133
@yurabakhtin Looks good! What is needed to enable the feature e.g. in the comment field or is that already by default?

[2021-08-21 18:13] ArchBlood commented on #4133
I think it should be enabled by default to be honest with a similar dropdown as the `Dashboard` and other functions from the Basic Settings

[2021-08-21 18:55] luke- commented on #4133
@ArchBlood I have seen something with random IDs. if that is so, a default saving at least with random IDs is unfortunately not possible.

[2021-08-21 19:25] ArchBlood commented on #4133
Hmm, could token-generated and stored as JSON options not be possible? I think it should do in such cases then classify a time when the JSON is deleted or updated, although I don't think it would be possible in custom modules that use the RichText editor without a deeper integration 🤔

[2021-08-22 10:54] Bust3r666 commented on #5204
Sorry, i din't understand to implement it.

I need to change \humhub\components\Migration.php code?

[2021-08-22 16:54] ArchBlood opened #5254 "Space Join Activity"
### Is your feature request related to a problem? Please describe.
Currently, when you join a Space it shows individual spaces that the person has joined in mass separate activities, this then floods the Latest Activities widget as well as emails sent to users, this shouldn't be the norm (see the [community site](https://community.humhub.com/dashboard) for example)

### Describe the solution you'd

[2021-08-22 17:14] luke- commented on #5204
@yurabakhtin Thanks!

@Bust3r666 With 1.9.1 your issue should be solved.

[2021-08-22 17:14] #5204 closed

[2021-08-22 17:16] luke- commented on #4990
@ArchBlood Ok, I'll pin this issue for some time.

[2021-08-22 17:17] #4990 closed

[2021-08-22 17:19] luke- commented on #5254
@ArchBlood Thanks, This is already planned here: https://github.com/humhub/humhub/issues/3430

[2021-08-22 17:19] #5254 closed

[2021-08-23 07:46] yurabakhtin commented on #4133
@luke-

It is enabled by default. But it works only for textareas with defined id as I wrote above in the comment https://github.com/humhub/humhub/issues/4133#issuecomment-898416694.

[2021-08-23 08:53] luke- commented on #4133
@yurabakhtin  Ok thanks I see, was just a little confused about the comment in the PR code, now I got it :-)

Can you please add that with the backup, that an ID must be set, somewhere in the class header doc comment? It is otherwise later difficult to find out what is needed here.

[2021-08-23 14:51] yurabakhtin commented on #4133
@luke- I added a doc comment in the commit https://github.com/humhub/humhub/pull/5242/commits/cc5426dc436160d4243a7357c6ae467a7fd0240e.

[2021-08-23 16:38] luke- commented on #4133
@yurabakhtin Thanks!

[2021-08-23 16:38] #4133 closed

[2021-08-23 23:28] ArchBlood opened #5255 "New Username & Email Change Form"
### Is your feature request related to a problem? Please describe.
Currently, there is an option to change the username as well as the user's email, I'd like to suggest changing this up a little bit, as in some communities site owners don't want a user to have the ability to change either which currently is the issue we're facing.

### Describe the solution you'd like
We'd like to suggest a new fo

[2021-08-24 07:28] luke- opened #5257 "Delete Old Unread Notifications"
### Is your feature request related to a problem? Please describe.

- Unread notifications are never deleted
- The time for deletion cannot be changed via the configuration file (module class).

See:
https://github.com/humhub/humhub/blob/master/protected/humhub/modules/notification/Events.php#L146

### Describe the solution you'd like

- Delete unread notifications by default after 3 months
- Dele

[2021-08-24 10:34] RoundAboutWEB opened #5258 "Who invited new user?"
Transfer the "Invited by" column to the "Pending approvals" display as well. \
This would facilitate the administrative work.

[2021-08-24 13:27] yurabakhtin commented on #5257
@luke- PR https://github.com/humhub/humhub/pull/5260.

[2021-08-25 16:08] luke- commented on #5257
@yurabakhtin Thanks!

[2021-08-25 16:08] #5257 closed

[2021-08-26 00:59] ArchBlood opened #5262 "Add new user doesn't acknowledge $emailRequired"
The following line ignores email required regardless of being set to `true` or `false` in `/protected/humhub/modules/user/Module.php`
https://github.com/humhub/humhub/blob/6c0afe347e8278326a91da05fdad3395ed7dccad/protected/humhub/modules/user/models/User.php#L168-L170

### Current Add new user form
![Screenshot_2](https://user-images.githubusercontent.com/35392110/130882859-cea67356-95c7-4c9e-b3b5

[2021-08-26 09:02] funkycram opened #5263 "Allow members of groups other than sys admin to view all content"
### Is your feature request related to a problem? Please describe.

If the Content module properties `adminCanViewAllContent` or `adminCanEditAllContent` are changed in the `protected/config/common.php` file, the modified values applies only to sys admin.

In some cases, we need to let others groups members than sys admin to be able to view or edit users contents (e.g. moderators).

### Describe t

[2021-08-26 14:17] #5262 closed, assigned to yurabakhtin

[2021-08-29 19:00] luke- commented on #3396
Please reopen if the problem still exists.

[2021-08-29 19:00] #3396 closed

[2021-08-30 14:17] luke- opened #5265 "Logging shows not entries"
### What steps will reproduce the problem?

If called initially the logging section sometimes doesn't show any entries.

![image](https://user-images.githubusercontent.com/4736168/131353369-b4730d69-aff0-4007-87da-71de3c5693af.png)

At "select category" there are logigng categories. If select "Select category" again, I receive following output

![image](https://user-images.githubusercontent.com/47

[2021-08-30 17:35] yurabakhtin commented on #5143
@luke- @funkycram Fixed in PR https://github.com/humhub/humhub/pull/5266.

[2021-08-30 17:40] luke- commented on #5143
@yurabakhtin Thanks!

[2021-08-30 17:40] #5143 closed

[2021-08-30 17:58] yurabakhtin commented on #5265
@luke- When I open the page from any other page I get URL `http://humhub.local/admin/logging` and in all cases even on many times page reloading I always see the filter Level = "Error":
<img width="1515" alt="logging_initial_page" src="https://user-images.githubusercontent.com/6995524/131383122-c6dcaf01-137f-480c-9943-98b133cd905e.png">

I can get the page without filters if I manually remove the

[2021-08-30 18:40] luke- commented on #5265
@yurabakhtin fyi, I've send you the link to a example site. Seems it's caused because there are no "Error" entries.

[2021-08-30 19:03] yurabakhtin commented on #5233
@luke- I could find a way to test with gmail, but as written here https://developers.google.com/gmail/design/css, styles from `<style>`(https://github.com/humhub/humhub/blob/master/protected/humhub/views/mail/layouts/html.php#L61) should work on gmail side

<img width="870" alt="email" src="https://user-images.githubusercontent.com/6995524/131391117-d6bc5f60-d804-4f80-8ed8-4c25409d027b.png">

[2021-08-30 19:29] yurabakhtin commented on #5265
@luke- I fixed in PR https://github.com/humhub/humhub/pull/5267, now it looks like this when no "Error" logs:

<img width="1156" alt="fixed_log_error" src="https://user-images.githubusercontent.com/6995524/131394203-cc861f49-f0b9-4106-b1bd-64f76fe11bb4.png">

If you think we should not use the default filter level "Error" let me know.

[2021-08-31 07:37] funkycram commented on #5143
Thanks @yurabakhtin !

[2021-08-31 13:12] luke- commented on #5170
@yurabakhtin Thanks looks good so far.

Can we please reduce the list to max. 6 entries. (Would be great if this value can be overwritten using config file).
![image](https://user-images.githubusercontent.com/4736168/131505748-a9dd531e-36d5-45f7-a191-eeab55e0526b.png)

- For Posts in Spaces: It would be good if we could always display the last 6 active Space members (space_membership.last_visit -

[2021-08-31 13:35] luke- commented on #5265
@yurabakhtin Thanks, that should be ok!

[2021-08-31 13:35] #5265 closed

[2021-09-01 02:13] patricedelavictoire commented on #5210
Bonjour avez vous trouvé la réponse ? J'ai le même problème avec 1.9 merci.

[2021-09-01 06:44] yurabakhtin commented on #5170
@luke- Please note currently the mentioning URL doesn't contain data like current Space, Post, Comment, so there we just search between All Users and Spaces. I have ordered Users by `user.last_login`, this column doesn't have db index and `space_membership.last_visit` doesn't have db index too. Should I find a solution to send different mentioning URL depending on where it is called, i.e. send add

[2021-09-01 12:35] yurabakhtin commented on #5233
@luke- Sorry, I could find a way to test this from local server, can you have an availability to test this and show why gmail ignores `<styles>` from `<head>`, if yes then we can try to use inline style per each image, but I wouldn't like this solution.

@superseby2 Do you see the broken email from browser? or do you use some another client tool to see emails? If you can please tell us what tool y

[2021-09-01 12:45] superseby2 commented on #5233
@yurabakhtin I am seeing this from the classical gmail accessed from a chrome-based web browser.

[2021-09-02 14:42] luke- commented on #5170
@yurabakhtin Yes, would be great if you could use somehow different mentioning urls OR add context (space. content) to the mentioning URL.

e.g. https://github.com/humhub/humhub/blob/master/protected/humhub/modules/user/Module.php#L140
You could add here a `mentioningSearchBoxResultLimit=6`

[2021-09-03 09:54] yurabakhtin commented on #5170
@luke- Commit https://github.com/humhub/humhub/pull/5243/commits/d97ac811183503fa4cd75740bca3b0aa036e5876:

I have done this by implementing 2 new separate actions `/search/mentioning/post-space-members` and `/search/mentioning/comment-content-followers` specially for Post and Comment forms, in all other cases we still use the previous action `/search/mentioning/index`.

Please note all these 3 ac

[2021-09-03 11:48] luke- commented on #5170
@yurabakhtin Please see my PR review.

Thanks for the hint about the Spaces. Let's keep it that way for now.

[2021-09-03 14:24] yurabakhtin commented on #5170
@luke- I have done new changes in commit https://github.com/humhub/humhub/pull/5243/commits/98f9b48dfd66ac6b69d9a87f3465a51a73477f7e for your PR review, but please read my answers there.

[2021-09-04 08:28] dreua opened #5270 "Information/Logging shows "0 entries" even if there are Info and Warning level entries"
### What steps will reproduce the problem?
1. You will need a HumHub instance which has no error messages but Info or Warning messages in its Logs.
2. Go to Administration/Information/Logging

### What is the expected result?
Info / Warning messages should be shown since the "Select level" field is empty, i.e. I assume that there is no filtering in place.

### What do you get instead?
"Total 0 ent

[2021-09-04 08:47] dreua opened #5271 "Tif file creates warning each time the space is accessed"
### What steps will reproduce the problem?
1. Attach a tif / tiff file to a post.
1. Navigate to  the space / user containing this post.
2. Check Information -> Logging (Be aware of #5270 )

### What is the expected result?
Either convert/show the tif correctly or ignore it, but don't spam the log on each space access.

### What do you get instead?
[code]

### Additional info
Not installed: PHP -

[2021-09-04 09:48] ArchBlood commented on #5271
At least one of the image libraries should be installed and enabled in such cases :thinking:

[2021-09-04 13:10] dreua commented on #5271
@ArchBlood Is this a guess, knowledge or official statement?
I don't have those installed because I couldn't find packages for CentOS 8 and I didn't compile/install them myself yet, because everything else seems to work just fine. I'm not that deep into this topic, but it [looks like GD should be able to process TIFFs](https://libgd.github.io/manuals/2.3.0/files/gd_tiff-c.html) as well.

[2021-09-05 02:59] ArchBlood commented on #5271
Small and easy tutorial on installing it for CentOS 8
https://idroot.us/install-imagemagick-centos-8/

Looking at the PHP manual;
https://www.php.net/manual/en/intro.image.php

In addition, if you want to see which formats are supported by your GD library you could of course use the following by creating a file then navigating to `yourdomain.com/example.php`

[code]

Of course, I would still insta

[2021-09-05 03:04] ArchBlood commented on #5271
As for the general term `TIFF`, just because it claims to support it, doesn't mean that it's fully supported both versions of the extension, as `TIF` is mostly used in older file systems while newer ones fully support `TIFF` and sometimes have `TIF` disabled or not supported 🤔

[2021-09-05 12:16] luke- commented on #5270
Should be fixed here: https://github.com/humhub/humhub/issues/5265

[2021-09-05 12:16] #5270 closed

[2021-09-05 17:11] luke- commented on #5170
@yurabakhtin thanks!

[2021-09-05 17:11] #5170 closed

[2021-09-06 08:02] funkycram opened #5273 "Profile fields that are not editable should be disabled in account profile fields edition"
### What steps will reproduce the problem?

Create a profile field with type "Checkbox list" (text input hasn't got the bug, it is correctly disabled, but I didn't try all field types).
Untick "Editable" but "Visible" must be ticked.

### What is the expected result?

Edit profile account (/user/account/edit) : the profile field should be visible but grayed and not editable.

### What do you get i

[2021-09-06 09:01] yurabakhtin commented on #4558
@luke- Do I understand you correctly we should modify in all places like this:

- `$space->getAvailableModules()` => `$space->getModuleManager()->getAvailable()`
- `$user->disableModule($module)` => `$user->getModuleManager()->disable($module)`
- etc.

?

[2021-09-06 09:07] luke- commented on #4558
Yes.

Maybe `$space->moduleManager->getAvailable()`would be better instead of `getModuleManager()`?

[2021-09-06 13:24] yurabakhtin commented on #4558
@luke- Yes, you are right the `$space->getModuleManager()` is called from magic method `__get()`, ok I will use the `$space->moduleManager->...` instead.

[2021-09-06 16:16] yurabakhtin commented on #4558
@luke- Core PR https://github.com/humhub/humhub/pull/5274,
module PRs:

- https://github.com/humhub/calendar/pull/253
- https://github.com/humhub/cfiles/pull/136
- https://github.com/humhub/custom-pages/pull/195
- https://github.com/humhub-contrib/external_calendar/pull/29
- https://github.com/humhub-contrib/gallery/pull/87
- https://github.com/humhub/meeting/pull/13
- https://github.com/humhub/ne

[2021-09-06 16:33] atk87a commented on #4990
I got the same problem here. what is the way to get this fixed?

`MySQL - Table engines - MyISAM, InnoDB - Varying table engines are not supported. (Hint: Recommended engine is InnoDB for the tables: activity, calendar_entry, calendar_entry_participant, calendar_reminder, calendar_reminder_sent, cfiles_file, cfiles_folder, comment, content, content_bookmark, content_tag, content_tag_relation, cont

[2021-09-06 16:35] luke- commented on #4990
@atk87a Maybe this helps: https://stackoverflow.com/questions/3856435/how-to-convert-all-tables-from-myisam-into-innodb

[2021-09-06 17:00] ArchBlood commented on #4990
For those that have phpMyAdmin installed there is an easier method under `Your Database > Operations > Collation` then you can easily use `ALTER TABLE table_name ENGINE=InnoDB;`, where `table_name` refers to the table name that you're wanting to change, to convert to the required and recommended engine, of course, if you have a newer version of phpMyAdmin you could also manually go through each of

[2021-09-06 17:07] luke- commented on #4558
@yurabakhtin Awesome, thanks for the overview!

[2021-09-06 17:07] #4558 closed

[2021-09-06 17:55] atk87a opened #5275 "No access to directory/spaces as admin"
I mentioned that i cant access directory/spaces as a user or admin.
humhub says no access.
There is no entry in the protocol.
I use the latest version, but it also was an issue before the update.

Maybe a database problem?

Is there a way to fix this?

[2021-09-06 18:29] ArchBlood commented on #5275
Not sure why you're not able to access as an admin in previous versions but it is now permission-based as of 1.9.x

![Screenshot_1](https://user-images.githubusercontent.com/35392110/132252495-73621bea-8db4-4b3e-ac15-c7a4c2e21192.png)

If you're using a custom theme that uses the old, now deprecated Directory core module, then you will have to update your theme to comply with the new changes, the

[2021-09-06 19:53] luke- commented on #5275
@atk87a The `/directory` module is not longer available with Humhub 1.9+

[2021-09-07 06:36] funkycram commented on #5005
It seems that PR #5164 has not been integrated into Humhub 1.9 (it should have been in beta 2 ([see here](https://github.com/humhub/humhub/blob/714a136ce54fbdf04bde542139b9a0bf0f075a2d/CHANGELOG_DEV.md)) but unfortunately it has not ([see releases](https://github.com/humhub/humhub/releases)) and it is not in the [Develop changelog](https://github.com/humhub/humhub/blob/develop/CHANGELOG_DEV.md) fo

[2021-09-07 07:36] yurabakhtin commented on #5005
@funkycram Yes, you are right it will be included in next release probably in `1.10.0-beta.1`, because current version of the `develop` branch has such version.
The `develop` branch had version `1.9.0-beta.2` at that moment when I developed the PR https://github.com/humhub/humhub/pull/5164, but it is still not merged into `develop`.

@luke- Should we move the doc https://github.com/humhub/humhub/p

[2021-09-07 08:12] luke- commented on #5005
@yurabakhtin Oh yes, would be great if you move the changelog entry to the proper version.

[2021-09-07 08:38] funkycram opened #5276 "On user registration, avoid warning if username contains special chars"
### Is your feature request related to a problem? Please describe.

When creating an account, on the registration form, if the username field contains special characters such as space, accent, etc., a warning message tells the user "Username contains invalid characters.".

Nowadays, users are not used to understanding which special characters are not allowed, so it creates a bad experience for the

[2021-09-07 11:59] atk87a commented on #5275
ah, ok. this explains the problem with the missing directory/ path.
thank you all!

[2021-09-07 11:59] #5275 closed

[2021-09-07 12:11] yurabakhtin commented on #5005
@luke- Ok, I have synced the PR with `develop` branch here https://github.com/humhub/humhub/pull/5164/commits/0500f5d44bb0da23f737e33e2d35f646d722e043.

[2021-09-08 09:16] luke- commented on #5276
Hmm, I would not automatically change the username after submitting, because then the user may not know his own username.

Maybe we can make the error message clearer and show allowed characters? Or remove invalid characters automatically only after the error message?

[2021-09-08 10:12] ArchBlood commented on #5276
I prefer the method of replace, if a user adds a space in their username then the space is replaced with `-` or `_`, the results are far better than throwing an error, of course a message mentioning such a replacement wouldn't be harmful and recommended, the same should be said for if a user fills in their First and Last name fields and forgets their username, the username field should then defaul

[2021-09-08 10:31] yurabakhtin commented on #3546
@luke- PR https://github.com/humhub/humhub/pull/5278:

<img width="481" alt="relogin" src="https://user-images.githubusercontent.com/6995524/132494041-292d27c6-ba6b-4add-9a80-0e8ebb34af63.png">

[2021-09-08 13:16] henriquetguedes opened #5279 "Ability to disable sorting by last login"
### Add the option for administrators to disable "last login" as an option for sorting in the reworked People section (formerly part of Directory)

This option is regarded by users as enabling a kind of "attendance-policing" by their peers who can constantly check whether or not they have logged in and it should thus be possible to disable that option..

[2021-09-08 15:44] ArchBlood commented on #3546
I like the idea behind this, although I think it would be easier if you place and `if ($impersonate) {} else { $logout}` here, remove the extra account menu item all together

[2021-09-08 16:19] luke- commented on #3546
@yurabakhtin can you please see my review.

[2021-09-08 16:19] luke- commented on #3546
@ArchBlood Can you please give an example?

[2021-09-08 23:27] ArchBlood commented on #3546
@luke- just like @yurabakhtin's example but instead of adding `Sign-in back as Yura Bakhtin` as a separate item use an `if ()` clause to replace the `Logout` if you're impersonating another user otherwise the Logout item will remain, at least that is how it would work 🤔

[2021-09-09 07:42] yurabakhtin commented on #3546
@luke-

I have done changes there for your review.

As I understand @ArchBlood wants to display only single the new "Stop impersonation" instead of the "Logout", let me know if I should do this.

[2021-09-09 08:30] funkycram opened #5280 "Allow to set the number of contents from which "Show {i} more." appears in the stream"
### Is your feature request related to a problem? Please describe.

For instance, create 3 events in the calendar.
Only 2 will appear on the wall stream.
To see the third one, you need to click the link "Show 1 more."

Many people are not used to that and do not see the third content because nowadays, the stream runs down the page by itself.

### Describe the solution you'd like

In https://github

[2021-09-09 13:55] luke- commented on #564
**Concept**

- Add  User Picker with `Blocked users` in `Account -> Settings`
- `Mail Modul` should use these users
- Don't show any entries in Stream & Activites of blocked users. Inside module views e.g. Files module, regulary show contents of blocked users
- Don't allow access to own profile if visitor is blocked
- Don't allow Mentioning by blocked users
- Comments of a blocked users: Only show

[2021-09-09 15:01] theobouwman opened #5281 "Docker Deployment"
Hello,

Is there a guide to deploy humbug with docker?

thanks in advance.

[2021-09-09 15:50] funkycram opened #5282 "On account creation, registration form has HTML tag set with English language"
### What steps will reproduce the problem?

Create an account.
On registration form, with have `<html lang="en">` even if the form language is in an other language (du to `allowedLanguages` param).

Problem: Google Chrome thinks the page is in English, and tries to translate the form from English to the browser's language. This transforms the text badly as the language was already correct.

### Wh

[2021-09-09 15:53] funkycram commented on #5282
See https://github.com/humhub/humhub/pull/5283

[2021-09-10 06:34] optitsolutions opened #5284 "stream entry based deactivation of comment function"
We have general posts in a Space for the information of all members. These posts should not be commented on.

It would be handy if there was a "disable comments" option when creating entries.

Are there alternatives to achieve this goal? I have not identified any.

[2021-09-10 12:01] yurabakhtin opened #5285 "Main layout width"
### What steps will reproduce the problem?

<img width="1153" alt="main_layout_width" src="https://user-images.githubusercontent.com/6995524/132850238-9f786640-947c-4551-88a1-e96bc2190647.png">

| Q                | A
| ---------------- | ---
| HumHub version   | 1.9

[2021-09-10 15:43] luke- commented on #5284
Currently it is only possible to disable the comment function on Space level.

With HumHub 1.10 it will be possible to disable comments for certain content.
See: https://github.com/humhub/humhub/issues/4495

[2021-09-10 15:43] #5284 closed

[2021-09-10 16:44] luke- commented on #5282
@funkycram Great, thanks!

[2021-09-10 16:44] #5282 closed

[2021-09-10 16:45] #5281 closed

[2021-09-10 16:45] luke- commented on #5281
You may take a look here. https://github.com/mriedmann/humhub-docker

[2021-09-10 17:31] luke- commented on #3546
@yurabakhtin Thanks

@ArchBlood I would like to keep it that way for now, that both options are available. Maybe we can improve this again in the future.

[2021-09-10 17:34] luke- commented on #3546
@yurabakhtin That would be nice: https://github.com/humhub/humhub/pull/5278#pullrequestreview-749352663

[2021-09-12 17:11] randrums opened #5286 ""Warning incomplete Setup" Tasks (cron) job - Notifications not seemingly working - showing up hours later."
### What steps will reproduce the problem?
I've tried the steps mentioned in the documentation, such as adding the
/usr/bin/php /path/to/humhub/protected/yii queue/run --isolate=0
or this
/usr/bin/php /path/to/humhub/protected/yii queue/run >/path/to/queue.log 2>&1

And then I cleared the Cron queue, but I still can't figure out why this error is happening. I'
![image](https://user-images.githubus

[2021-09-12 18:40] ArchBlood commented on #5286
As the error suggests you're not defining the path to your HumHub instance;

e.g. `/path/to/humhub/protected/yii` must be **_your_** file path to the directory of `/protected/yii` which in your case it would be `/home/randymed/public_html/protected/yii` if you're using say CPanel then you would want to be using `/usr/local/bin/php` not `/usr/bin/php`, I would also like to note that `--isolate=0` s

[2021-09-12 18:42] ArchBlood commented on #5286
As for the screenshot shown it is the `cron/run` that is causing the error and it should be done similar to the `queue/run` for the path (i.e. `/usr/local/bin/php /home/randymed/public_html/protected/yii cron/run >/dev/null 2>&1`)

[2021-09-12 18:51] randrums commented on #5286
Thank you so much for the detailed response. I have changed the settings to fix that area / path I did incorrectly. I'm still getting the error, but maybe it will goa away on the next "cron job". This is the area I have in my "Current Cron Jobs" section of my A2 Hosting cPanel. I don't have VPS, so I can't really change anything except here:

![image](https://user-images.githubusercontent.com/7325

[2021-09-12 18:53] randrums commented on #5286
I spoke too soon, the error is gone! Thank you so much for your help. I can't thank you enough.

[2021-09-12 18:56] randrums commented on #5286
The other part I feel like I need to improve with my humhub install, is the notifications. I have a dummy user I created to post replies, to my normal user account, but the notification area / bell at the top never shows any new notifications right away. It maybe takes 60 seconds. NOT a deal-breaker obviously - as I haven't found a better self-hosted Social network than HumHub in all the others I'

[2021-09-12 19:06] ArchBlood commented on #5286
Sorry in advance, sadly I do not have any solutions for the notifications area, we can only hope that it will be done in the core soon

[2021-09-12 19:08] randrums commented on #5286
Thank you again!

[2021-09-12 19:08] randrums commented on #5286
Thank you!

[2021-09-13 06:39] yurabakhtin commented on #3546
@luke- Done - https://github.com/humhub/humhub/pull/5278#discussion_r707043383.

[2021-09-13 09:02] luke- commented on #3546
Thanks!

[2021-09-13 09:02] #3546 closed

[2021-09-13 12:51] luke- commented on #5280
@funkycram Sounds good. I first assumed that it is already configurable :-)

[2021-09-14 07:38] gamersalpha opened #5287 "Members page - Adding some titel - phone number"
Hello, how i can add information on the member page please ?

like titel, number phone, can i add some information for evry contact, on this member page

how do that please?

thanks

[2021-09-14 10:10] ArchBlood commented on #5287
Under the People setting in the administration panel you can add profile field information

[2021-09-14 10:15] #5287 closed

[2021-09-14 14:15] luke- commented on #5285
@yurabakhtin Thank you for the report.

The problem seems to affect all Space or Profile pages that do not use a sidebar/snippet column.

Can you check if you can find a solution here?

[2021-09-15 15:14] funkycram commented on #5280
@luke- https://github.com/humhub/humhub/pull/5288

[2021-09-15 15:45] TheDevPlutonum commented on #1951
Any update on this? It's quite annoying to have to follow every user that joins to actually see anything on my feed.

[2021-09-15 16:07] luke- commented on #1951
To solve the problem, I would suggest:

We don't automatically show all contents from Spaces with guest access in the guest dashboard stream, instead we let the admin define from which Spaces content should be shown to guests. (Similar to Default Spaces for Registered Users)

If you want to display the same content for registered members, you have to set Default Spaces and the new "Default Spaces

[2021-09-15 16:20] #5280 closed

[2021-09-15 19:39] funkycram commented on #3050
@luke- I do not see this problem anymore, you can close this issue if outdated.

[2021-09-15 19:39] #3158 closed

[2021-09-15 20:26] cybrpimp opened #5289 "Can't login; wrong password with valid password, Admin saved password not working either"
# Can't login; wrong password

![image](https://user-images.githubusercontent.com/61793417/133504482-0deaf8b7-6f05-4a8b-8130-3e2d0f9d2e2c.png)

We have a user we created in a new demo instance of Humhum and added some users.  One of the users we saved the password but can not log in.

So lets assume we screwed the pooch and got passwords mixed up.

![image](https://user-images.githubusercontent.co

[2021-09-15 22:07] cybrpimp opened #5290 "Cant configure Mailgun"
I create a new user in Mailgun and when entering the settings for port 465 with SSL, we get test is unsuccessful.  Tried every combination after that I could.  TLS on each, then 25 with out encryption, etc.

Is the Mailgun Integration been tested lately?  Would could be other issues?

On a possible other notes, I'm have a very weird user password won't save type issue and that could be a readonly

[2021-09-15 23:28] cybrpimp opened #5291 "Cant delete user as Administrator"
We do not seem to be able to delete a user in the Adminstration.

| Q                | A
| ---------------- | ---
| HumHub version   | 1.?
| PHP version      |
| Operating system |

[2021-09-16 05:01] yurabakhtin commented on #5285
@luke- PR https://github.com/humhub/humhub/pull/5292:

<img width="1164" alt="fixed_main_layout" src="https://user-images.githubusercontent.com/6995524/133552216-79f04bb5-556a-47dd-9912-4b5a85a0570a.png">

Please note I removed the text color `#123456` from here https://github.com/humhub/humhub/pull/5292/files#diff-253504ccb914db6269dd51736a32292747cc1bccb65f52102f08112bc24d3a0bL99 because it look

[2021-09-16 10:10] ArchBlood commented on #5289
Is this a fresh install or updated from an older version?

Currently I'm seeing no issues with the login function, is the password field being shown in the database as filled out? :thinking:

[2021-09-16 10:14] ArchBlood commented on #5290
If you're using a docker image then you probably will have to create the issue there, as the official HumHub repo does not have a MailGun integration that I'm aware of

[2021-09-16 10:15] ArchBlood commented on #5291
Have you setup your `queue/run` Cron Job?

[2021-09-16 13:19] superseby2 commented on #5235
I am not experiencing the pb described  by @smashm : when copying some post's content, It is fully available in the post "destination". Only when the post "source" is deleted then, images are gone from post destination.

[2021-09-19 03:45] samsheridan commented on #5226
Changing `init` to `init: init` worked for me as well. This bug is still in the master branch.

[2021-09-19 05:48] hobbesjaap opened #5295 "Possibility to automatically go to default space on login?"
### Is your feature request related to a problem? Please describe.

Not so much a problem, but people who aren't very tech-savvy tend to get quite confused. Since I'm starting out with a very small community, I'm only using one space. So I would like all people to be directed to that space after login. So not to their dashboard.

### Describe the solution you'd like

As soon as you login, to be au

[2021-09-19 08:24] funkycram opened #5296 "Possibility to "like" global contents"
### Is your feature request related to a problem? Please describe.

Like module only works with contents in a container (Space or User) : https://github.com/humhub/humhub/blob/569651f104b18723196b95671cea3e672f8755c0/protected/humhub/modules/like/widgets/LikeLink.php#L36

### Describe the solution you'd like

Make it possible to "like" global contents.
Thanks!

[2021-09-20 07:25] luke- commented on #5226
Hmm, can't reproduce this.

@yurabakhtin Any idea what this could couse the problem?

[2021-09-20 07:26] #5295 closed

[2021-09-20 07:27] luke- commented on #5295
Please check the documentation or Community wiki. You can overwrite the default homepageUrl.

[2021-09-20 08:00] #3050 closed

[2021-09-20 10:38] yurabakhtin commented on #5226
@luke- I think the problem because the `grunt-contrib-uglify` cannot read ES6 syntax, probably they still use old version of the `uglify-js`, as described here https://stackoverflow.com/questions/38429567/some-es6-features-are-not-understood-by-grunt-uglify-js/44887248, and there it is written since `uglify-js@2.8.29` it works - https://stackoverflow.com/a/45549788.

Currently `master` branch (ver

[2021-09-20 12:16] luke- commented on #5226
@superseby2 @samsheridan Maybe you're running some old NodeJS version?

[2021-09-20 14:45] BSP-ALIPTIC opened #5297 "Format notification emails in HTML"
I think providing a system for formatting emails in HTML, for example for notifications, would be relevant: a lot of HumHub users seem to be waiting for this feature.

Is this possible?

[2021-09-20 14:55] Semir1212 commented on #5246
It might be better to simply put an option after each notification to directly mark it as read. This would save the second step. Besides that, it would also be useful to be able to mute the content in the same interface.

[2021-09-20 15:15] luke- commented on #5297
Can you give a specific example here? Actually, there is already basic support here. However, this is not yet implemented in all places.

[2021-09-20 15:27] Semir1212 opened #5298 "Info page - Show overview of followers"
![image](https://user-images.githubusercontent.com/38326726/134028318-3a10fd35-b3b8-4008-8226-80dea2a3f4e5.png)

Adding an overview of all space followers to the info page (similar to the overview of all space members) would be useful, especially when using the Enterprise Theme. Currently there is no possibility to see who is following a space when using the Enterprise Theme.

[2021-09-20 15:33] BSP-ALIPTIC commented on #5297
Here is the published message
![image](https://user-images.githubusercontent.com/38069229/134029586-716db51d-5bfa-46bb-b438-c7663e874c72.png)

Here is the rendering by email
![image](https://user-images.githubusercontent.com/38069229/134029699-4e19a78a-f614-48cf-8a0c-31b388b9ee87.png)

Humhub version 1.9.1

Maybe I missed something to configure?

[2021-09-20 17:03] luke- commented on #5297
Your example email is not a Notification E-Mail it is a Mail Summary. These are two different concepts in HumHub (Notifications and Activities).

Formatting of the mail summaries (your case) is currently not implemented. Currently, it is intentionally without markup to ensure overview and readability.

[2021-09-20 17:07] Gilbertdelyon opened #5299 "Editor layout"
**Editor and input area layout - Location of "send" buttons + other minor details**
Small problems buts it’s annoying (some of our community members complained),
See attached PDF file for details.
[Demo améliorations.pdf](https://github.com/humhub/humhub/files/7197393/Demo.ameliorations.pdf)

Solved by way of additionnal css and js in our custom theme.
See attached demo theme in ZIP file.
[HumHub_

[2021-09-21 07:32] BSP-ALIPTIC commented on #5297
Ok, thank you for your response (and your responsiveness). Sorry for the confusion.
In the event that I want to set up a markdown / HTML conversion, do you have any ideas?
Thanks again !

[2021-09-21 07:50] luke- commented on #5297
Here is an Extra Markdown to HtmlEmail Converter. https://github.com/humhub/humhub/blob/master/protected/humhub/modules/content/widgets/richtext/converter/RichTextToEmailHtmlConverter.php

Unfortunately, I can't provide you more details yet.

[2021-09-21 07:52] BSP-ALIPTIC commented on #5297
Thank you for that answer. This is already a starting point ;-)
This ticket can be closed.
Good day.

[2021-09-21 08:02] luke- commented on #5297
Ok,fFeel free to post results here then, maybe we can adopt some of it.

Related issue: https://github.com/humhub/humhub/issues/3970

[2021-09-21 08:02] #5297 closed

[2021-09-21 16:14] luke- opened #5300 "Space User Block"
An administrator of a Space, similar to the Blocked User list in the profile, should also have a field with blocked users of the Space.

These users should not be allowed to become members of the Space and ideally should not be able to access the Space.

Related: https://github.com/humhub/humhub/issues/564

[2021-09-22 09:11] luke- opened #5301 "Admin People Settings cannot be saved"
![image](https://user-images.githubusercontent.com/4736168/134316094-57d3ebc9-6d08-4e20-acb9-826347334d62.png)

[2021-09-23 07:47] funkycram opened #5304 "In a button, data-action-cancel-text doesn't wok"
### What steps will reproduce the problem?

Create a button with `confirm` method:
[code]

Click on the button: the loader will start, but the confirm modal box will not appear.

Now, if you do the same button, but removing `, 'cancel button text'`, the confirm modal box will appear.

This bug has been introduced in a new Humhub version, as it was working before (cannot remember when, but for sure

[2021-09-23 11:22] yurabakhtin commented on #5301
@luke- Yes, really when "Default Sorting" == "Default" then the field "Prioritised User Group" should be required.

I.e. we should either use "Last login" as default value for the field "Default Sorting" instead of current value "Default" or we should set default value e.g. to "Administrator" for the field "Prioritised User Group".
I think we can do this because the group "Administrator" cannot be

[2021-09-23 12:04] luke- commented on #5301
@yurabakhtin I would prefer if initially the "Default Sorting" is simply set to "Last login".

Alternatively, we can enable "Default" as you suggested and set the Prioritized Default Group to "Administrators" as suggested.

I am open for both :-)

[2021-09-23 13:23] yurabakhtin commented on #5301
@luke- I too prefer the "Last login" by default because it doesn't require additional checking that the selected group exists and also the sorting way was used in previous versions before the people settings were implemented.
PR https://github.com/humhub/humhub/pull/5305.

[2021-09-23 14:44] #5301 closed

[2021-09-23 19:47] Reuns commented on #4988
Hello there.
I'm using 1.9.1 and I have the exact same issue.
But I can't reproduce it on a test hosting. :/

Did you have any other informations about this problem ?

[2021-09-23 19:55] rafasants commented on #4988
Yes I Did Reuns, but I forgot to Close this "Issue". Anyway, in my case, the problem was that the Description Field of the space has a limit until 100 characters, and I don't know how, but this same field had more than 100 characters (Probably some update changed this). And I deleted the extra characters, and after this, it was possible to archive the space. :)

[2021-09-23 22:23] Reuns commented on #4988
It works great, Thank you very much !
I think it's a good thing for the team to know that.
@luke- you may find this interesting...

[2021-09-23 22:28] Reuns commented on #4988
Wow ... more to know about this : it's not only the space with too much characters that is locked for archive ... but all spaces are locked for this option.
When I change description, the others space I tried to archive were suddenly archived (without any other action from me).
From this point it could be a real pain in the heck to find out which space is in cause, mostly when you don't even know

[2021-09-24 10:15] jazzx7 opened #5308 "Cron Job is not working"
I have installed the latest version of HumHub, added Cron Job as following

![image](https://user-images.githubusercontent.com/91319514/134657634-dbbbd641-1272-4298-86c1-a2c514d7c8dd.png)

But I still got the error **Warning incomplete setup!** The cron job for the regular tasks (cron) does not seem to work properly.

When I click on **/yii corn/run** outputs, I get the following errors:

An Error

[2021-09-24 11:07] yurabakhtin commented on #3929
@luke- What should I do here?

[2021-09-24 13:28] Semir1212 opened #5310 "Mobile - Zooming into pictures"
| HumHub version   | 1.9.1
Android/iOS
Chrome/Safari

When opening a single picture it should be possible to zoom in manually. Currently the pictures is just moving instead of instead of being enlarged.

[2021-09-24 14:42] yurabakhtin commented on #564
@luke-

I have started this in PR https://github.com/humhub/humhub/pull/5309:

<img width="1147" alt="blocked_users" src="https://user-images.githubusercontent.com/6995524/134693552-1a388681-ac9e-4245-8b9e-d27cfa8b5ee2.png">

[2021-09-24 15:29] luke- commented on #3929
@yurabakhtin I assigned this to @orangiene regarding a UI/UX concept

[2021-09-24 15:54] luke- commented on #5308
There is a typo.

`corn` --> `cron`

[2021-09-24 16:09] yurabakhtin commented on #564
@luke-

Commit https://github.com/humhub/humhub/pull/5309/commits/24ae53ff4d483943953e0486a3d80264cae035bf.

[2021-09-24 20:51] samuk commented on #802
@buddh4 any news on this?

[2021-09-24 21:41] ArchBlood commented on #802
You're probably looking for the following module @samuk, of course, I would ask the developer if the module is currently usable in v1.9.x of HumHub
https://github.com/StevenJoynt/HumHub-RSS-Reader

[2021-09-25 06:27] gerhardbeck commented on #802
Isn't this thread about Humhub offering an RSS-*Feed*?

[2021-09-25 19:24] ArchBlood commented on #802
From the module description it does exactly that

[2021-09-25 20:15] samuk commented on #802
The reader imports content into humhub.

This thread is about exporting data from humhub into other places using RSS.

[2021-09-26 21:02] Vjnm commented on #893
I'm having these errors. Any help is welcome., Thank you.
Vin

Could not execute queued job! Message: Call to undefined function sij\humhub\modules\rss\jobs\simplexml_load_file() Trace:#0 /var/www/humhub/protected/humhub/modules/rss/jobs/GetFeedUpdates.php(408): sij\humhub\modules\rss\jobs\GetFeedUpdates->parseNewsFeed()
#1 /var/www/humhub/protected/humhub/modules/rss/jobs/GetFeedUpdates.php(449):

[2021-09-27 08:16] luke- commented on #564
@yurabakhtin Looks good so far. With the block, a new DB query is necessary for each ContentContainer (Space/Profile) page call (check if user is blocked).

What do you think about additionally serializing these user ids as contentcontainer setting? Settings are very performant, cached, read as bunch and have to be loaded anyway.

[2021-09-27 09:25] luke- commented on #5285
@yurabakhtin Looks good, thank you! Also for the little cleanup!

[2021-09-27 09:25] #5285 closed

[2021-09-27 12:55] orangiene commented on #4399
Hi all,

@yurabakhtin I like your idea with the highlighted background, also the colour.
I made two proposals for the bg colour - what's your favourite
![HumHub-Enterprise-deeplinks-01](https://user-images.githubusercontent.com/62644500/134912088-fb0a0d4a-3e4b-483a-a333-6a43d645655e.jpg)
![HumHub-Enterprise-deeplinks-02](https://user-images.githubusercontent.com/62644500/134912104-f3f03ea8-8a2b-43

[2021-09-27 13:21] orangiene commented on #4399
@yurabakhtin what's your favorite? ;-) Semir prefers the blue one.
blue is CI compliant, yellow stands out - so both have their benefits.

[2021-09-27 15:22] yurabakhtin commented on #4399
@orangiene In my first version I used the like yellow color specially as negative color of the main theme color because I thought we should mark/highlight the opened comment, i.e. I think such thing should be contrasted, so user will find the opened comment by eyes more faster right after page loading. It is why for such thing I prefer to use a contrast color like yellow.

But if no purpose to mak

[2021-09-27 15:37] orangiene commented on #4399
@yurabakhtin : just for our understanding: which color variable did you use?

There is no wrong or right in this case. Your explanation makes sense, so let's continue with your yellow version, we like it :)

[2021-09-27 17:28] luke- commented on #4399
Should I merge it? Or is something todo e.g. border, color, etc.? :-)

[2021-09-28 00:35] Vjnm commented on #893
Errors solved. Installed php xml extension and replaced php8 with php 7.4

[2021-09-28 05:01] yurabakhtin commented on #4399
@orangiene

I didn't use color/less variable there, I just created new style class `.comment-current` with `background: #fff3cd;` - https://github.com/humhub/humhub/pull/5168/files#diff-4f3e259f1e936c71ed899333b38b8aea754c45c05ae878e71f7fcc8ca2dc042dR35. If you know some variable please tell me and I will change that.

[2021-09-28 08:16] luke- commented on #4399
Hmm, this color should not be hardcoded:

We should take one of the definable color values for this:
![image](https://user-images.githubusercontent.com/4736168/135049597-97524b9c-194c-442b-879f-8ac571b03717.png)
Maybe we could lighten or darken...

@yurabakhtin @orangiene Please use one of these... :-)

[2021-09-28 08:35] orangiene commented on #4399
what do you think about this one?
I took the success colour with 35% transparency:
![HumHub-Community-deeplinks-02](https://user-images.githubusercontent.com/62644500/135053025-01027f67-49af-4957-b002-794aa0d1f615.jpg)

[2021-09-28 08:56] Semir1212 opened #5312 "Admin option to define homepage of a plattform"
![image](https://user-images.githubusercontent.com/38326726/135056191-a7dca3bc-1fa7-4940-911f-2f1c0ffc988a.png)

At space level, a 'homepage' apart from the stream can already be defined. This can for instance be a Custom Page or a Calendar view. Transferring the feature to the entire network could be useful for instance to briefly introduce the network or to give users initial information with a

[2021-09-28 09:11] orangiene commented on #4399
Hi @yurabakhtin ,

could you please change the colour value for "warning" in #FFC107.
And then please use the colour "warning" in 25% for deeplionks.

Thank you :)
![HumHub-Community-deeplinks-03](https://user-images.githubusercontent.com/62644500/135058591-3f7c86cf-be50-452e-9f54-b92b6a4adedb.jpg)

[2021-09-28 09:18] yurabakhtin commented on #564
@luke-

I created new table `contentcontainer_blocked_users` with columns `contentcontainer_id` and `user_id`.
If we will store `user_id`s as serialized string per container then it will not impossible to do quick filter user in single SQL query, I mean sql `JOIN` if it will be required in future, i.e. if you think it is normal to keep a code like this `->andWhere(['NOT IN', 'user.id', $container-

[2021-09-28 09:23] luke- commented on #564
@yurabakhtin The current code with an table `contentcontainer_blocked_users` is great!  I would fill the settings **additionally**. e.g. at `contentcontainer_blocked_users::afterSave()` update the settings for the respective ContentContainer. **As additional cache.ÜÜ

[2021-09-28 09:29] luke- commented on #564
Specifically, I am only concerned with this line: https://github.com/humhub/humhub/blob/d69de26d5df9617afedb66301fa5ba02f97af667/protected/humhub/modules/content/components/ContentContainerController.php#L92

This would create an additional DB query on every ContentContainer request (also partials). If this can somehow **cached** as `ContentContainerSetting` , we could hopefully avoid it.

[2021-09-28 10:54] yurabakhtin commented on #4399
@orangiene Hi Angela, it seems you want to use color `#FFC107` as base and apply 25% opacity, so it looks like this:

<img width="929" alt="custom_color" src="https://user-images.githubusercontent.com/6995524/135073441-aaa21a25-a7da-4b10-9dc5-8e72ffc1c494.png">

But as I understand we should use the "less" variable `@warning` with default value `#f8b763` and it looks a bit difference than your scr

[2021-09-28 11:10] yurabakhtin commented on #564
@luke-

Ok, got it now, I will implement this.

[2021-09-28 11:32] luke- commented on #4399
@yurabakhtin With HumHub 1.10 we change the default value of the less variable @warning to #FFC107.

[2021-09-28 12:41] luke- commented on #4399
@yurabakhtin Can you please also add a "Permalink" Option here?
![image](https://user-images.githubusercontent.com/4736168/135088701-3da2351b-51af-4e8c-98a0-05f4d9db7280.png)

An url e.g. `/comment/perma/24242` would be nice.

[2021-09-28 13:29] luke- opened #5314 "Space menu add "+ Add more" entry"
Make modules more visible using a "+ Add more" menu entry or button

[2021-09-28 13:34] luke- commented on #564
@yurabakhtin perfect, thanks! :-)

[2021-09-28 14:43] yurabakhtin commented on #4399
@luke-

Commit https://github.com/humhub/humhub/pull/5168/commits/fec4ce7beb1f04b67002ab501037f8e3c5ff260f.

[2021-09-28 15:48] #4169 closed

[2021-09-29 06:16] yurabakhtin commented on #564
@luke-

Commit https://github.com/humhub/humhub/pull/5309/commits/791b0c869a1689c30a09329603403bf275cc88a5.

Sorry, not clear what you mean here especially words "regulary show", maybe you wanted to say "do not show"?

[2021-09-29 07:28] luke- commented on #564
@yurabakhtin That's correct. We could also say that only stream entries of blocked users should **not** be displayed.
But in e.g. the Wiki module itself, the Wiki pages or in the CFiles module the files of blocked users should be displayed.
Is this clearer? :-)

[2021-09-29 07:49] yurabakhtin commented on #564
@luke-

Is this clearer? :-)

Yes, clearer, thanks. I filtered only the stream query, so all other modules are not filtered inside by blocked users yet.

[2021-09-29 07:50] luke- commented on #4399
@yurabakhtin - The permalink is currently only shown when you can edit the comment. Can you please display it for everyone?

- Also, it would be good if a dialog like this would pop up then:
![image](https://user-images.githubusercontent.com/4736168/135225526-4b5edf66-19d2-4493-9f6c-194eddf9c0e1.png)

- It might be good to implement the dropdown menu (permalink, edit, delete) as a real `Menu widge

[2021-09-29 07:50] luke- commented on #564
Ok, so it should be :-)

[2021-09-29 08:46] b90g commented on #98
Still desired, wordpress has it. A lot shared hosting provides offer a webcron (via curl..)

[2021-09-29 09:24] ArchBlood commented on #98
Check out the following module

https://github.com/cuzy-app/humhub-modules-cron-daemon

[2021-09-29 09:46] yurabakhtin commented on #564
@luke-

Commit https://github.com/humhub/humhub/pull/5309/commits/d5eebb18027856c9aee8c40197959d63d1c771a3:

<img width="667" alt="hide_blocked_comment" src="https://user-images.githubusercontent.com/6995524/135245016-2aa1b0ae-7722-4f04-8c5c-a002cb017860.png">

[2021-09-29 09:51] luke- commented on #564
@orangiene Can you take a look here? Is the button ok? Or should we display a simple link here? Or the display name of the blocked user?

[2021-09-29 09:58] orangiene commented on #564
@yurabakhtin
I talked to luke, so let's try this:
can you please use a dummy image as a profile-image in black/white, next to it the text "Comment of blocked user" und an usual link in blue "show comment"?
is this clear or should I draw a quick sketch?

[2021-09-29 10:41] yurabakhtin commented on #564
@orangiene yes, all clear, thanks.

[2021-09-29 10:55] yurabakhtin commented on #564
@luke- @orangiene Commit https://github.com/humhub/humhub/pull/5309/commits/a81cb4ef4735ae8e8847d9320e48a9967b44f8e5:

<img width="662" alt="comment_view_changed" src="https://user-images.githubusercontent.com/6995524/135255359-fa1486bf-97cf-4080-b828-e99393f97496.png">

[2021-09-29 13:57] yurabakhtin commented on #4399
@luke-

Commit https://github.com/humhub/humhub/pull/5168/commits/6244fabc1774f766aa3752a5408fc28709260969:

<img width="610" alt="comment_permalink" src="https://user-images.githubusercontent.com/6995524/135283032-396fa302-d892-4cc7-8019-458b99873f79.png">

[2021-09-29 14:27] luke- commented on #564
@yurabakhtin @orangiene Looks good! Thank you

@Semir1212 Can you please check/approve the wording?   Maybe link text e.g. "View comment anyway".

[2021-09-29 14:44] luke- commented on #564
@yurabakhtin One missed requirement: The admin should be able to control the "User Blocking via a setting (Administration -> User -> Settings). Maybe just a checkbox that deletes all user blocks and hides the user picker when disabled.

And tests for the individual areas would also be good. :-)

[2021-09-29 14:44] Semir1212 commented on #564
@luke- Looks good, but I would prefer just 'Show"' instead of 'Show comment' to avoid having 2x 'comment' within one line.

[2021-09-29 15:26] yurabakhtin commented on #4399
@luke- Ok, I remove a container name from comment permalinks:
https://github.com/humhub/humhub/pull/5168/commits/60ce9c23144712d44868cefe593bb8cf75de96e7
<img width="605" alt="short_comment_url" src="https://user-images.githubusercontent.com/6995524/135300013-756c3bd6-7d2b-4100-8e01-7ec53df46399.png">

---

It is in process yet...

[2021-09-29 17:38] dranii opened #5316 "Selecting " Content I'm involved" filter in Dashboard throws error message and empty stream"
### What steps will reproduce the problem?

Go to Dashboard and select from Filter drop-down :  Content  I'm involved

### What is the expected result?

It will show all Content(s) I'm involved [ although it is not clear I'm involved = comments/likes/comments in public spaces/others?? any humhub documentation that clarifies this? I did not find on search!]

### What do you get instead?

I get an E

[2021-09-29 20:12] ArchBlood commented on #5316
What modules do you have installed?

[2021-09-30 01:13] dranii commented on #5316
Only fresh and default install of latest Humhub. _"No modules installed yet. Install some to enhance the functionality!"_
@ArchBlood could you reproduce the error with 1.9.1 in php7x or 8x?
I get this error & blank stream ONLY in Dashboard and not in Profile pages. Thanks.

[2021-09-30 01:23] ArchBlood commented on #5316
Sorry, I'm not able to reproduce this issue, could you check your prerequisites? (**_Administration panel > Information > Prerequisites_**) then check the logging tab after and provide the error stack?

[2021-09-30 02:27] dranii commented on #5316
Thanks. Prerequisites are okay. These are:

![Screenshot 2021-09-30 at 07-49-26 (4) Administration - HumHub](https://user-images.githubusercontent.com/9887635/135375006-282a8682-3962-4561-9ccc-a241994b71eb.png)
Error stack is as follows
![333](https://user-images.githubusercontent.com/9887635/135375456-6cd0d7c5-7cba-4aef-895b-d67e7389784a.png)

If possible I will try to set up a demo link (with la

[2021-09-30 05:35] tosintech-web opened #5317 "Calling unknown method: yii\data\ActiveDataProvider::active()"
### What steps will reproduce the problem?

Just after version up from ver.1.8.2 ~> ver.1.9.1.

Access:  Space -> manage -> members

### What is the expected result?

We want to manage members info.

### What do you get instead?

Error report. (bellow)

### Additional info

/var/www/localhost/htdocs/protected/humhub/modules/space/modules/manage/controllers/MemberController.php
line:50
[code]
Unkno

[2021-09-30 08:21] luke- commented on #5317
It seems that in your installation the line was overwritten. Here the original without error:
https://github.com/humhub/humhub/blob/v1.9.1/protected/humhub/modules/space/modules/manage/controllers/MemberController.php#L50

[2021-09-30 08:21] #5317 closed

[2021-09-30 09:22] luke- opened #5318 "Check People/Spaces automatic reload/scrolling"
On the community, the automatic reloading of users does not seem to work correctly...

https://community.humhub.com/people

Related: https://github.com/humhub/humhub/issues/5188

[2021-09-30 09:27] yurabakhtin commented on #4399
@luke-

Commit https://github.com/humhub/humhub/pull/5168/commits/23b7ec037fa17648f6dfacd97cbac249fdb54a37.

[2021-09-30 10:09] yurabakhtin commented on #564
@Semir1212 @luke-

Commit https://github.com/humhub/humhub/pull/5309/commits/884003323d569173f1d8665bf20afde5b4e9214e.

[2021-09-30 11:30] yurabakhtin commented on #5316
@luke- Fixed in PR https://github.com/humhub/humhub/pull/5319.

[2021-09-30 11:47] daniyaree opened #5320 "how to translate or change ALL time related strings"
### Is your feature request related to a problem? Please describe.

It is not a problem exactly. Rather a mixture of Support & Feature request as there are no separate Support/Help related issue submission channel. Here is what : how to translate or change ALL time related strings "28 minutes ago" / "1 day ago" / from now on etc to non-English language. For example "minutes ago" to "Hace minutos"

[2021-09-30 12:27] tosintech-web commented on #5317
Thank you for your reply.
We try to rewrite that.

[2021-09-30 12:35] luke- commented on #5316
@yurabakhtin Great thanks!

[2021-09-30 12:35] #5316 closed

[2021-09-30 13:42] yurabakhtin commented on #5318
@luke- Yes strange bug, I could reproduce it locally on `develop` too, however I remember it worked before well, probably package `protected/vendor/npm-asset/intersection-observer` was updated last time so I had to apply this fix - https://github.com/humhub/humhub/pull/5321.

[2021-09-30 13:51] luke- commented on #5318
@yurabakhtin Ok, strange - but thanks for the fast fix!

[2021-09-30 13:51] #5318 closed

[2021-09-30 14:03] dranii commented on #5316
@ArchBlood  Thanks - please see this has been fixed.
@luke- @yurabakhtin  Amazing, this is now working perfect. Thanks and best regards.

[2021-09-30 15:03] luke- commented on #4399
@yurabakhtin I have changed it a bit, that `MenuLinks` are used. that saves some code.
See here: https://github.com/humhub/humhub/pull/5168/commits/efac7217e0fbe5c6021ded5cd703454a71fc75b3

Somehow the PermaLink popup can only be opened once, then it doesn't work anymore. can you please investigate this some more?

[2021-09-30 15:05] luke- commented on #5320
We use the JQuery TimeAgo plugin for this display. Maybe you could contribute your language in this project, then we will transfer this to HumHub.

[2021-09-30 22:15] daniyaree commented on #5320
Thanks for the fast response @luke-
Its more of a generic question rather than language specific but language contribution can be done as such time strings are few only.

I actually see it not happening via the available Translation methods as it is a .js file rather than being a .php. More importantly, just for experimental sake, when I am making changes directly to the .js file it is NOT showing

[2021-09-30 22:36] michaelh99 opened #5322 "No 'dirty' bit set when editing many items"
my apologies if this is a dupe but I searched and didn't find.  I thought I'd commented on the same kind of issue or even maybe reported it before but again, didn't find it.

Latest release HH, start writing a comment to an existing post and if you click to switch away you lose your comment.

HH should set a dirty bit that asks the user if they want to abandon their edit.

I've seen this happen in

[2021-10-01 00:26] ArchBlood commented on #5320
Should be possible to do this in a theme view overwrite with a call to the js file in the `head.php`, would also be possible to do this in a theme module where it extends and replaces the original js with a custom one :thinking:

[2021-10-01 02:11] daniyaree commented on #5320
@ArchBlood - thank you for the suggestions.
- any documentation on a theme module where it extends and replaces the original js with a custom one ? for example if I create another theme folder Humbub_alt_theme how do I enable it to be the active theme (there are no ACP options to choose themes, or am I missing that?)
- how do I do a theme view overwrite with a call to the js file in the `head.php`

[2021-10-01 02:26] cybrpimp commented on #5291
Yes, in theory the CronJob is setup.

![image](https://user-images.githubusercontent.com/61793417/135556067-a7cde099-9cac-44b0-af2d-d8dedb203140.png)

[2021-10-01 12:49] luke- opened #5323 "Remove deprecated `Setting` classes"
Check (modules) usages first

[2021-10-01 12:53] hunwalk opened #5324 "Call to a member function getBasePath() on string"
### What steps will reproduce the problem?
 Go to {host}/admin/setting/design

![obrázok](https://user-images.githubusercontent.com/32835435/135622379-1920078b-7f3e-447f-8ada-308621cd80f8.png)

| Q                | A
| ---------------- | ---
| HumHub version   | 1.9.1
| PHP version      |  8.0.1
| Operating system | Debian

[2021-10-01 12:54] hunwalk commented on #5324
In ThemeHelper.php

![obrázok](https://user-images.githubusercontent.com/32835435/135622880-b83ecd4f-c244-495d-b1ab-b04822142d84.png)

You can fix it with this

![obrázok](https://user-images.githubusercontent.com/32835435/135622965-8cd54120-ce49-48b8-9037-71b06a9ed47b.png)

[2021-10-01 14:32] #5324 closed

[2021-10-03 01:03] cargsource commented on #564
Hello, I am new to this and was wondering how to add this to my website? I would very much like a blocking mechanism for my users.

[2021-10-03 04:02] ArchBlood commented on #564
Best to wait for the next major release as I'm sure that many changes will be done before it's fully implemented.

[2021-10-03 11:56] dranii opened #5326 "Provide a site member the means to export his data"
### Is your feature request related to a problem? Please describe.

This is a problem in the sense that we cannot provide a site member the means to export his data once he decides to delete his account or wishes to use another system of networks.  This Github itself as well as Wordpress, Drupal and various social network scripts including much smaller php-based social net scripts offer some means

[2021-10-03 13:02] ArchBlood commented on #5326
See https://github.com/humhub-contrib/legal/issues/20

[2021-10-03 14:17] dranii commented on #5326
@ArchBlood  Many Thanks for pointing me to the right direction. I see one of the related issues already closed but could not make out what solution or work-around was there. I have now seen humhub-contrib/legal#20 - Thanks. While this is in progress - if any member here can point to any work-around like Site Super Admin doing this via database manually for any one user OR how to generatie a RSS fe

[2021-10-04 02:42] gustrix commented on #5289
I am experiencing the same issue.
Fresh install from cpanel. I was auto-logged in as admin. I created a new account. The password didn't work.
I tried changing it from the admin account. I also tried resetting it from the login page. Nothing works.

HumHub  Community Edition
Version: 1.9.1

[2021-10-04 14:36] siwa-tkapplmueller commented on #4225
Wouldn't it make a lot more sense for admins to be able to disable / configure this feature in the admin settings rather than just automatically deleting all invites after a fixed period of time without any possibility to disable that or change the amount of days before deleting?

[2021-10-04 15:57] yurabakhtin commented on #4399
@luke-

Fixed in commit https://github.com/humhub/humhub/pull/5168/commits/615dd012c6580c0c563733270c9f9da47634ed56. I detected the permalink js code doesn't open the window twice if the link has some url in the `href` attribute instead of `#`.

[2021-10-04 16:48] luke- commented on #4399
@yurabakhtin Awesome thank you!

[2021-10-04 16:48] #4399 closed

[2021-10-05 10:58] yurabakhtin commented on #564
@luke-

Commit https://github.com/humhub/humhub/pull/5309/commits/cff6a1bbf3913a86aee8ee651d8021fbfc1db923:

<img width="1148" alt="allow_block_users" src="https://user-images.githubusercontent.com/6995524/136010313-49929b15-ef57-41a2-b4c6-6b55622406d2.png">

Why do you want to delete all users blocks? The checkbox may be unchecked by mistake, so it will be impossible to revert the deleted data, I

[2021-10-05 11:37] luke- commented on #564
@yurabakhtin Ok, I thought it might be easier and better in terms of performance. But querying the setting should also be performant.

[2021-10-05 11:38] luke- commented on #564
@Semir1212 `Allow to block users`  Any idea how to label this checkbox?

[2021-10-05 11:40] luke- commented on #5322
It's already implemented in the upcoming 1.10 version.

You can already test this in our community. https://community.humhub.com

[2021-10-05 11:40] #5322 closed

[2021-10-05 11:55] Semir1212 commented on #564
@luke- Allow users to block each other

[2021-10-05 12:08] luke- commented on #564
@yurabakhtin Can you please rename the checkbox label?

[2021-10-05 12:10] luke- commented on #5326
@dranii In the meantime, such information has to be exported manually from the database.

[2021-10-05 12:10] #5326 closed

[2021-10-05 13:08] yurabakhtin commented on #564
@luke-

Done - https://github.com/humhub/humhub/pull/5309/commits/f29e25830ae27dbe79cd1b7311d999ef8d095b96#diff-37a7685bbfd37cce1f083ff91f4701c54c88f9455e25f5443dfaa065268f340bR81.

Commit https://github.com/humhub/humhub/pull/5309/commits/f29e25830ae27dbe79cd1b7311d999ef8d095b96.

[2021-10-05 14:03] michaelh99 commented on #5322
Sigh.  Again, my apologies.  Not sure why I couldn't find it.  Would you be kind enough to post a link to the feature/bug?

[2021-10-05 14:07] luke- commented on #5322
https://github.com/humhub/humhub/issues/5194

[2021-10-05 15:19] yurabakhtin commented on #564
@luke-

Commit https://github.com/humhub/humhub/pull/5309/commits/740ecfcc7afff506f6b7f5ab9d492c420b8d4211.

[2021-10-05 15:21] yurabakhtin commented on #564
From this list https://github.com/humhub/humhub/issues/564#issuecomment-916121141 only the point is not completed yet:

- `Mail Module` should use these users

[2021-10-05 15:33] luke- commented on #564
@yurabakhtin Ok, that means I can already review the core part? Of course, a few more tests would be good. :-)

[2021-10-05 17:04] cybrpimp commented on #5289
Yes, brand new installed from cPanel and no matter what, user & password does not work.

[2021-10-05 17:12] cybrpimp commented on #5291
After creating a support ticket with my ISP it turns out the cPanel Softalicious installation had the wrong path to PHP in the cronjob.

The path has been fixed and we are running cronjobs now.

[2021-10-05 17:14] cybrpimp commented on #5290
Actually, we are using the cPanel Softlicous installation and still have problems with MailGun.

I sure seem to be having lots of basic issues with Humhub so I'm not sure if that is a larger issue or just lots of bugs.

[2021-10-05 18:30] #5289 closed

[2021-10-06 04:12] yurabakhtin commented on #564
@luke- Yes, please review that because all points related to core were done except of tests.

[2021-10-06 11:23] luke- commented on #564
@yurabakhtin Thanks, nice work! I've added my review.

[2021-10-06 11:26] Semir1212 opened #5328 "Temporary suspension of user accounts"
For users who violate community policies, it would be good to be able to block them for a limited time. That would simplify the process for community managers. Currently, suspended accounts need to be manually unblocked.

In general users should be informed why the account was suspended. The following could be offered with regards to notifications:

- Block without sending notification
- 2-3 examp

[2021-10-06 11:32] Semir1212 opened #5329 "Notifications for deleted accounts"
Users whose accounts are deleted should be notified about the process. During the deletion process following options could be offered to the admins:

- Delete without sending notification
- 2-3 preset examples (e.g. violating community rules; insulting other users..)
- A free text field for the admin to add an individual explanation

[2021-10-06 11:44] #5291 closed

[2021-10-06 12:10] yurabakhtin commented on #564
@luke-

I have started this in PR https://github.com/humhub/mail/pull/238, what I have done:

- Exclude the blocked users from the recipients picker on creating new conversation
- Make profile pictures grayscale for all blocked users:

<img width="955" alt="messaging_blocked_users" src="https://user-images.githubusercontent.com/6995524/136198540-957e991c-aafe-40a1-a520-7973cae1b6d1.png">

- Don't

[2021-10-06 12:19] luke- commented on #5329
Wouldn't it suffice if we sent out a notification when a user account is "Suspended"?

[2021-10-06 12:19] luke- commented on #564
@yurabakhtin Yes, sounds good!

[2021-10-06 13:38] ArchBlood commented on #5329
I agree here, although it should be possible for the admin to send a custom message instead of a generic notification.

[2021-10-06 14:40] luke- commented on #564
@Semir1212 Text please :-)

[2021-10-07 04:45] yurabakhtin commented on #564
@Semir1212 The text is updated in commit https://github.com/humhub/mail/pull/238/commits/b7f0790feda535f32ad064b76e5de5d9f6d1f9dd.

[2021-10-07 12:31] samuk opened #5332 "Insecure cookie setting: missing Secure flag."
### What steps will reproduce the problem?

Run a pentest against community.humhub.com or other Humhub instance

### What is the expected result?

Cookies have the secure flag set

### What do you get instead?

A cookie has an insecure flag set.

### Additional info

Full pentest report is available here: https://community.humhub.com/file/file/download?guid=655c1e62-f718-404a-8148-34517a465027&has

[2021-10-07 13:29] marc-farre opened #5333 "Module's events handlers registration: check if method exists"
### Is your feature request related to a problem? Please describe.

Create a custom module with events in the config.php file. E.g:

[code]

Change the name of the method `onTopMenuBeforeRun` in config.php and Events.php.
Upload new module version on a server.

You want to flush the cache so that Humhub updates the name of the method in Events.php.
But you cannot do it online as Humhub crashes wit

[2021-10-08 08:07] glibertdelyon opened #5334 "How to Exclude Notifications only for Files and Images"
Thanks to `streamExcludes` in `common.php` new files and new images are excluded from the stream,
So far so good...
... but  notifications  are still there.

Recently one of our member added **40 new images to an existing gallery**.
The result was that each member of the space recieved **40 emails**. Not good for the planet and very annoying.

Please, **is there a way to avoid notification only fo

[2021-10-08 09:51] #5333 closed, assigned to nobody

[2021-10-08 10:06] luke- commented on #5334
You can try to add `public $silentContentCreation = true;` here:
https://github.com/humhub-contrib/gallery/blob/master/models/Media.php#L41

[2021-10-08 15:42] Gilbertdelyon opened #5336 "Landing page for guests"
Refer to [ this isuue ](https://github.com/humhub/humhub/issues/1828#issuecomment-230243545).
A way to change the site landing page is to add this piece of code to [protected/config/web.php](url)
[code]
I guess this will work for logged users as well as for guests.

What we are looking for:
- set a **custom_page id** as landing page for **guests**
- remain on **dashboard** landing page for **logge

[2021-10-09 14:10] michaelh99 opened #5337 "Your contact form is broken"
I know this isn't a Humhub software problem but the only other way I saw to contact you was using the form that's broken.
The country list never populates and I can't send.  This is showing in the dev console...

Uncaught TypeError: jQuery(...).select2 is not a function
    <anonymous> https://www.humhub.com/en/news line 129 > injectedScript:3
    jQuery 14
    Modal https://www.humhub.com/assets/

[2021-10-09 14:20] ArchBlood commented on #5337
Space Types is just like the name suggests, it gives you the option to not only use the current Spaces but create another tree of "Spaces" under a different name, they all work the same as a normal space, however.

There are no sub-spaces and no sharing of private data from one private space to another, personally, it would defeat the purpose of being private otherwise.

[2021-10-10 18:04] ArchBlood commented on #5337
You are partly right Space Types is more of a category system where you can create "Spaces" with different names and that's it, everything else is fully Space core

#### Space "Category" A
- Space Name A
- Space Name B
- Space Name C
#### Space "Category" B
- Space A
- Space B
- Space C

And so on, so as mentioned Spaces do not interact with one another in any way, even Spaces that have a differen

[2021-10-10 18:20] michaelh99 commented on #5337
Thank you.  Seems like it's  a small enough feature that it should be part of the free version.  In my case, it's literally the only reason I'm thinking of upgrading to the pro version.  None of the other features are helpful to our org. Grouping would be helpful but a hierarchy would be more useful.

[2021-10-11 04:11] superseby2 commented on #5226
Hey guys,
Sorry for the delay in the response. and thx @yurabakhtin for digging!

The vesion I have :

- Node v12.22.4
- grunt-cli@1.4.3

As for grunt-contrib-uglify.js I guess the one used is the one at humhub_root/node_modules/ ?

If that'is the case, mine seems to be very old indeed  : "version": "2.3.0".
I usually run a composer install between updates so I am not sure why I have such an old v

[2021-10-11 05:48] yurabakhtin commented on #5226
@superseby2 If you run only `composer install` between updates then only the folder `/protected/vendor` is updated, but the node package `uglify-js` is located inside the folder `/node_modules`, so please try to run `npm install` from site root folder.

[2021-10-11 08:01] verement opened #5338 "Post topic/visibility changes are not properly re-indexed for search"
### What steps will reproduce the problem?

1. Within a space, create a public post containing unique terms.
2. Verify that searching for the unique terms from step 1 returns the post.
3. Return to the space containing the post and, using the post’s menu, add a unique topic to the post.
4. Try searching for the unique topic from step 3.
5. Return to the space containing the post and, using the pos

[2021-10-11 09:59] #5337 closed, assigned to nobody

[2021-10-11 10:01] ArchBlood commented on #5336
You could probably use line 56 in your common.php and just create your own stream filter for guests, of course this is just an alternative to landing pages, there is also a filter for logged in users as well.

https://github.com/humhub/humhub/blob/master/protected/humhub/modules/dashboard/Module.php

[2021-10-11 12:35] orangiene opened #5340 "mobile navigation: width detection problem (first navigation point)"
The script, which combines the navigation items to the super-item "Menu" especially in the mobile display, does not calculate the available space correctly. Mostly 1-2 menu items have more space, but they are not displayed, because they are placed in the menu item "Menu".  (The problem occurs mostly in the German version. (after a reload))

![WhatsApp Image 2021-10-11 at 14 33 16 (1)](https://user

[2021-10-11 14:50] tosintech-web opened #5341 "Numbers of Follower/Followed at User Profile Header is different from UserListBox."
### Is your feature request related to a problem? Please describe.
Ver 1.9
User Profile header, UserListBox shows only users whose status is enabled.
But, follower counter shows the number include disabled users.

### Describe the solution you'd like
I think they may show same number to avoid user confuse.

### Describe alternatives you've considered
protected/humhub/modules/conntrollers/ProfileCo

[2021-10-11 17:47] luke- commented on #5341
@yurabakhtin Can you please take a look here? Maybe this issue is already fixed, because I've merged this PR https://github.com/humhub/humhub/pull/4879/files into `develop`. In this PR you refactored the Following queries a bit.

[2021-10-12 08:44] Semir1212 opened #5343 "1.10 - Opening profile settings causes internal server error"
v1.10.0dev

Profile Settings --> Settings leads to PDOException

ERROR  Tue, 12 Oct 2021 10:40:07 +0200 yii\db\Exception
PDOException: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'host_105681.contentcontainer_blocked_users' doesn't exist in /srv/humhub/protected/vendor/yiisoft/yii2/db/Command.php:1299
Stack trace:
#0 /srv/humhub/protected/vendor/yiisoft/yii2/db/Command.php(1299): PDO

[2021-10-12 08:48] #5343 closed, assigned to nobody

[2021-10-12 08:54] orangiene opened #5344 "Space Name is cropped in mobile display"
The Space Name will be placed on the background image. In mobile rendering, text that is too long is simply cropped and does not wrap.
Suggestion: The background image grows in height with the text length.
![mobile-Space-name-cropped](https://user-images.githubusercontent.com/62644500/136924834-836f9860-9f23-4679-ba99-d53443f2307f.jpeg)

[2021-10-12 12:33] yurabakhtin commented on #5341
@luke- Yes, the issue was fixed in the PR https://github.com/humhub/humhub/pull/4879 because I can reproduce this only on `master` branch with version `1.9.2`:

<img width="1152" alt="followers_master" src="https://user-images.githubusercontent.com/6995524/136955733-8a86079a-c340-460f-a586-5343795ca469.png">

but on `develop` branch with version `1.10.0-beta.1` it works well because the PR was mer

[2021-10-12 12:43] #5341 closed, assigned to yurabakhtin

[2021-10-12 12:55] luke- opened #5347 "Reduce DB queries for group_permission."
### Is your feature request related to a problem? Please describe.
![image](https://user-images.githubusercontent.com/4736168/136959254-a920e7b4-5bd5-4902-8f62-04b1604c461a.png)

### Describe the solution you'd like

There are relatively many DB queries to Permissions on regular pages.
Here it would be perhaps good if here once all from the DB are fetched and retained.

Maybe `PermissionManager::g

[2021-10-12 14:18] funkycram opened #5348 "Apostrophe in a user's first or last name creates bugs"
### What steps will reproduce the problem?

Change the first name of a user to `David d'Auterive Roberts`:
![image](https://user-images.githubusercontent.com/23310825/136972803-2254b1cc-deec-4f35-83ec-ec3d05dbbeba.png)

Write a message to him (mail module) and tag him in the description:
![image](https://user-images.githubusercontent.com/23310825/136972481-2965b5e6-d562-4206-ab05-2c2320fdfc1e.png)

[2021-10-12 18:54] luke- commented on #4945
![image](https://user-images.githubusercontent.com/4736168/137012946-89bdf326-bee2-470e-a343-3970970a80cf.png)

[2021-10-12 18:59] #2339 closed

[2021-10-13 14:09] tosintech-web commented on #5341
Thank you, @yurabakhtin @luke-

[2021-10-15 08:19] smartens opened #5352 "Remove `NewMember` widget from Core"
### Is your feature request related to a problem? Please describe.

Due to privacy policy, I don't want to show member information to guests on the home page. I can't find any option in the settings to disable this widget.

### Describe the solution you'd like

I want unregistered users to see only public posts on the home page and the "New Spaces" widget. I would like to have an option in the set

[2021-10-15 09:12] luke- commented on #5352
Yes, then there is no solution for the module yet.

Of course, it would be best to implement this directly in the module.

[2021-10-15 14:28] marc-farre opened #5354 "Space - pending invites and approvals: add the image of the users"
### Is your feature request related to a problem? Please describe.

In the pending invites and approvals pages, the image of the users is not shown.
And there is no link to the profile.

### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/23310825/137503670-8639c9a2-b23e-465c-99df-0f2b434b0d91.png)
![image](https://user-images.githubusercontent.com/23310825/137

[2021-10-15 20:12] #5354 closed, assigned to nobody

[2021-10-15 20:59] #5347 closed, assigned to Soundwave2142

[2021-10-16 01:31] ArchBlood commented on #5352
I personally think that the module itself should be removed and achieved as it's already a part of the core as is, and a configurable flag should be in place to toggle off for those that wish for this not to be displayed, an easy workaround is removing it through theme view overwriting, and adding `if (\Yii::$app->user->isGuest){}` to remove the widget display for guests completely for the module

[2021-10-16 10:42] Gilbertdelyon opened #5356 "Custom modules ordering in admin> modules page"
**Custom modules ordering in  admin> modules page**

I have coded a few custom modules.
In **admin> modules** page they are listed in a random way* between the market place modules.

Please, is there a way to group them at top or bottom of the list?

*It looks random but there is propably an ordering criteria?

[2021-10-16 14:04] luke- opened #5357 "Space Chooser Option for Lazy Load"
### Is your feature request related to a problem? Please describe.

The Space Chooser Widget sometimes needs many database queries depending on users memberships. To optimize this, a loader should come first after a click and then the space list should be reloaded.

This behavior should ideally be configurable as a widget class attribute. Then it can be specified via configuration file.

Note: The

[2021-10-16 14:28] luke- opened #5358 "Remove deprecated `Directory` module"

[2021-10-16 14:32] luke- commented on #5352
Since the "NewMembers" widget is really only used in the guest dashboard, and actually used to be part of the directory, I would remove it completely from the core and rather add some options to the module.

[2021-10-16 14:38] luke- commented on #5356
@orangiene Maybe we can somehow include that in the redesign?

[2021-10-16 14:38] luke- commented on #5356
@Gilbertdelyon Unfortunately, it is not possible at the moment.

[2021-10-16 16:26] luke- opened #5359 "User Picker - Apostrophe ' Encoding"
### What steps will reproduce the problem?

Original Issue: https://github.com/humhub/humhub/issues/5348

- Change the first name of a user to `David d'Auterive Roberts`:
- Use UserPicker

Seems all UserPickers are affected. Tested & Affected User Pickers:

- Mail module
- Group Administration -> Group Manager
- Space Invite -> Member

### What do you get instead?

![image](https://user-images.git

[2021-10-16 16:30] luke- opened #5360 "Mentioning search fails apostrophe in a user's displayName"
Original Issue: https://github.com/humhub/humhub/issues/5348

When tagging, as soon as you start typing the ' char, you have no result (I think because ’ is automatically changed to ’ while typing)

To reproduce: Change the first name of a user to `David d'Auterive Roberts`:

![image](https://user-images.githubusercontent.com/4736168/137595067-63ca8a47-06b1-4672-947d-d68e83f4b022.png)

[2021-10-16 16:43] luke- commented on #5360
@Soundwave2142 I think we would first have to figure out if the problem here is on the frontend (javascript parsing the input) or the backend (user search) or?

[2021-10-16 16:56] luke- commented on #5359
@Soundwave2142 I think that the `/user/search/json` is only used by UserPickers, but it is of course an important & correct argument that we do not know by whom everywhere the action is used. Before making such changes, it is always recommended to search our modules repositories (github.com/humhub & github.com/humhub-contrib) if it is not used anywhere else, we should include such a change in the

[2021-10-16 16:58] luke- commented on #5348
@funkycram @Soundwave2142 I have opened three separate issues for this. This is better for tracking & discussion. Thanks!

[2021-10-16 16:58] #5348 closed

[2021-10-16 18:18] luke- opened #5361 "People Directory Database Query Optimization"
There are some identical database queries here. Would be great if we can optimize this?

![image](https://user-images.githubusercontent.com/4736168/137598006-deb8f3fa-d601-49f6-b349-f5e4ca185395.png)

[2021-10-16 18:30] luke- opened #5362 "ContentContainer Tag Lookup Queries"
On `People` and `Spaces` page, there is one "Tag" lookup query per result.

![image](https://user-images.githubusercontent.com/4736168/137598347-71bdd107-0c7b-416a-8496-81342395d82d.png)

Can we perhaps save these queries by reverting to `contentcontainer.tags_cached` here? Or can we cache the query elsewhere?

[2021-10-16 18:33] luke- opened #5363 "Profile Edit - Duplicate SQL queries"
On the profile edit page the same database query is executed multiple times. it would be good if we could optimize this.

![image](https://user-images.githubusercontent.com/4736168/137598473-8e217a25-6fee-4bc0-a816-fd2a3cf948f2.png)

[2021-10-17 08:50] Gilbertdelyon commented on #5356
_"Possibly we could also introduce an additional optional categorization in the module.json"_
It's made in this way in Drupal (module.yml file)

[2021-10-17 12:06] Soundwave2142 commented on #4945
@luke Done. Problem is with custom check-boxes itself, had to do some css fixes and rebuild theme.css. Let me know if it works now as you wanted.

[2021-10-17 14:13] luke- commented on #5340
@Soundwave2142 Here is an example. Somehow there often seems to be space left for a menu item.

![image](https://user-images.githubusercontent.com/4736168/137631048-167fa9dd-6eef-4f27-93f1-aa16e9168bcc.png)

[2021-10-18 11:18] ArchBlood commented on #5352
@luke- then the same should be done to the Space widget as well shouldn't it? I'm pretty sure that I seen someone create one for this as well and published it on GitHub

[2021-10-18 21:43] Gilbertdelyon opened #5364 "What does mean " (Entries per page)" in Appearance settings"
In `Admin page > Settings >Appearance` we can set:  "**Default pagination size (Entries per page)**"

**Question 1:** What does mean “Entries per page” ? I have **set it to 15** and after complete dashbord page loading **I see only 8** “wall-entries” in the stream (of course much more if I navigate to the bottom of the page). I  probably misunderstand something.

**Question 2**: (only for my knowl

[2021-10-19 11:41] Gilbertdelyon commented on #5364
I got the answers from [HH community](https://community.humhub.com/content/perma?id=247006):
_"The value is only relevant on some sites, where the pagination is used. Afaik currently this only affects the page with search results. (When I remember correctly the userlist in the old directory used it as well.)"_

'_Number of entries in stream seams to be defined in this javascript part:
Seems to be

[2021-10-19 11:42] #5364 closed

[2021-10-19 13:07] luke- commented on #5358
@yurabakhtin Thanks for the hint. Are you still create a PR for the Enterprise version?
Removing the directory is not planned until 1.11 anyway.

[2021-10-19 14:06] yurabakhtin commented on #5358
@luke- PR https://github.com/humhub/enterprise-theme/pull/17

[2021-10-19 15:41] luke- commented on #5358
@yurabakhtin Thanks!

[2021-10-19 15:41] #5358 closed

[2021-10-20 06:22] yurabakhtin commented on #5323
@luke- Core PR https://github.com/humhub/humhub/pull/5369.
Module "updater" PR https://github.com/humhub/updater/pull/29.

[2021-10-20 07:16] timaschew opened #5370 "Filter on dashboard disappears when disabling "Show user profile post form on dashboard""
First of all, thanks for this amazing software and all your work!

### What steps will reproduce the problem?

In the admin area: disable `Show user profile post form on dashboard`

### What is the expected result?

Filter on the dashboard will still be visible

### What do you get instead?

Filter on the dashbaord disappears

### Additional info

| Q                | A
| ---------------- | ---
|

[2021-10-20 08:53] Soundwave2142 commented on #5359
@luke- I'll look through modules too see if it's used anyhow. Best solution would be probably to add variable $encode and leave it true by default, but pass false on user/search/json. That way we will get rid of encoding for us when it's returned in userpicker, but won't effect those who use UserPicker in thier own actions. But it might be troublesome to create all different pull requests where it

[2021-10-20 11:13] marc-farre opened #5373 "Mail notifications: do not show profile's URL in subject when user is tagged"
### What steps will reproduce the problem?

Create a post mentioning a user:
![image](https://user-images.githubusercontent.com/23310825/138082276-c5db3dce-198e-4f73-8ccb-0629038bd568.png)

And email is sent to this user.

### What is the expected result?

In the mail's subject, the beginning of the post is show.
In our case, we should have `@Sara Schuster test...`

### What do you get instead?

w

[2021-10-20 11:45] #5352 closed, assigned to yurabakhtin

[2021-10-20 11:57] #5323 closed

[2021-10-21 09:04] luke- commented on #5359
@Soundwave2142 Thanks. Since the backend methods are clearly associated with the UserPicker, I don't think we need to add that to the migration docs. Or?

[2021-10-21 11:20] jwleon commented on #4726
It might go hand-in-hand with what you described - I noticed that archived spaces have no posts on their timeline

[2021-10-21 12:14] luke- commented on #4726
@jwleon Actually, even with archived Spaces, posts should show up normally in the stream. Or have I misunderstood you?

[2021-10-21 12:30] #5360 closed, assigned to Soundwave2142

[2021-10-21 16:38] luke- commented on #5362
@yurabakhtin Thanks!

[2021-10-21 16:38] #5362 closed, assigned to yurabakhtin

[2021-10-21 17:50] ShrewMaster opened #5379 "Tags appear blank"
Hello, developers!

Since v1.9.1, our tags appear blank, as you can see from image 1 below. If I click on the tags, or use the search filter with tags, they become visible on the panel (see image 2, top left). This means their properties are conserved. Nonetheless, they remain invisible to users. Any idea what might have caused this issue, and how to fix it?

**Image 1**
![Captura de Ecrã (363)](h

[2021-10-21 19:42] ArchBlood commented on #5379
Are you using a custom theme, if you are then you will need to update your theme

[2021-10-21 22:12] #5379 closed

[2021-10-22 14:51] luke- opened #5381 "Duplicate db queries to ContentContainerModuleManager"
(Not related only to Wiki module)

![image](https://user-images.githubusercontent.com/4736168/138475593-a61d5aa2-274a-4d5d-9897-022a78734b8c.png)

[2021-10-23 04:15] electricscootergeek opened #5383 "oAUTH Options Not Displaying"
I recently installed HumHub and followed the documentation to add oAUTH log-in options to my installation. However, when I visit my account settings to link an OAuth provider, nothing displays. I also do not see any buttons on the sign-up/log-in screen. I currently have HumHub version 1.9.2 installed.

My[ common.php](url) file:

[code]

[2021-10-23 07:59] Gilbertdelyon opened #5385 "Set Debug mode without FTP ?"
I had like to set / unset debug mode without FTP.
Would be nice if this setting was available in admin pages.

Could I achieve this from the settings of a small custom module?

[2021-10-23 16:21] #5383 closed, assigned to nobody

[2021-10-23 20:18] luke- opened #5386 "Archived Space - Empty Stream"
### What steps will reproduce the problem?

- Add `Posts` to a Space
- Archive the Space
- Open Space

### What is the expected result?

- See `Posts` in Stream
- And Filter Option

### What do you get instead?

- No Posts displayed in Stream
- No "Filter" possibility

[2021-10-23 20:33] timaschew opened #5387 "Custom profile checkbox field with default checked value is not pre-checked in registration form"
### What steps will reproduce the problem?
Create a custom profile file with type checkbox and use `Checked` as default value and `Show at registration`.
If you open the form for registration, the checkbox is not pre-checked.

### What is the expected result?

If you open the form for registration, the checkbox is pre-checked.

### What do you get instead?

If you open the form for registration, t

[2021-10-24 21:16] Reuns opened #5388 "Incorrect Mail summary & notification with PHP 8"
### What steps will reproduce the problem?
Hi !

I’m trying to update PHP from 7.4.24 to 8.0.11

Everything seems to work great, but the emails are getting weird.
They’re pretty much unreadable.

Thanks for your help.
### What is the expected result?

### What do you get instead?
![image](https://user-images.githubusercontent.com/19529531/138612864-50c6ae61-739c-4c36-a655-67cb63f103fa.png)
### Add

[2021-10-25 16:26] timaschew opened #5394 "Introduce a new visibility for spaces and users: Restricted"
### Is your feature request related to a problem? Please describe.

First of all, in my use case guests accounts are disabled and this is also a requirement.

I'm searching a visibility for spaces between private and public.

Private spaces are not useful, because it should be possible to request a membership for a space (because private spaces can not be accessed, even when the link is known/shar

[2021-10-26 12:02] luke- opened #5395 "Topic Chooser - Increase preload limit or make in configure"
### Is your feature request related to a problem? Please describe.

It would be more user-friendly to see all possible tags even if there are many.

### Describe the solution you'd like

Maybe it makes sense to increase the limit massively or make it configurable.

### Describe alternatives you've considered

Leave it as it is

[2021-10-26 15:32] OxyFuse opened #5396 "Spaces Post Form in Dashboard"
### Is your feature request related to a problem? Please describe.
No. Reference: https://community.humhub.com/s/feature-requests/?contentId=247487

### Describe the solution you'd like
I would like to suggest to have an option to show a _Spaces' Post Form_ in the Dashboard. This form will help encourage the users to easily contribute new posts and possibly joining other Spaces.

Post Form in the

[2021-10-27 05:40] hj-beckers opened #5398 "installation error: 1.8.latest > 1.9.2"
### What steps will reproduce the problem?
installation from 1.8.latest to 1.9.2 Please see the full thread in the community forum (https://community.humhub.com/s/installation-and-setup/?contentId=247458).
### What is the expected result?
a working 1.9.2 installation
### What do you get instead?
The errors as stated in the community forum
### Additional info

| Q                | A
| -------------

[2021-10-27 09:16] orangiene opened #5399 "Mentioning @all to notify all Space members"
### Is your feature request related to a problem? Please describe.
I will reach all members of a space and have to tag all members separately.

### Describe the solution you'd like
"@all" like in microsoft teams

### Describe alternatives you've considered

[2021-10-28 09:10] luke- opened #5402 "Mentioning Search doesn't find Space Members"
### What steps will reproduce the problem?

- Go to the Community
- https://community.humhub.com/content/perma?id=247573
- In a comment try to mention "Yur"
- No results, even if there are mulitple members in the "News" Space with "Yur".

### What is the expected result?

Show members

### What do you get instead?

![image](https://user-images.githubusercontent.com/4736168/139225343-e86c2144-7b60-

[2021-10-28 12:32] #5381 closed, assigned to yurabakhtin

[2021-10-28 23:14] timaschew opened #5406 "Chaning of base url via webinterface does not update common.php"
### What steps will reproduce the problem?

The `hostInfo` is not updated if I change the URL on the `/admin/setting/basic` page.

### What is the expected result?
Updated `hostInfo` in config/common.php

### What do you get instead?
Only updated `baseUrl` and `hostInfo` in config/console.php

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | 1.9.1
| PHP ver

[2021-10-30 23:51] timaschew commented on #5406
I'm using the docker image and I was confused by the wrong port: https://github.com/mriedmann/humhub-docker/blob/56bf013b75dcad06f982ba153149573262368ac8/humhub/protected/config/console.php#L17

But it's hard-coded because inside the container the port is fixed.
So it looks good

[2021-10-30 23:51] #5406 closed

[2021-11-01 10:40] hj-beckers commented on #5398
No help, no tipps, no answers?

[2021-11-01 11:30] funkycram opened #5408 "Humhub 1.10 beta 1 : the gender field returns null value and make crash the administration"
### What steps will reproduce the problem?

The gender profile field is visible, editable and shown in the search results.
Create an admin user and do not select any gender in the profile.
Go to Administration -> Users

### What do you get?

![image](https://user-images.githubusercontent.com/23310825/139664406-e8c58311-185e-47af-a271-bbc582725004.png)

TypeError: humhub\modules\user\models\Profile

[2021-11-01 11:34] funkycram commented on #5408
Sorry, I haven't seen https://github.com/humhub/humhub/pull/5401

[2021-11-02 09:12] luke- commented on #5408
@funkycram If the fix doesn't work for you, please reopen!

[2021-11-02 09:12] #5408 closed

[2021-11-02 09:13] luke- commented on #3847
@funkycram Thanks for the info. I'll close this issue. Should we add some additional info to the docs?

[2021-11-02 09:13] #3847 closed

[2021-11-02 10:04] Reuns commented on #5388
Hello,

what kind of information can I give you to help you out ?
@luke-

[2021-11-02 10:25] smashm opened #5414 "Humhub 1.10 beta 1: Profile About Field causes »An internal server error occurred.«"
### What steps will reproduce the problem?

Try to open the about site on a member profile.
You get this error:
![Bildschirmfoto 2021-11-02 um 11 13 20](https://user-images.githubusercontent.com/60502320/139828990-fe90df2e-f527-4673-9aff-02634da29cf2.png)

The error is reducible and also concerns the HumHub Community. (Screenshot is from Luke's profile.)

| HumHub version   | 1.10 beta 1

[2021-11-02 10:54] Gilbertdelyon opened #5415 "Custom defaultRoute"
Also refer:
-  to this old thread: [redirect to a custom page #1915](https://github.com/humhub/humhub/issues/1915#issue-170083604)
-  to this page [https://www.yiiframework.com/doc/guide/2.0/en/runtime-routing#default-route](https://www.yiiframework.com/doc/guide/2.0/en/runtime-routing#default-route)

In `config/web.php` if I add:

 `'defaultRoute' => 'space/spaces',` **it works !** redirection to

[2021-11-02 11:26] yurabakhtin commented on #5398
@hj-beckers @luke- Sorry, it was indeed my bug, because here https://github.com/humhub/humhub/commit/ea0757ab747526bf5d8b44d2efa944fc18313133#diff-165768d5264abf499f64dfebc8457418231c40e499429732ec7080f5695eab96R112 I used a static name on my local database.
I have fixed this in PR https://github.com/humhub/humhub/pull/5416.

[2021-11-02 12:43] luke- commented on #5398
@yurabakhtin Thanks.

@hj-beckers Will be fixed with 1.9.3. Until you can manually replace following files:
https://github.com/humhub/humhub/pull/5416/files

[2021-11-02 12:43] #5398 closed

[2021-11-02 12:47] luke- commented on #5415
Did you tried a real url?

[2021-11-02 12:47] luke- commented on #5414
Shoulkd be fixed in beta.2

[2021-11-02 12:47] #5414 closed

[2021-11-02 13:52] hj-beckers commented on #5398
I patched the files and executed according to https://docs.humhub.org/docs/admin/updating the steps Flush caches, Database migration and Update installed modules with success. But restarting humhub yields the following error:

Not instantiable – yii\di\NotInstantiableException
Failed to instantiate component or class "humhub\modules\questionanswer\models\Comment".
↵
Caused by: ReflectionException

[2021-11-02 14:19] Gilbertdelyon commented on #5415
Hello Luke,
What do you mean by real URL?

The Custom page "id=2" exists, it is a 100% public page
![image](https://user-images.githubusercontent.com/91057837/139862967-d7612800-53b2-42f5-9941-830d02aec930.png)

In my `web.php`:
![image](https://user-images.githubusercontent.com/91057837/139861918-f2baa5de-7683-4daf-a14c-75ca47b924f3.png)

in navigator:
![image](https://user-images.githubuserconte

[2021-11-02 14:47] luke- commented on #5415
I've added an example for a custom page home page here:
https://community.humhub.com/s/installation-and-setup/wiki/page/view?title=Change+Homepage

[2021-11-02 15:09] luke- commented on #5402
@yurabakhtin Thanks!

[2021-11-02 15:09] #5402 closed

[2021-11-02 15:16] luke- commented on #5394
@timaschew

If I understood correctly, the new visibility type `Restricted`, would be in principle `Public`, with no public contents and a private member list.

Would it also be suitable for your case to simply add an option `Hide member list for non-members`?

Restricted Spaces, would then be just `Public`, with only private content and no public member list.

[2021-11-02 16:00] Gilbertdelyon commented on #5415
Thank you Luke, but this is what  I get

[2021-11-02 17:56] Gilbertdelyon commented on #5415
Thank you Luke, It works !

[2021-11-02 18:02] #5415 closed

[2021-11-03 03:27] OxyFuse opened #5417 "Add Comment Link"
### Is your feature request related to a problem? Please describe.
There are 50 comments and the user shows it all. After he reached at the bottom, he scrolls up to reread the original post. He now fully understands the original post and wanted to comment on it.

He click the `Comment(n)` link thinking that it would open-up the comment form. He'll be confused now because it toggles the visibility

[2021-11-03 07:34] funkycram commented on #5408
I was able to try it and it works.

[2021-11-03 07:39] funkycram commented on #3847
@luke- Yes. In https://github.com/humhub/documentation/blob/master/docs/admin/search.md#index-rebuilding we should advise to disable cron before index rebuilding are re-enabling cron again just after.

[2021-11-03 10:37] hj-beckers commented on #5398
Do I have to open a new issue regarding the new problem or do you reopen issue #5398?

Thanks for your help.
Hermann-Josef Beckers
From: Lucas Bartholemy ***@***.***>
Sent: Tuesday, November 2, 2021 1:44 PM
To: humhub/humhub ***@***.***>
Cc: Hermann-Josef Beckers ***@***.***>; Mention ***@***.***>
Subject: Re: [humhub/humhub] installation error: 1.8.latest > 1.9.2 (Issue #5398)

Closed #5398<https

[2021-11-03 13:44] timaschew commented on #5396
I would expect to see `Space post` instead of ~`Stream post`~ (and `Profile post`).

[2021-11-03 13:48] Reuns commented on #5388
The problem occur (at least) on gmail.
I've checked the DB settings : **Utf8mb4_unicode_ci** character set and **InnoDB** Ok !

[2021-11-03 13:59] timaschew commented on #5394
I would not restrict to private content only, it could be also mixed (private + public) but the private content would be more often.

That would help but it would not be enough.

There is something else which is also important: The restricted Spaces should be not listed on the  `/spaces` page.

Right now (by patching the code) I show only these spaces on the `/spaces` page:
- if the current user i

[2021-11-03 14:02] hj-beckers commented on #5398
According to the table "module_enabled" the modules cfiles, legal, linklist, polls, tasks, updater and wiki are enabled. A directory "questionanswer" can only be found in the protected/runtime/module_backups directory in the humhub backup directories I made before trying the update(s). It has a time stamp in unix seconds of the time when I removed the modules before the 1.8.5 update. In the active

[2021-11-03 14:27] Reuns commented on #5388
this is the option available on the server :
![image](https://user-images.githubusercontent.com/19529531/140079109-40875c0f-ae0f-49b0-a2f9-6a2cd3b36ffd.png)
![image](https://user-images.githubusercontent.com/19529531/140079317-fd33cfb6-7deb-4b30-84e2-6f9c8fa388d8.png)

[2021-11-03 23:38] ArchBlood commented on #5388
See #5244 @luke- this can be closed

[2021-11-04 07:47] Reuns commented on #5244
Reproduced on 8.0.11

[2021-11-04 10:09] #5388 closed

[2021-11-04 10:13] luke- commented on #5244
Hmm I've tried with PHP 8.0.12 and still cannot reproduce:

![image](https://user-images.githubusercontent.com/4736168/140296217-5036b5aa-5e57-4a1a-857e-fcb0000eca4a.png)

![image](https://user-images.githubusercontent.com/4736168/140296271-168be66e-95de-41b8-a52e-de5c56591c0f.png)

Which E-Mail Client causing the error?

[2021-11-04 10:20] luke- commented on #5398
I would either try installing the "QuestionAnswer" module again, apparently the uninstall did not work correctly. Maybe you can contact the developer?

Otherwise you can run the IntegrityChecker from HumHub to clean the database from invalid entries.
https://docs.humhub.org/docs/admin/troubleshooting#data-integrity

[2021-11-04 10:28] luke- commented on #5394
To me, this sounds like a rather specialized use case and therefore I was less likely to see such "Restricted" Space visibility types in core for all users.

But as a module, such functionality could be really interesting.
We have introduced an EVENT with v1.10+, which allows to overwrite the visibilities of spaces.

See here: https://github.com/humhub/humhub/blob/develop/protected/humhub/modules/

[2021-11-04 10:55] ArchBlood commented on #5244
I've used Gmail, SquirrelMail, RoundCube, Horde, Zimbra, Rainloop, Outlook, and finally ProtonMail with the same issue occurring in each if PHP 8.0.9+ is used, I would like to note that this did not happen in any of the beta runs of 1.9 but after stable release.

[2021-11-04 10:56] ArchBlood commented on #5244
My only guess would be that there is a missing or added extension between PHP 7.4 and 8.0.x that is causing the error but I've not had the time to do any more tests

[2021-11-04 11:18] Reuns commented on #5244
Same here.
All I can provide is :
![image](https://user-images.githubusercontent.com/19529531/140079109-40875c0f-ae0f-49b0-a2f9-6a2cd3b36ffd.png)
![image](https://user-images.githubusercontent.com/19529531/140079317-fd33cfb6-7deb-4b30-84e2-6f9c8fa388d8.png)

[2021-11-04 12:00] luke- commented on #5244
Can you provide me a link where I can try the registration via gmail?

[2021-11-04 12:11] hj-beckers commented on #5398
Thanks.

Using the IntegrityChecker helped:

…
Deleting activity id 910 without existing target! (humhub\modules\user\models\Follow) (yes|no) [no]:yes
Validating: File Module (46 entries)
Validating: Content Objects (2511 entries)
Deleting content id 1032 of type humhub\modules\questionanswer\models\Comment without valid content object! (yes|no) [no]:yes
Deleting content id 1033 of type humhub\mod

[2021-11-04 12:18] luke- opened #5419 "Lock search index while reindexing..."
### Is your feature request related to a problem? Please describe.

While reindexing the search index via console, new entries may added by queue processing.

See: https://github.com/humhub/humhub/issues/3847#issuecomment-958712895

### Describe the solution you'd like

Set some sort of lock.

### Describe alternatives you've considered

-

[2021-11-04 12:35] Reuns commented on #5244
You can try here https://www.high-score.fr/

[2021-11-04 17:04] luke- commented on #5244
@Reuns Thanks for the test access, there I can recreate the problem. Unfortunately not on my systems.

@ArchBlood Do you mean this bug is between this versions?
https://github.com/humhub/humhub/compare/v1.9.0-beta.2...v1.9.0

[2021-11-04 17:11] ArchBlood commented on #5244
Yes, it is between the last beta of 1.9 and stable version and continues onto newer versions.

[2021-11-04 20:34] ArchBlood commented on #4981
If I remember correctly I commented on something similar and asked if a `hideSpaceWidget` option could be added similar to the ones used for the Members widget and the configure option on the dashboard Latest Activities widget and it was discussed that it could be added at a later date after some talk with the team. 🤔

[2021-11-05 08:55] smashm opened #5420 "Incorrect order/assignment of name and profile picture in summarized comment notifications"
While the order is correct for merged likes (last like with matching name and picture is shown), merged comments show the correct picture of the last commenter but the wrong name.

### What steps will reproduce the problem?
Look at notifications about two or more new comments on a post.

### What is the expected result?
The correct order/assignment as it shown at two or more summarized likes.

![B

[2021-11-05 12:33] funkycram commented on #3506
+1. Today, with Humhub 1.9, sharing a content with a link or the Social Share module on Facebook is quite bad: only the image of the space is show, but not title, description or image of the publication or other module's content.

[2021-11-05 12:45] funkycram commented on #4298
I think this is one of the most important features missing in Humhub.

1) Zend Lucene is so slow, that on platforms with many contents, it your search has many keywords, it can take more than one minute to display the results on a dedicated server with 4 CPU !

2) Sorting by date

3) Adding filters, in the same way as in the spaces:
![image](https://user-images.githubusercontent.com/23310825/14051

[2021-11-07 12:33] timaschew commented on #5394
How does the event work? Where is the counterpart and is there any documentation or example?

[2021-11-08 09:23] luke- commented on #5394
@timaschew Here is a documentation about it: https://docs.humhub.org/docs/develop/events
`$event` is a `ActiveQueryEvent` which contains the current Space Active Query.

1.) Register the event in your  modules `config.php`
2.) Create a callback method
3.) In the callback, add custom visibility rules in `$event->query`

[2021-11-08 19:13] marlonbjj opened #5422 "Profile field search not appears"
### What steps will reproduce the problem?
When i come to the people page, profile fields search doesnt appears to me. Only: search, sort, status and resert filter.

### What is the expected result?
Profile fields search.

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | 1.9.2
| PHP version      |  7.3
| Operating system |

[2021-11-08 22:48] timaschew commented on #5394
@luke- thanks for the link!

But does it mean I can only append/prepend to the existing query?
Or can I even completely overwrite the query from these lines: https://github.com/humhub/humhub/blob/80a65f5b34e5cd0e3d08889a24dc084c3e4e3f14/protected/humhub/modules/space/components/ActiveQuerySpace.php#L55-L61

BTW: It looks that someone else has a similar request regarding a restricted space (not lis

[2021-11-09 15:37] smashm commented on #5422
What do you mean with »profile fields search«?

If you have the search field, it also searches the profile fields.

![Bildschirmfoto 2021-11-09 um 13 12 07](https://user-images.githubusercontent.com/60502320/140954987-c8d45d4a-caa9-4361-b670-8b07a9510bcf.png)

[2021-11-09 23:24] timaschew opened #5423 "Display password rules in form field hint"
I have 5 password rules, but the user will see only one at a time/fail. It's really annoying if you need 5 attempts find out all the rules.

Example:
[code]

### Is your feature request related to a problem? Please describe.
Bad UX when using more than one password rule

### Describe the solution you'd like
Display all rules if the password does not match at least one of the rules.
Ideally the rul

[2021-11-10 09:47] luke- commented on #5394
@timaschew You can modify the query object. usually you can add additional conditions.

[2021-11-10 11:39] timaschew commented on #3989
It's even not possible to explicitly set relative links to `/s/my-space` or anchors `#section-a`.

Everytime `https://` is prepended automatically.

[2021-11-10 20:35] ArchBlood commented on #3989
See https://github.com/humhub/humhub-prosemirror/issues/61

[2021-11-11 12:03] minettesunet opened #5425 "Topics added to a post does not appear correctly"
![2021-11-11_12-53-51](https://user-images.githubusercontent.com/94115743/141294532-331e21f0-83fe-4b6b-abb2-8622e68134f6.png)
When adding a topic to a post, the only thing that is visible is a white button. It seems like the text for the topic is missing. A bug?

[2021-11-11 21:51] felixhahnweilheim opened #5426 "Missing language chooser on login modal and registration form"
### Is your feature request related to a problem? Please describe.

Yes, the language chooser (shown on the separate login page) is missing on the login modal window (shown when guest access is enabled) and on the registration form.

### Describe the solution you'd like

Add the language chooser (`<?= humhub\widgets\LanguageChooser::widget(); ?>`) to
- `/protected/humhub/modules/user/views/auth/lo

[2021-11-12 00:28] ArchBlood commented on #5425
It is probably due to a custom theme that hasn't been recompiled as I've not seen any issues with the current stable nor the beta themes when it comes to the Topics core function.

[2021-11-12 03:51] OxyFuse opened #5427 "Deep Links to Single Comment"
### What steps will reproduce the problem?
Click on a `comment` activity from the Latest Activity widget, such as https://community.humhub.com/s/general-discussion/?contentId=248085&commentId=39640

Or you can also open it through the comment permalink. Make sure that the comment you try to open is from the collpased comments.

### What is the expected result?
It should expand the collapsed commen

[2021-11-12 05:28] OxyFuse opened #5428 "Pin a Comment"
### Is your feature request related to a problem? Please describe.
No.

### Describe the solution you'd like
Add an ability for the original poster and Administrators to pin a comment. The pinned comment should be at the top and is always visible.

[2021-11-12 07:50] minettesunet commented on #5425
Yes that solved the problem, thanks!

[2021-11-12 07:50] #5425 closed

[2021-11-12 10:25] luke- commented on #5427
Also to be considered: Nested discussions where the permalink goes to a subcomment.

[2021-11-12 10:28] luke- commented on #5426
We could show the Language Chooser somewhere in the Footer Navigation when guest access is enabled

[2021-11-12 10:29] luke- commented on #5428
I like the idea!

[2021-11-12 14:11] OxyFuse opened #5429 "commentsPreviewMax for Permalink"
### Is your feature request related to a problem? Please describe.
No.

### Describe the solution you'd like
The `commentsPreviewMax` option are the same for both in Stream Posts and when viewing the permalink of a post. It would be nice if there is a different option, let's say  `commentsPermalinkPreviewMax`, that determines the maximum initial comments to show in post permalink.

For example, wh

[2021-11-12 15:26] OxyFuse opened #5430 "Choice of Infinite Scroll or Pagination"
### Is your feature request related to a problem? Please describe.
Yes.
1. SEO Purposes
Googlebot [doesn't scroll](https://www.searchenginejournal.com/google-infinite-scroll-lazy-loading/363184/), which presumably makes a lot of posts missing in Google’s search index.

2. Finding Content
Let's say I have a 3 year old site and I have already made 2000 posts. I knew very well that in the first few m

[2021-11-12 15:57] Semir1212 opened #5431 "Add ability to deactivate 'Latest Activities' Widget"
Ideally for each space individually - for some use cases it is not very useful, removing it would make room for more suitable elements.

[2021-11-12 18:33] smashm commented on #5431
+1, see also: https://github.com/humhub/humhub/issues/4981

[2021-11-12 18:58] luke- commented on #5431
Here a configuration option: https://community.humhub.com/s/installation-and-setup/wiki/page/view?title=Configuration+Examples#hide-activity-box-on-given-space

[2021-11-14 03:26] OxyFuse commented on #5430
The search results are using pagination, so I think it could be also use to other areas such as the Stream?

[2021-11-14 16:11] luke- commented on #5429
@OxyFuse Something like that is already planned here.

Please reopen this issue if it does not apply.
https://github.com/humhub/humhub/issues/3442

[2021-11-14 16:11] #5429 closed

[2021-11-16 10:11] #4969 closed

[2021-11-16 10:12] #4553 closed

[2021-11-16 10:42] #187 closed

[2021-11-16 10:46] luke- commented on #337
- We should migrate to a newer hashing algo.
- Maybe make it configurable by config file.

[2021-11-16 10:46] #242 closed

[2021-11-16 14:54] funkycram opened #5432 "Possibility to add buttons in the People page with a module"
### Is your feature request related to a problem? Please describe.

It is complicated for a module to add buttons in the People page.

### Describe the solution you'd like

Add a widget somewhere similar to <?= TopMenu::widget(); ?>

E.g.:
![image](https://user-images.githubusercontent.com/23310825/142007013-a454fa6e-ac3a-4226-930c-9ccbadee5565.png)

### Describe alternatives you've considered

![

[2021-11-17 12:05] samuk commented on #3118
+1

[2021-11-17 12:09] samuk commented on #3118
As an aside @MrDrMcCoy I think much of this would be possible with https://docs.n8n.io/nodes/n8n-nodes-base.mattermost/

And the Humhub N8N node (we'll be releasing this in the next few days)

Then a fork of https://github.com/GreenMeteor/rockethub to adapt for Mattermost for the iframe bit

[2021-11-18 08:22] ankit-aresourcepool opened #5433 "changes in humhub.content.container.js file not reflecting"
I want to implement functionality for follow and unfollow accept and reject follow option. Currently this feature only available in friends module. I have added code but js file change not reflecting

[2021-11-18 09:18] timaschew opened #5434 "Guide is stopped when clicking on disabled `Next` button"
### What steps will reproduce the problem?
Start the interactive guide/tour and go to the end of one. The button `Next` is disabled but if you click there the guide is stopped. Same happens if you press on the keyboard the `right arrow` key.

### What is the expected result?
Since a click outside of the guide/tour box is not doing anything (not closing the box, not stopping the guide) the disabled

[2021-11-18 10:02] #5422 closed

[2021-11-19 18:56] #5433 closed

[2021-11-21 13:28] Soundwave2142 commented on #5310
@luke-
I looked into this. It seems we are currently use blueimp. I tried updating the plugin ( as creator claimed new version support this ), however it did not help. Plugin is also installed via package manager (not statically as some other js scripts), so I don't think I can tinker with it? I also tried some of the small code snippets I found on internet, however non of them seems to work.

I c

[2021-11-21 14:14] Soundwave2142 commented on #5340
@luke- @orangiene
I can see the problem from your example, however I can not repeat it. Menu item for me only created when all items together are too wide to be displayed (more noticeable on German version as German words generally has more letters), and ALL of the items then moved to menu item at the same time. I can not repeat behavior where you can see "ubersicht" item and menu item, because fo

[2021-11-22 05:53] yurabakhtin commented on #5427
@luke- Yes, I can reproduce the issue on the post https://community.humhub.com/s/general-discussion/?contentId=248085&commentId=39640, but locally on `develop` branch (1.10.0-beta.2 (November 12, 2021)) it works well:

<img width="858" alt="deep_comment_link" src="https://user-images.githubusercontent.com/6995524/142807720-1486a7aa-23ee-4cf4-99ab-0bca780bc940.png">

Maybe there is old version?

[2021-11-22 13:28] luke- commented on #5427
Just updaated to the latest version @Community
Can you please try again?

[2021-11-22 14:19] yurabakhtin commented on #5427
@luke- It still does work there, ok I will review the code again in order to understand how to reproduce this bug.

[2021-11-22 20:02] #5386 closed

[2021-11-23 08:30] yurabakhtin commented on #5427
@luke- The problem was in enabled caching. I fixed this in PR https://github.com/humhub/humhub/pull/5438.

[2021-11-23 08:52] luke- commented on #5427
@yurabakhtin Perfect, thanks for the fix. The bugfix was important for the stable 1.10 release!

[2021-11-23 08:52] #5427 closed

[2021-11-23 11:42] yurabakhtin commented on #5298
@Semir1212 @luke- PR https://github.com/humhub/humhub/pull/5439:

<img width="1146" alt="space_followers" src="https://user-images.githubusercontent.com/6995524/143018122-fabded8e-15a5-4b34-a734-2cc5fe161cd6.png">

[2021-11-23 15:21] luke- commented on #5298
@yurabakhtin Thanks

[2021-11-23 15:21] #5298 closed

[2021-11-23 15:34] luke- commented on #5310
@Soundwave2142 Ok, thanks anyway for take a look -- then lets postpone this issue for now :-)

[2021-11-23 16:00] luke- commented on #5340
@Soundwave2142 See my recoding here. You can also add some further navigation entries using the custom pages module.

https://user-images.githubusercontent.com/4736168/143058836-542f215c-3a1a-4aff-a28d-587bd501d3f1.mp4

To me it looks like there is a fixed spacing at the beginning which is much too high in most cases.

[2021-11-23 20:10] libanAKG opened #5440 "Cannot upload a document"
### What steps will reproduce the problem?
Trying to upload a document.

### What is the expected result?

Successful upload of a document.

### What do you get instead?

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | 1.9.2
| PHP version      |  7.3.27-1~deb10u1
| Operating system | Ubuntu

ERROR  Tue, 23 Nov 2021 19:48:43 			 yii\base\UnknownPropertyExce

[2021-11-23 21:49] luke- commented on #5440
Please open a issue here: https://github.com/githubjeka/tracker-issues

[2021-11-23 21:49] #5440 closed

[2021-11-23 22:51] ArchBlood commented on #5440
Already made apparently https://github.com/githubjeka/tracker-issues/issues/48

[2021-11-24 18:09] ChilliPipper commented on #5440
Yes, i opened it ! Same error, couldn't find a solution by my own yet, and apparently there's nothing on the web

[2021-11-25 04:26] onyxnz opened #5442 "PHP Deprecated Warning in ListController.php"
### What steps will reproduce the problem?
In a Space with Tasks enabled, Click Tasks
### What is the expected result?
Form to handle tasks
### What do you get instead?
Crash
### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | 1.9.2
| PHP version      |  8.0.13
| Operating system | Archlinux x64

yii\base\ErrorException: Required parameter $offset follows opti

[2021-11-25 06:01] onyxnz commented on #5442
Merely altering line 124 to
public function actionShowMoreCompleted($id = null, $offset = false)
is sufficient.

[2021-11-25 10:32] luke- opened #5443 "Installer: Checkbox misplaced"
![image](https://user-images.githubusercontent.com/4736168/143425303-1fa4c4c6-3a44-4a17-91e6-9df813000333.png)

Develop Branch

[2021-11-25 10:33] luke- commented on #5443
![image](https://user-images.githubusercontent.com/4736168/143425551-72714118-2552-44b8-94fe-ff59b0eb1fb8.png)

[2021-11-25 12:31] yurabakhtin commented on #5443
@luke- PR https://github.com/humhub/humhub/pull/5444:

<img width="754" alt="install-db" src="https://user-images.githubusercontent.com/6995524/143442138-4c848eed-5b0f-4418-9b9b-f40e58cead4e.png">
<img width="748" alt="install-modules" src="https://user-images.githubusercontent.com/6995524/143442165-bc4d7e55-4089-43b7-83d9-7cd7b664fb68.png">

[2021-11-25 12:46] luke- commented on #5443
@yurabakhtin Did you also checked the other pages e.g. create exampel content?

And please also see my PR note

[2021-11-25 13:55] yurabakhtin commented on #5443
@luke- New fixes are in commit https://github.com/humhub/humhub/pull/5444/commits/4ef87e85be2a944091ca97bd748422c955d8360e:

<img width="755" alt="install-security" src="https://user-images.githubusercontent.com/6995524/143453768-dfac3bfa-26cc-4262-a115-0fe706e954fa.png">

---

<img width="753" alt="install-config" src="https://user-images.githubusercontent.com/6995524/143453785-4569257b-fc2a-4da0

[2021-11-25 14:19] funkycram commented on #2504
I think this issue should be closed. This one deals with the same subject and is more recent: https://github.com/humhub/humhub/issues/3989

[2021-11-25 15:03] luke- commented on #2504
@funkycram thanks!

[2021-11-25 15:03] #2504 closed

[2021-11-26 09:40] ruslanakhatv opened #5446 "Не проходит авторизацию"
Не возможно попасть в профиль.
При попытке зайти, страницы перезагружается снова в login  страницу

yii\web\BadRequestHttpException: Не удалось проверить переданные данные. in /home/p252776/www/t.tusabon.ru/protected/vendor/yiisoft/yii2/web/Controller.php:209 Stack trace: #0 /home/p252776/www/t.tusabon.ru/protected/humhub/components/Controller.php(191): yii\web\Controller->beforeAction(Object(yii\

[2021-11-26 10:47] Reuns opened #5447 "Comments aren't displayed anymore"
### What steps will reproduce the problem?
Update from 1.9.3 to 1.10.0
Comment a post.
Reload the page.
Comment count is good, but comments aren't displayed.

### What is the expected result?
The comments should be displayed

### What do you get instead?
No comments available

### Additional info
I can see comments made before the upgrade.
But the new comments doesn't work properly.

- There are n

[2021-11-26 12:31] smashm commented on #5447
I can't reproduce that with PHP 7.4 (8 not tested).
Two hints:
• I have made a habit of clearing the PHP cache after updates, because the display has spun more often. (Browser cache clearing could also be helpful) -> admin menu/settings/advanced/caching
• Do you use an own theme? -> Better rebuild it

[2021-11-26 13:01] #5446 closed

[2021-11-26 13:14] Reuns commented on #5447
I knew I was forgetting something : clearing the cache !
Thanks for the reminder, but it still doesn't work...

I'm using default theme. No tweak.

[2021-11-26 13:15] Reuns commented on #5244
Problem still here on 1.10

[2021-11-26 13:45] luke- commented on #5244
@yurabakhtin Can you take a look into this?

[2021-11-26 14:59] luke- commented on #5447
Can you please try to flush your browser cache?

[2021-11-26 18:04] TorWaG77 commented on #5447
We have the same problem. After clearing the php-Cache the comments are visible, but new comments are hidden again until I clear the cache again. I see the same problem in the Community-Forum (i.e. https://community.humhub.com/content/perma?id=249052 cannot see my own comment)

[2021-11-26 18:17] luke- commented on #5447
Fixed here: https://github.com/humhub/humhub/pull/5448

[2021-11-26 18:17] #5447 closed

[2021-11-28 10:52] smitti commented on #1401
Hi there, is this actually working with Hunhub 1.9?

[2021-11-29 17:26] luke- opened #5449 "File: setStoredFileContent and set setStoredFile"
Also update `updatedAt` and `updatedBy` (param).

[2021-12-01 06:13] yurabakhtin commented on #5434
@luke- PR https://github.com/humhub/humhub/pull/5452: I could only hide the disabled buttons, but the press event on the key `right arrow` still works as before, it executes the same event as button "End guide" does, because it is coded inside the external bootstrap library and we cannot modify the code here https://github.com/humhub/humhub/blob/master/protected/humhub/modules/tour/resources/js/bo

[2021-12-01 10:34] luke- commented on #5434
@yurabakhtin Thanks for the fix! This should be sufficient!

[2021-12-01 10:34] #5434 closed

[2021-12-01 14:05] luke- opened #5453 "Migration Problem"
We should avoid to use the `Group` model in the migration. This causes such errors:

[code]

[2021-12-01 14:35] yurabakhtin commented on #5244
@luke- I have tested HumHub versions 1.10+ with php 8.0.8 and 8.0.12, for me the links work well, i.e. I can click and open expected page:

<img width="1187" alt="gmail_html" src="https://user-images.githubusercontent.com/6995524/144253497-652784e5-1163-4498-ae04-ab1c6e8c5a8b.png">

I find the `3D` chars only in source:

<img width="1187" alt="gmail_source" src="https://user-images.githubuserconte

[2021-12-01 15:19] Reuns commented on #5244
Hi @yurabakhtin,
This is what I have in source
TXT
`S'inscrire: https://www.high-s=
core.fr/user/registration?token=3DWPe2izoTCK1L`
![image](https://user-images.githubusercontent.com/19529531/144261134-c046741f-e45b-455c-acff-7374b5973e9c.png)
HTML
`<a href=3D"https://www.high-score.fr/user=
/registration?token=3DWPe2izoTCK1L"
                                     =
                          style=

[2021-12-01 16:19] funkycram commented on #5224
Would you like me to make a PR?

[2021-12-01 16:44] ArchBlood commented on #5244
I've been getting the same results.

[2021-12-01 18:13] gfontaniere opened #5454 "Fail2ban configuration help"
### How to configure Fail2Ban ?

Please, could you help me to configure fail2ban for Humhub ?

- jail.d/defaults-debian.conf
- filter.d/humhub.conf

Thank you.

[2021-12-01 19:25] ArchBlood commented on #5454
You should either speak to the developers of fail2ban or use the community site for help such as this.

[2021-12-02 06:17] gfontaniere commented on #5454
OK. Thank you very much.

[2021-12-02 06:17] #5454 closed

[2021-12-02 07:40] yurabakhtin commented on #5453
@luke- PR https://github.com/humhub/humhub/pull/5455: please note I didn't exclude the model `Group` from the migration because the error appeared only on call the method `$group->save()`, so I just did to use SQL commands instead of the method.

[2021-12-02 07:57] yurabakhtin commented on #5244
@Reuns Thank you for the source. If I got it correctly:

- on the source side you have the urls like `/registration?token=3DWPe2izoTCK1L`, that is ok.
- but your mail clients don't remove the `3D` on open the link, that is wrong.

For me it looks like the problem only in the mail client side.

[2021-12-02 10:22] Reuns commented on #5244
@yurabakhtin
This option has already been discarded. I'm using Gmail (as you do in your test). I've also tested roundcube ...  no more success.
Would you please, try to register on https://www.high-score.fr and let me know what is happening ?

[2021-12-02 11:09] yurabakhtin commented on #5244
@Reuns I have registered and yes there is a problem:

<img width="1289" alt="broken" src="https://user-images.githubusercontent.com/6995524/144409212-c1d52d1f-6de9-4426-a178-ca4e2326d552.png">

Compare with my version from test server:

<img width="1289" alt="localhost" src="https://user-images.githubusercontent.com/6995524/144409757-f067ee04-e594-4c92-9072-5d6235eaf72c.png">

What I find from the

[2021-12-02 11:38] yurabakhtin commented on #5244
@Reuns If we look at the end of mail headers where the expected new line is lost before `Content-Type`:

[code]

I see there are headers of some tools `MailScanner` and `AntiAbuse`.
I don't find any code related to them on HumHub and Yii code sides.
What if the tools are executed only on your provider server side?
Could please review settings of your server and if you find something similar then p

[2021-12-02 15:35] Reuns commented on #5244
I can't find anything in settings. I should call the hotline.
BTW, these element already exist with php 7.4 and mails are correct.

Meanwhile I've found a solution (which won't help you) : using SMTP transport instead of PHP.
(It won't correct the bug, but it'll do for me.)

[2021-12-02 16:23] yurabakhtin commented on #5244
@Reuns Thank you for the info.

Do you mean on php 7.4 you have the same broken headers in single line but email message is rendered correctly by mail client?

[2021-12-03 09:49] Reuns commented on #5244
@yurabakhtin I mean, MailPropre/MailScanner and AntiAbuse. already exists on php 7.4
This one is on 7.4 and works great
![7 4-good](https://user-images.githubusercontent.com/19529531/144582023-d4c0bfd5-6dbd-4495-ad99-6dae62f04b12.jpg)

[2021-12-03 11:47] funkycram opened #5457 "Comment notification should contain to the comment link and not the content link"
### Is your feature request related to a problem? Please describe.

On new comment notification, if you click on "Show online", you are redirected to the content.

### Describe the solution you'd like

On Humhub 1.10, with the new comments permalinks, it would be possible for the "Show online" button to redirect you directly on the comment.

[2021-12-03 13:01] luke- opened #5458 "Reduce `dynamic.php` content"
The configuration file `dynamic.php` should ideally contain only the database access data. Everything else should be read from the database & cache.

[2021-12-03 16:47] luke- commented on #5453
@yurabakhtin Thanks I think that works!

[2021-12-03 16:47] #5453 closed

[2021-12-03 17:29] luke- commented on #5224
@funkycram Yes, would be great!

[2021-12-04 17:54] octiwhale opened #5459 "Add "Monthly" email summary option"
Please add an option to receive an email summary monthly as in the attached screenshot.

![Screenshot of Monthly email summary option](https://i.ibb.co/GkwvZB1/Screenshot-2021-12-04-11-51-33-AM.png)

[2021-12-05 10:56] aronbos commented on #5458
Please think about an option to add multiple databases. I am using two extra database in my own modules that have no direct connection to the Humhub main database. In dynamic.php adding the databases is simple. Just add the name en parameters to the db-array.

[2021-12-05 21:31] ArchBlood commented on #5244
Every time I try to wrap my head around this issue, it just keeps bringing me back to this line of code;
https://github.com/humhub/humhub/blob/db4c34776df7add919a9b0ecb49848651ee289b1/protected/humhub/modules/content/widgets/richtext/converter/RichTextToEmailHtmlConverter.php#L62

I'm not exactly sure why. 🤔

[2021-12-06 07:28] funkycram commented on #5399
The [Mass Notification](https://www.humhub.com/en/marketplace/mass_notification/) module which I am the developer does this and allows to create a campaign with SendInBlue if you have a large community instead of sending an email to each member (solves the problem of long-running queries in Cron jobs).
Moreover, this module adds a permission in each space allowing to choose if all members can use

[2021-12-06 08:26] yurabakhtin commented on #5244
@ArchBlood The code is related only for image urls:

<img width="689" alt="image_token" src="https://user-images.githubusercontent.com/6995524/144809783-20d91b75-d39f-4af0-8351-62d8b8f4e0a8.png">

The image token was developed in order to view images in email messages when user is not logged in currently in the email client as the humhub user. For info you can read here https://github.com/humhub/n

[2021-12-06 09:01] luke- commented on #5244
@ArchBlood If you are having this problem, maybe you can give Yura a test account on your server? I also find your comment interesting that the problem only occurs from a certain HumHub version.

[2021-12-06 09:33] luke- opened #5460 "Untranslatable string `New Updates` in Stream"
Untranslatable string:
![image](https://user-images.githubusercontent.com/4736168/144821925-4aa18806-7cfe-4dde-ad52-2efad53cc38b.png)

@Semir1212 Wording ok?

[2021-12-07 13:49] luke- opened #5463 "Add Theme Core Version rebuild Check"
Some do not update their theme LESS file after a major HumHub update.

It would be good to implement a check here and then display a warning.

[2021-12-07 15:04] luke- commented on #3442
@yurabakhtin I have already created a PR for this. We should use in this post view, a very high limit of displayed comments and no ReadMore.

PR: https://github.com/humhub/humhub/pull/5462

[2021-12-07 15:05] luke- commented on #3442
Related: https://github.com/humhub/humhub/issues/3574

[2021-12-07 15:05] #3574 closed

[2021-12-07 15:06] yurabakhtin commented on #5457
@luke- PR https://github.com/humhub/humhub/pull/5464.

[2021-12-07 15:08] luke- opened #5465 "Empty RichText Error"
Logged Error:
[code]

Seems like an error was thrown when the content is empty. Can we improve this a bit so that there is not a fatal error here?

[2021-12-07 15:17] luke- commented on #5457
@yurabakhtin Thanks!

[2021-12-07 15:17] #5457 closed

[2021-12-07 16:49] ArchBlood commented on #5244
Currently we're still down so I'm not able to create a test account as our server manager is still working things out with our current server providers, once we've resolved our issues on their end we'll be more than happy to help

[2021-12-07 16:51] ArchBlood commented on #5463
I would like to also say that a link to the documentation site should also be listed for ease of update.

[2021-12-08 03:13] miqrogroove opened #5466 "htaccess Broken by v1.10"
After upgrading from v1.9.2 to v1.10.2, the installation is no longer accessible through the web server.

According to the new .htaccess.dist

[code]

Unfortunately, Apache's mod_rewrite will not honor any RewriteRule directive unless the FollowSymLinks option is enabled.  This has nothing to do with HumHub options.

The workaround would seem to be explicitly enabling FollowSymLinks at the site le

[2021-12-08 05:22] yurabakhtin commented on #5465
@luke- PR https://github.com/humhub/humhub/pull/5467.

[2021-12-08 07:35] yurabakhtin commented on #3442
@luke-

Commit https://github.com/humhub/humhub/pull/5462/commits/15fdec7c12ddd0bc7b2396767cd8deef3e42926d

Sorry, not clear what to do here, probably you mean your previous comment:

As I got it we should implement the loading of next comments portion/page on scroll down like we have on stream view for content records.
Ok, but please note currently we have the input field "Write a new comment..."

[2021-12-08 07:58] funkycram commented on #5457
Great! Thanks @yurabakhtin

[2021-12-08 15:23] #5465 closed

[2021-12-09 10:17] luke- commented on #3442
@yurabakhtin

- Very High Comment Limit: Instead of showing only ~3 comments from the beginning, maybe we should show 20-30 comments. The limit here should be flexibly configurable. (Comment Module Attributes)

- I would not implement auto reload/endless scroll of comments. Just as described before instead of 3 just 25. Maybe when you click on "Comment" it might be possible to jump to the input fi

[2021-12-09 10:20] luke- commented on #5466
Thanks for the info.

I would then simply remove the two lines. And if someone wants to use the "LinkAssets" option (very rare case), he has to decide himself how to configure the webserver?

[2021-12-09 12:45] yurabakhtin commented on #3442
@luke-

Do you tell about these module attributes https://github.com/humhub/humhub/blob/enh/post-view/protected/humhub/modules/comment/Module.php#L20-L30:

[code]

If yes, should we just change them right here to new values `25`?
Or should we allow to customize them only from the post view side when we call `StreamEntryWidget::renderStreamEntry($post)`?

---

Ok, we don't the scroll feature to loa

[2021-12-09 13:04] luke- opened #5470 ""Accept Invite" Button wrong size"
Maybe related to the `Enterprise Theme`

![image](https://user-images.githubusercontent.com/4736168/145401586-1f93a625-13d1-49b1-8cdf-e739abaaa9d1.png)

[2021-12-09 13:06] miqrogroove commented on #5466
It's the other way around.  The `Options +FollowSymLinks` needs to be un-commented, else the server has to be configured for this at a higher level.  With that option missing, mod_rewrite fails and the site is not accessible.

[2021-12-09 13:28] luke- commented on #5466
Did I understand it correctly that `Options +FollowSymLinks" should be always uncommented,because "mod_rewrite" requires it?

[2021-12-09 13:33] miqrogroove commented on #5466
Quoted from

https://httpd.apache.org/docs/current/mod/mod_rewrite.html

[2021-12-09 14:00] luke- commented on #3442
@yurabakhtin
- Instead of showing 3 comments directly 25 should only apply to post view page and we to extend this for all `VIEW_CONTEXT_DETAIL`  in several places. e.g. Wiki pages.

- What I mean with "scroll to the new comment input" is related to this issue: https://github.com/humhub/humhub/issues/5417
But leave this as it is for now. We address this issue later...

[2021-12-09 14:02] luke- commented on #5466
@miqrogroove Oh ok, thanks for the hint!
Fixed here: https://github.com/humhub/humhub/commit/e63d6b5e4cbd7ab5cfb40a6f047017ffa4c12164

[2021-12-09 14:02] #5466 closed

[2021-12-09 19:14] jazzcrack commented on #802
You are 100% right. Unfortunately, many seem to overlook this. :-/

[2021-12-09 19:32] samuk commented on #802
As an aside to this we've recently paid to get a n8n.io Humhub node written. I reckon it should be possible to create an RSS feed from that. Should be landing in n8n in the next few days.

I'll mention it in the community when it's available.
![Screenshot (1)](https://user-images.githubusercontent.com/400875/145463391-fa89a42c-3da7-4055-b63f-7e1f77278eae.png)

[2021-12-11 09:06] funkycram opened #5471 "Pending approval page: add grouped actions and custom columns"
Original discussion: https://community.humhub.com/content/perma?id=249489
Since Andreas offers to pay me to make this improvement, I can offer a PR.

### Is your feature request related to a problem? Please describe.

1. For manual approvals of new users via the "Approval Pending" page, there are many clicks to be made.
2. It takes time to see the profile fields of each user to approve

### Descri

[2021-12-13 12:20] yurabakhtin commented on #3442
@luke-

Commit https://github.com/humhub/humhub/pull/5462/commits/c6bd2168c836ae9c924020e07920b85d9c014c44

In order to implement this on wiki module side we should modify the code from here https://github.com/humhub/wiki/blob/master/views/page/view.php#L43:

[code]

to code like this:

[code]

[2021-12-13 12:40] yurabakhtin commented on #5470
@luke- Fixed in PR https://github.com/humhub/enterprise-theme/pull/24, yes it was related to the "Enterprise Theme" when the module is enabled but the theme "enterprise" is not selected.

[2021-12-13 13:51] luke- commented on #5470
@yurabakhtin Thanks, please see my PR comment.

[2021-12-13 14:05] funkycram commented on #5263
Perhaps an easier solution would be to enable view content (if activated in config/common.php) to all users that can manage user?
In that case, the [canViewAllContent() method](https://github.com/humhub/humhub/blob/develop/protected/humhub/modules/user/models/User.php#L700) could be:

[code]

If you think it's a good idea, I can do a PR.

[2021-12-14 13:47] funkycram commented on #5471
@luke- When the approval (or decline) form is shown, as the mail subject and message is in the language of the user, on the form when approving multiple users at the same time, I should theoretically show 2 fields by users (subject + message ; e.g. 20 fields for 10 users to approve).
This is impractical if the admin wants to customize the message.

Should I show only 2 fields (subject + message) i

[2021-12-14 16:44] luke- commented on #5471
@funkycram  Good question. What do you think about only being able to define an individual Approval/Decline message when enabling users individually?  Then in Bulk Mode, you could simply send the default message for all users in the respective language.

What do you think about that?

[2021-12-15 08:05] funkycram commented on #5471
As the messages texts can be customized in `protected/config/messages`, I think it is indeed the best option. Thanks.

[2021-12-15 09:57] luke- commented on #4632
Maybe related. https://github.com/humhub/cfiles/issues/147

[2021-12-15 12:18] funkycram commented on #5471
@luke- What do you think about this proposal?

![image](https://user-images.githubusercontent.com/23310825/146184452-e871e90d-45c1-490f-a156-736a5452b32b.png)

![image](https://user-images.githubusercontent.com/23310825/146184819-45b38c4e-03fb-4ad6-b9d7-38aac8fa3bbc.png)

![image](https://user-images.githubusercontent.com/23310825/146184523-41c9f6ac-0f88-401c-ae29-5cf2822f7767.png)

![image](https

[2021-12-15 13:36] smashm commented on #5471
Looks very well. In the screenshot it is a bit unclear, but isn't it useful to limit the selection of the screenoptions to the (for registration) _required_ fields only?

[2021-12-15 13:44] r007ops opened #5475 "Prevent Specific Usernames"
I've done some searching and don't seem to beable to find this anywhere.

I would like to prevent certain usernames from being used on my site withoutbhaving to register them all myself.
E.g. I want to stop admin, administrator, hhadmin, hhadministrator, root, etc,

Are there ny plans for such a feature and if not, ca I please recinnnd it

TYVM akk!

[2021-12-15 15:56] funkycram commented on #5471
Yes, you're right @smashm . I would say the "Show at registration" (and not only required).

[2021-12-17 10:36] luke- commented on #5471
@funkycram Yeah, looks nice.

Maybe we could combine the buttons here
![image](https://user-images.githubusercontent.com/4736168/146531361-6b302131-6b09-4066-bdfa-5692ee1d9cae.png)
Into one dropdown, like here:
![image](https://user-images.githubusercontent.com/4736168/146531514-0e8a76e3-a510-4e00-a6bb-9e958b0161b6.png)
to save Space for user Information?

@orangiene Maybe you can also take a look

[2021-12-17 12:09] FikriSami commented on #1640
هذا مثال للكتابة باللغة العربية
This is an example of writing in Arabic
Hi everybody
I am really disappointed that RTL is still not possible for posts and comments in Humhum spaces and profiles.
We are approaching 2022
Don't you think it is time you included full text editing options such as alignment and text color?
I would really appreciate it if this is included soon. I created a personal netwo

[2021-12-18 10:20] funkycram commented on #5471
In a way it indeed save space, in an other, you need 2 clics to approve an individual user.
Maybe should I combine the buttons only when some profile fields are selected in the screen options?

[2021-12-21 09:29] orangiene commented on #5432
![button-people-page](https://user-images.githubusercontent.com/62644500/146905782-c9f5b683-aab7-4e36-8266-74f8f3596c21.jpg)

what do you think about it?

This way we have all the functionalities clearly together that you can do on the People page.
Gray buttons imply that they are not clickable, so I set them all to "active".

[2021-12-21 09:35] funkycram opened #5479 "A non member of a private space do not have the "unauthorized" message in some pages"
### What steps will reproduce the problem?

With an account that is not member of a private space, directly go to the URL:
http://humhub.tdl/s/private-space/space/manage

And, if the calendar module is activated, go to:
http://humhub.tdl/s/private-space/calendar/container-config

### What is the expected result?

You should have the message "You are not allowed to do this action"

### What do you

[2021-12-21 09:40] funkycram commented on #5432
Thanks @orangiene. That would be perfect!
I'm just wondering if the buttons should be above or below (as shown in your screenshot) the filter block.

[2021-12-21 09:46] luke- commented on #5432
I think the buttons should ideally be displayed above the filters, since they are more like a navigation.

[2021-12-21 09:49] orangiene commented on #5432
![button-people-page2](https://user-images.githubusercontent.com/62644500/146908892-f250277c-3073-4734-ac8a-6026977b8789.jpg)

then let's do it that way?

[2021-12-21 11:06] funkycram commented on #5432
I think that's fine!

[2021-12-21 11:29] luke- commented on #5432
Yes, thanks fine!

[2021-12-21 15:56] orangiene commented on #5471
![pending-approvals](https://user-images.githubusercontent.com/62644500/146960030-6bb16fd3-6f9d-4c5e-8b9a-904aa7902c3f.jpg)
![pending-approvals-2](https://user-images.githubusercontent.com/62644500/146960039-2fd6d691-3fa7-46c6-bd69-ed18a7306b4a.jpg)

Hi all, what do you think about this?

[2021-12-22 10:57] sakurafarm opened #5480 "Isn't the translation file corrupted?"
humhub\protected\humhub\modules\admin\messages\el\base.php L:54

https://github.com/humhub/humhub/blob/9441680ea372741a212741bfb70df4725bc8b04a/protected/humhub/modules/admin/messages/el/base.php#L1-L59
| Q                | A
| ---------------- | ---
| HumHub version   | 1.10.0 - 1.10.3

[2021-12-23 06:40] yurabakhtin commented on #5480
@luke- The bug was created here https://github.com/humhub/humhub/commit/7997963#diff-cd058b06d1908fcafaecead6eaa9ad02120009b3a2746a4a0ef304c190b83b56R54. I don't know how it was created either manually or there is a bug of the command, but if I run `php yii message/extract-module admin` I cannot reproduce this, see what I have after run the command https://github.com/humhub/humhub/pull/5481/files#

[2021-12-23 09:34] funkycram commented on #5471
Great ideas @orangiene, thanks! I will integrate them.

[2021-12-23 10:53] luke- commented on #5480
@yurabakhtin Ok, maybe there was a problem with our translation tool here.

Can you please correct only the syntax error in the PR and not recreate the files? Otherwise there will be too many conflicts when we use our translation tool.

[2021-12-23 11:56] yurabakhtin commented on #5480
@luke- Ok, I have reverted the changes and keep only in the single file https://github.com/humhub/humhub/pull/5481/files.

[2021-12-23 13:07] luke- commented on #5480
@yurabakhtin Thanks!

[2021-12-23 13:07] #5480 closed

[2021-12-25 08:54] funkycram opened #5482 "Enable using grid view pagination in modal box"
### Is your feature request related to a problem? Please describe.

If you have a grid view in a modal box, when clicking on an other page (in the pagination bar), the page will reload but not in the modal box.
![image](https://user-images.githubusercontent.com/23310825/147381373-154d51d0-24e0-4649-ad2a-950ca4a3ea0e.png)

### Describe the solution you'd like

You should stay in the modal box.

An

[2021-12-27 20:29] Bust011r commented on #5204
Hi, I've updated to 1.9.1 and no have resolved my problem with database. I tried to do a test with test server with latest update and still not working.

What can i try to do to solve the problem?

The error is below attached:
``
Yii Migration Tool (based on Yii v2.0.40)

Total 5 new migrations to be applied:
	m210211_051243_container_tag
	m210331_115144_default_timezone
	m210506_060737_profile_fi

[2021-12-28 10:50] luke- commented on #5204
@Bust011r Can you try to update to 1.9.2?

[2021-12-28 16:14] luke- commented on #5482
@funkycram Did you tried, following:

[code]

If this work, we could add a `modalMode` which automatically add this Pager.

[2021-12-28 17:16] Bust011r commented on #5204
Yes, i've updated without errors but the error with migration persist and there aren't error in db.

`Yii Migration Tool (based on Yii v2.0.40)

Total 5 new migrations to be applied:
	m210211_051243_container_tag
	m210331_115144_default_timezone
	m210506_060737_profile_field_directory_filter
	m210727_102150_follow_friend
	m210822_104736_mymodule_inital

*** applying m210211_051243_container_tag

T

[2021-12-29 10:31] yurabakhtin commented on #5479
@luke- Fixed in PR https://github.com/humhub/humhub/pull/5483.

[2021-12-29 14:09] luke- commented on #5479
@yurabakhtin Thanks!

[2021-12-29 14:09] #5479 closed

[2021-12-29 16:12] funkycram commented on #5479
Great, thanks !

[2021-12-29 17:15] acheype commented on #3998
Let me reissue the ticket, are you planning this feature?

I have since experimented with headlines in humhub but with js hack and I testify that it greatly improves the readability of the news feed. With proper integration, it would also make it easier to see notifications, as well as eventually consider other types of views as buddh4 mentions.
I agree also with his solution to generate a title f

[2022-01-01 07:14] lisandi commented on #3506
+1 It isn't available in 1.10.3 either and to promote HumHub further as a social media and sharing platform it is a MUST HAVE to not lack behind other social scripts with similar functionalities. It is necessary that a featured image or the first image of a post gets shown in the shared post beside at least the title and some first lines (paragraph) of the post.

Showing only the space's image is

[2022-01-01 20:00] ArchBlood commented on #3850
@luke- this could be closed or does HumHub still plan on doing something similar in nature with the new sections?

[2022-01-02 09:21] luke- opened #5484 "Migrate to Symfonymailer"
Replace deprecated `Swiftmailer` with https://github.com/yiisoft/yii2-symfonymailer

[2022-01-02 10:07] #5482 closed

[2022-01-02 22:20] funkycram commented on #5224
@luke- see new PR #5485

[2022-01-03 10:29] luke- commented on #3850
@ArchBlood Good Catch & Happy New Year! ;-)

[2022-01-03 10:29] #3850 closed

[2022-01-03 15:05] luke- commented on #5224
@funkycram Looks fine. Thank you!

[2022-01-03 15:05] #5224 closed

[2022-01-03 15:45] RoundAboutWEB opened #5487 "Dashboard for modle "jitsi meet""
The module "jitsi meet" is missing several important functions, so you need additional platforms like "https://jitsi-admin.de/room/dashboard", which makes the module superfluous again.

Cool would therefore be a management of appointments for users, as well as permanent appointments and the invitation of external (no HumHub users).

[2022-01-03 16:28] funkycram commented on #5471
@luke- see #5488

[2022-01-03 18:04] luke- commented on #5487
@RoundAboutWEB Please open the issue in the Module Repo: https://github.com/humhub-contrib/jitsi-meet

[2022-01-03 18:04] #5487 closed

[2022-01-05 14:37] #4632 closed

[2022-01-05 17:32] luke- commented on #5471
@funkycram Great thanks!

[2022-01-06 21:48] Pyth0ff opened #5489 "Add selecting multiple values from a select field in the profile"
### Is your feature request related to a problem? Please describe.
The users need to select multiple values from an predefined set of values in an consistent way.

### Describe the solution you'd like
The `<select>` element has an attribute called multiple, which I would expect to set, if an certain checkbox on the profile field is set. On the profile page you have just a rendered list, like for t

[2022-01-07 15:49] luke- commented on #5471
@funkycram Thank you, it is merged. I have made a few minor changes.

The translations are now also maintainable on our translation site.

[2022-01-07 15:49] #5471 closed

[2022-01-08 11:26] funkycram commented on #5471
Thanks a lot @luke- for your commit https://github.com/humhub/humhub/commit/f6659136e028e17b9d4e5506176ab1513e510389
Translations have been done.

[2022-01-09 16:55] weshpoupou2 commented on #1400
I have the same problem...
When connecting with IP address, the pictures appear ; with the domain name, images are broken...
I have disabled the "Use X-Sendfile for File Downloads" option.
![erreur HUMHUB](https://user-images.githubusercontent.com/97392624/148692304-211d23cf-0466-4ffb-b23f-7cfc9e93a2d8.png)

[2022-01-11 09:55] orangiene commented on #5314
![community_space-menu-add-modules-01](https://user-images.githubusercontent.com/62644500/148920502-c4df6c1e-4405-4902-9492-d43919ca4930.jpg)
![community_space-menu-add-modules-02](https://user-images.githubusercontent.com/62644500/148920508-5d467275-22ae-4a9d-93aa-09df85b2715e.jpg)
![enterprise_space-menu-add-modules](https://user-images.githubusercontent.com/62644500/148920525-d4759da2-c343-4e21

[2022-01-11 15:06] orangiene commented on #851
![community_online-icon-people](https://user-images.githubusercontent.com/62644500/148966699-ea21ac21-b611-4843-b237-7c181eb9e887.jpg)
![enterprise_online-icon-people](https://user-images.githubusercontent.com/62644500/148966711-c0ee46cc-4237-41ab-9101-630f9416ac91.jpg)
![community_online-icon-messages](https://user-images.githubusercontent.com/62644500/148966751-3c10a154-1ac5-47b4-9ab1-ffa7144b02

[2022-01-11 15:43] orangiene commented on #5299
Hello @Gilbertdelyon , @luke- ,

we have looked at the issue and should definitely pick up some points here. Thank you very much for your input.
We have created internal tasks on HumHub page for each of the issues and are working on them.

[2022-01-11 15:43] #5299 closed

[2022-01-11 16:59] luke- commented on #851
@orangiene Looks good, thanks!

What do you think about only showing a green dot in the online case and not extra flagging the offline case?

Directory/People: I would leave out the word "online/offline".

Mail: Here we could maybe show the online status only at the top of the participant list and omit it in the Mail Conversation dialog.

[2022-01-11 17:04] luke- commented on #5314
@orangiene Thanks, looks good.

Can you maybe make a version where the link is a bit more decently? This should be more a subtle hint for space admins....

[2022-01-11 17:47] orangiene commented on #5314
@luke- therefore I created version 2 and 3. We could also go with this Version:

![community_space-menu-add-modules-02](https://user-images.githubusercontent.com/62644500/148994794-fd576ef3-c48c-4984-b54f-50940bfbb825.jpg)

![enterprise_space-menu-add-modules-01](https://user-images.githubusercontent.com/62644500/148994802-6eaf61f8-5098-4f1f-89ec-727f6bf033f4.jpg)

![enterprise_space-menu-add-modu

[2022-01-11 18:01] luke- commented on #5314
@Semir1212 What do you think?

[2022-01-12 10:55] orangiene commented on #851
thank you.
I prefer the version with "online" and "offline" but I can also live with it if the text is not included and you don't like it. :-)

For Mail I agree with you. I updated the screen:

![community_online-icon-messages](https://user-images.githubusercontent.com/62644500/149127272-7002ee51-a08b-40c9-a6b1-724d11bb6002.jpg)

[2022-01-12 15:04] luke- opened #5492 "`People` and `Spaces` not visible for guests"
### Is your feature request related to a problem? Please describe.

When guest access is enabled, the 'Spaces' and 'Members' pages are never visible.

### Describe the solution you'd like

It would be good to have a setting whether these pages are visible.

By default `Spaces` should be visible and `Members` not.

### Describe alternatives you've considered

-

[2022-01-12 15:06] luke- commented on #851
@orangiene What do you think about showing only the online status?

[2022-01-12 15:20] orangiene commented on #851
@luke- that's fine for me. What do you think about a status like in webex "absent", "on vacation" or is this too complex?
of course, it should then also be possible to set your own status, possibly with your own text, an out of office note.

[2022-01-12 15:33] luke- commented on #851
@orangiene Sounds not bad, but I would then open a separate issue for it and we would also have to consider in detail how it should work. (Set status, etc.).

[2022-01-12 15:34] orangiene commented on #851
ok, I will do that. @luke-

[2022-01-12 15:41] luke- commented on #851
@orangiene Yes, lets begin with the online icon only.

- Only a green dot without online at People like here: https://user-images.githubusercontent.com/62644500/148966699-ea21ac21-b611-4843-b237-7c181eb9e887.jpg
- Never show the offline status (no red marker)

Can you please adapt the screens? Then we can start with the implementation...

[2022-01-12 16:03] orangiene opened #5493 "Adjust style of the new Post form"
![image](https://user-images.githubusercontent.com/62644500/149176440-28b1f59c-32dd-4644-9b5b-89792fd45116.png)

[2022-01-12 16:05] orangiene commented on #5493
![image](https://user-images.githubusercontent.com/62644500/149176615-0884b957-0855-45c5-9021-fcead34ad5c8.png)

![image](https://user-images.githubusercontent.com/62644500/149176662-2a5ff038-ebed-4888-9bc3-20d51287c9db.png)

![image](https://user-images.githubusercontent.com/62644500/149176695-ad59ee6d-9e13-4c39-bb5e-659b6e40aed3.png)

[2022-01-12 16:11] luke- commented on #5493
@orangiene Can you add a screenshot of the initial state. Without the buttons?

[2022-01-12 16:25] orangiene commented on #5493
![New post menu #177-initial](https://user-images.githubusercontent.com/62644500/149180468-b49ddfba-ce36-4a41-9bce-ee2eb202956b.jpg)

[2022-01-12 16:46] orangiene commented on #851
here you go:

![community_online-icon-people](https://user-images.githubusercontent.com/62644500/149184147-75ee836e-f556-443c-b020-e1c3aa8daeab.jpg)

[2022-01-12 17:10] Semir1212 opened #5494 "OEmbed for Facebook, Twitter.."
As is currently the case with e.g. YouTube, oEmbed links should also be available for other common networks by default (e.g. Facebook, Twitter, Instagram).

![image](https://user-images.githubusercontent.com/38326726/149188194-33c41528-0d44-4eca-be08-f08cc092ca07.png)

[2022-01-12 21:46] miqrogroove opened #5495 "Search Doesn't Show Private Posts Except in Spaces"
I was trying to use the search feature on my site today and couldn't find my own post no matter what keywords I used.  As I fiddled around with it more, I realized every result from the search feature is marked public.

Edit: Private visibility posts from Space Streams will show up.  For some reason this bug is only affecting User Streams.  This might be a friendship bug.

[2022-01-13 09:20] Semir1212 commented on #5314
As for the Space menu, I do not really see a purpose for this. Once a Space is set up, which often times happens when the network itself is set up, the option becomes to useless to be displayed this prominently.

In general, I would not solely focus on modules, but rather on the whole Space configuration. I think that many users are not aware of the possibilities there. For example, we could make

[2022-01-13 09:26] orangiene commented on #5314
@Semir1212 @luke-
We are already working on the standardization of the buttons.
The button should be more prominent in any case, I can also quickly adjust in the screen.
But the question is, do we want a "-+add more" button to the navigation menu or do we want to solve this via the settings?

[2022-01-13 09:47] orangiene commented on #5314
![community_space-menu-add-modules-03](https://user-images.githubusercontent.com/62644500/149306208-7c450503-fcf1-4ea7-a01b-61b6b75ba1b9.jpg)

[2022-01-13 10:23] orangiene opened #5496 "user status settings/ online icon"
extended version to "add Online Indication"

### Describe the solution you'd like
Possibility to create a user status, such as "on vacation", "absent", etc. and an own absence note.
This way other users can see if someone will be absent for a longer period of time and add a personal message if necessary.
In addition, it should be possible to set the duration of the absence note.

The status should

[2022-01-13 10:54] azmeuk opened #5497 "Add an option to disable the login form"
Hi. I use [yii2-authclient](https://github.com/yiisoft/yii2-authclient) to authenticate my users, and this is the only authentication method I want to use.
I find it confusing that users see two different authentication methods on the login page (the regular login/password form, and the "connect with OpenID Connect" button yii2-authclient adds). So I would love a configuration option that could al

[2022-01-13 15:11] luke- commented on #5497
In our SAML SSO we have an option that the user is redirected directly to the SAML provider without seeing the login page.

Would this also be an option for you? Or do you like to show the login page anyway?

[2022-01-13 15:13] azmeuk commented on #5497
That would totally be an option. To properly skip the login screen was what I was looking for in the first place :)

[2022-01-13 17:04] luke- commented on #5497
@azmeuk You can try to add following block to your `\protected\¢onfig\web.php`:

[code]

[2022-01-13 17:11] luke- commented on #5314
What do you think about a decent variant?
![image](https://user-images.githubusercontent.com/4736168/149376598-8d1f11cf-398b-4400-90ba-30b896cdec1c.png)

We could then add a dialog:
- Add Page (Custom Page)
- Add Module
- ...

[2022-01-13 17:19] azmeuk commented on #5497
This works thank you! <3
I think this feature should be either documented, or made a simple configuration.

[2022-01-13 17:38] luke- commented on #5497
Great!

I've added it here: https://community.humhub.com/s/installation-and-setup/wiki/page/view?title=Configuration+Examples

[2022-01-13 17:38] #5497 closed

[2022-01-13 17:44] luke- opened #5498 "Add new Installer Steps (Cron/PrettyUrls/Mails)"
In the `SetupController` we  should add steps for:

- Cron

Maybe show a `Crontab` example

- PrettyUrls

Show a example in the config file, link to documentation.

- Mails

Button for test mail? SMTP Configuration

These 3 points are often overlooked and lead to frustration later on.

[2022-01-13 18:19] luke- commented on #5495
Can you please provide steps to reproduce? I can find Private Space content.

[2022-01-13 18:31] miqrogroove commented on #5495
Ah, I can confirm that.  I didn't realize this was behaving differently for Spaces and Users.  Top post edited.

To reproduce, try putting a private post on your own profile, as well as a post on a friend's profile stream (friending enabled).
 Neither post will ever shows up in search results.  Stream display and filters are not affected, just search results.

[2022-01-14 08:40] Semir1212 commented on #5314
@orangiene I would maybe writhe out the term 'Configuration' besides the icon to make it more visible.

[2022-01-17 13:41] luke- commented on #5494
We should also add migrations for existing installations...

[2022-01-18 15:58] luke- commented on #5475
It would probably be easiest to first add an array variable `$forbiddenUsernames` here, in which individually forbidden user names can be set via the configuration file.

https://github.com/humhub/humhub/blob/master/protected/humhub/modules/user/Module.php#L140

[2022-01-18 17:00] Semir1212 opened #5499 "Add option to filter by date"
From...to date - Any ideas @orangiene A simple solution would be sufficient for now.

![image](https://user-images.githubusercontent.com/38326726/149982348-a77ec0a2-4b2a-44be-bc3a-a8719d062a78.png)

[2022-01-19 10:46] orangiene opened #5500 "user status settings/ online icon"

[2022-01-19 10:47] #5500 closed

[2022-01-19 11:35] orangiene commented on #5496
Profile dropdown general:
- Name and title now also visible for Enterprise
- Font sizes optimized for accessibility
- Star icon only as placeholder in draft
- Possibility to display an Online, Offline, Away... status
- Possibility to set a status message

Screen 01
By default, the status is set to "offline", i.e. not visible. I.e. no colored circle is displayed next to the profile picture and also

[2022-01-19 14:57] orangiene commented on #5314
Hey,

do you mean something like this:
![community_space-menu-add-modules-03](https://user-images.githubusercontent.com/62644500/150156123-a1244b95-4817-44fc-8226-508882fdd0f0.jpg)

[2022-01-19 16:11] Semir1212 commented on #5314
@orangiene Yes, something like that

[2022-01-19 16:22] angelovolpato opened #5501 "Add option to remove message from email notification"
Dear all,
for privacy reason, we would like to show notification email without the message in email body, only a simple advise like "you have new message, go to your profile to see the message"

Thanks

Angelo

[2022-01-19 17:55] luke- commented on #5314
For me, this is too much... :-)

[2022-01-19 18:27] orangiene commented on #5314
ok last and my favorite suggestion:

we leave it as it was, make the settings button more prominent (colored), and rename the item "Modules" to "Modules/Space menu settings".

From the user's point of view it is then easier to assign the item "Modules" to the left navigation.

Do you want to make a decision on this topic or may/should I? ;-)

![community_space-menu-add-modules-01a](https://user-im

[2022-01-20 10:10] vsemradu commented on #5475
Branch: enh/5475

[2022-01-20 11:08] vsemradu commented on #5258
I didn't quite understand the task. Please give a detailed explanation.

[2022-01-20 11:41] RoundAboutWEB commented on #5258
I miss in the list of new user approvals to be approved the information who invited this user:

![grafik](https://user-images.githubusercontent.com/26809494/150332076-b7e57767-7256-442a-9e0b-add0b771145c.png)

[2022-01-20 11:49] luke- opened #5503 "Profile Fields with `tel://` Prefix"
### Is your feature request related to a problem? Please describe.

For phone number profile fields, it would be good to link them with "tel://".

Maybe it makes sense to include anchor type(?) field in the profile field definition where you can specify e.g. tel://, sip://,xmpp://, http://.

For default phone field we should of course enable it by default.

[2022-01-20 11:50] luke- opened #5504 "Member -> Filter: Text profile fields as Selectbox"
### Is your feature request related to a problem? Please describe.

Profile fields e.g. text fields can be used as filters on the members page.

For example, if you use Department as a profile field, a text field is displayed here as a filter, but a dropdown would be better here.

A Select2 selectbox with search option would be good here. Maybe a dropdown is shown here up to e.g. 100 values, then

[2022-01-20 14:14] luke- commented on #5475
@vsemradu Thanks, please see my review

[2022-01-20 17:52] luke- commented on #5498
![image](https://user-images.githubusercontent.com/4736168/150393603-79e298c8-bca5-4fa2-be17-fd017e0e6f92.png)
![image](https://user-images.githubusercontent.com/4736168/150393836-dc234dbf-c85f-43b1-a86c-455a24b10fee.png)
![image](https://user-images.githubusercontent.com/4736168/150394132-842c01be-bbf3-47fb-b9d0-74d0c98c8bc2.png)

@s-tyshchenko Good job, can you please check my notes on the scree

[2022-01-20 20:09] orangiene opened #5506 "Modal: Close Icon optimization"
### Is your feature request related to a problem? Please describe.
The light gray Close icon is barely visible, should be optimized.

### Describe the solution you'd like
Enlarge the icon and use the primary color for more accessibility.
Close Icon in 16x16px

![modal-close-icon](https://user-images.githubusercontent.com/62644500/150413853-9e0b732c-6013-4399-ba2a-5a717fa27557.jpg)

[2022-01-20 20:24] orangiene opened #5507 "Modal position on screen"
### Is your feature request related to a problem? Please describe.
The modal seems randomly positioned, the navigation is completely hidden.

### Describe the solution you'd like
The position of the modal below the navigation.
Even though the navigation is not clickable while the modal is open, it looks cleaner for the user and he can see the navigation.

![modal-position-on-screen](https://user-i

[2022-01-20 21:01] luke- commented on #3442
@yurabakhtin What do you think about adding a variable `$viewMode` directly in the `Comments` widget? That would be a bit easier to set:

e.g. `Comments::widget(['object' => $post, 'viewMode' => Comments::VIEW_MODE_COMPACT]);` or `Comments::widget(['object' => $post, 'viewMode' => Comments::VIEW_MODE_FULL]);`

[2022-01-24 11:26] vsemradu commented on #5258
![screenshot_3](https://user-images.githubusercontent.com/10543601/150774783-f26e398f-8348-42b3-8fcb-a425d03b6742.png)

[2022-01-24 11:31] tomofu74 opened #5512 "Internationalization of content_tag , contentcontainer_tag like as profile_field"
Wouldn't it be fun if you could communicate across language barriers with common tags?

### Is your feature request related to a problem? Please describe.
I found that the same topic was created by each user in a different language on our own Humhub server.

### Describe the solution you'd like
the profile_field are able to set translate file each language. Is it possible to make it in the same wa

[2022-01-24 14:11] RoundAboutWEB commented on #5258
Exactly this column at the point I mean.
Why is it not displayed for me?
What do I have to do so that it is displayed?

[2022-01-24 15:50] luke- commented on #5258
@RoundAboutWEB There is a Pull request here: https://github.com/humhub/humhub/pull/5511

[2022-01-24 15:55] luke- commented on #5512
Sounds good. However, I would just suggest one fixed "virtual" translation category here, such as `ContentModule.tags`. Whoever wants could create translations here.

The translation manger should also take this into account somehow:
https://www.humhub.com/en/marketplace/translation-manager/

[2022-01-25 09:09] yurabakhtin commented on #3442
@luke- Ok, commit https://github.com/humhub/humhub/pull/5462/commits/8b856d28b293f1bddf22cc929eee6b28bd7d6541.

[2022-01-25 12:51] waldyrious opened #5514 "Link preview text has incorrect encoding"
### What steps will reproduce the problem?

Post a link whose title or text contains non-ASCII characters ([example](https://www.noticiasdeaveiro.pt/porque-me-candidato-pelo-livre-a-assembleia-da-republica/)).

### What is the expected result?

The rich preview of the link should include the proper characters like à, ú, í, etc.

### What do you get instead?

The non-ASCII characters are misinterpr

[2022-01-25 13:08] orangiene opened #5515 "full screen editor in comments or posts"
### Is your feature request related to a problem? Please describe.
Screen is fully filled by editor, looks like we left the site.
### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/62644500/150982293-213be9f6-1fde-45aa-811d-363aac2b9d7e.png)

[2022-01-25 13:16] orangiene commented on #5515
![full screen editor in comments or posts #5515](https://user-images.githubusercontent.com/62644500/150983684-cce08f0a-a2de-4f29-aaf8-b0b45314e7a9.jpg)

the textbox should start below the navigation/search filed (in the background) in 1140px width for HumHub and Enterprise and centered aligned.

[2022-01-25 13:22] orangiene opened #5516 "full screen editor in comments or posts: possibility to send directly"
Currently it is not possible to send a message from the full screen window. To send a message directly, the full screen mode must be closed again.
To enable the user to do this, there should be a "send" button at the bottom right.

After clicking the send button the full screen mode closes and the sent message appears in the chat.

![full screen editor in comments or posts_ possibility to send](ht

[2022-01-25 14:27] aaukt commented on #5514
https://github.com/humhub/linkpreview-issues/issues/16

[2022-01-25 15:10] waldyrious commented on #5514
Thanks, @aaukt — I will close this issue in favor of that one.

[2022-01-25 15:10] #5514 closed

[2022-01-25 15:54] miqrogroove opened #5517 ""Follows" Notifications are Awkward"
Ever since Follow became entwined with Friendship, we get awkward emails every time a friend request is sent or accepted.  And it says nothing about friendship.  The notification is literally "X now follows Y" as well as "Y now follows X".  These are not meaningful in the way they might be intended.

[2022-01-25 16:01] luke- commented on #5517
There should be no such notification at all.

[2022-01-25 17:47] #4656 closed

[2022-01-25 17:48] #4255 closed

[2022-01-25 21:00] Douand opened #5518 "Number of activities reported in the mail summary is limited to 20"
**### What steps will reproduce the problem?**
The mail summary is limited to only the last 20 most recent activities. A suggested solution in the Community Hub was to add the following block to protected/config/common.php:

    'container' => [
        'definitions' => [
            \humhub\modules\activity\components\MailSummary::class => [
                'maxActivityCount' => 500
            ]

[2022-01-26 11:40] luke- commented on #5475
@Semir1212 Currently "You cannot use this username.'" is the error message

[2022-01-27 17:00] AsimAJ33 commented on #3382
Not sure what the progress is on this feature if any.  But I'd love this functionality too.

[2022-01-27 18:08] #5258 closed

[2022-01-28 08:57] vsemradu commented on #5518
please clarify the following:
Is this task related to this module https://www.humhub.com/marketplace/mail ?
I don't quite understand on which page the limit of 20 records is displayed?

[2022-01-28 09:08] Douand commented on #5518
This relates to the e-mail summaries of activity sent hourly, daily, weekly (or never), as set in the user account settings.

![image](https://user-images.githubusercontent.com/74459399/151518563-55ee2ed2-4b99-43a2-b3a1-54633f78a3f6.png)

[2022-01-28 12:25] #4890 closed

[2022-01-28 13:49] klauswagner commented on #5001
related: https://github.com/humhub/humhub/issues/4298

[2022-01-28 17:13] Bust011r opened #5519 "Only view file with onlyoffice plugin"
Hi,

is it possible disable the download of the file and have only onlyoffice view mode enabled?

[2022-01-28 21:24] luke- commented on #5519
No, presumably it would be downloadable via OnlyOffice anyway, if you want to protect it.

[2022-01-30 21:25] ArchBlood commented on #5244
Alright, so I've also gone ahead and tested with PHP 8.1.2, same results as in PHP 8

Can be tested here: https://discuss.greenmeteor.net/dashboard
If needed I can also provide an email for the mail client side.

[2022-01-31 10:23] AsimAJ33 commented on #3534
This resolved my issue.  I had a space after objectguid because I pasted from Active Directory.  After running `yii ldap/sync` all accounts are enabled.

[2022-01-31 11:48] vsemradu commented on #5503
https://github.com/humhub/humhub/pull/5520

[2022-01-31 16:54] #5494 closed

[2022-02-01 10:38] luke- opened #5522 "File Table - Add Content Id"
It would be good if a `content_id` field is available in the file table.

Even if the file is only indirectly related to a content (e.g. it belongs to a comment) it would be good if the `content_id` is set here anyway.

Use cases for this are statistics, e.g. how much memory does a space consume.

[2022-02-01 17:22] luke- opened #5524 "Mentioning Permission"
### Is your feature request related to a problem? Please describe.

A user level permission whether Mentioning is allowed.
Default should be allowed.

Useful when users could reduce it to Friends only.

### Describe the solution you'd like

### Describe alternatives you've considered