[2020-12-16 21:09] fae7em commented on #4713
Actually, I already create an issue for it in #4712 , because I thought it's a part of project logic that public content stays public, I create that issue to also check the container visibility in `canView`.

[2020-12-17 00:09] zogith commented on #4691
thanks @buddh4  I was able to get the previous behaviour back by changing

  “object-fit:cover” to “object-fit:contain” in the file themes/HumHub/css/theme.css

[2020-12-17 00:09] #4691 closed

[2020-12-17 01:30] ArchBlood commented on #3726
I believe this is related to #4355 in some way?

[2020-12-17 06:53] yurabakhtin opened #4720 "Unknown property: humhub\modules\user\models\Group::notify_users"
### What steps will reproduce the problem?

Fresh install https://github.com/humhub/humhub/tree/develop on new empty DB.

### What is the expected result?

Success install.

### What do you get instead?

`Getting unknown property: humhub\modules\user\models\Group::notify_users`

<img width="1677" alt="intall_bug_notify_users" src="https://user-images.githubusercontent.com/6995524/102453389-2e65920

[2020-12-17 07:07] yurabakhtin commented on #4720
After refreshing the page I could go to next step to set up data like admin login/pass and etc., but on a step to install sample data I caught another error(see screenshot below), however after refreshing the page I could finish the installation successfully and site looks works well.

<img width="1518" alt="bug_create_sample_data" src="https://user-images.githubusercontent.com/6995524/102454739-8

[2020-12-17 07:49] yurabakhtin commented on #4714
@luke- @buddh4 please check PR https://github.com/humhub/humhub/pull/4721:
- in the first commit I fixed the sample endpoints to use HTTPS,
- in the second commit I create a migration to update ONLY sample endpoints to HTTPS if they still use HTTP.

[2020-12-17 09:45] luke- commented on #4720
@yurabakhtin  You may run the migrations `yii migrate/up --includeModuleMigrations=1`  if you switch from master -> devleop branch.

[2020-12-17 11:06] Meshikhah opened #4722 "IBM cloud instance doesn't work."
Here is my IBM cloud instance
[humhum.mybluemix.net](humhum.mybluemix.net)

it gives me this error
[code]

[2020-12-17 11:07] yurabakhtin commented on #4716
@buddh4 PR https://github.com/humhub/humhub-modules-tasks/pull/136

[2020-12-17 11:12] #4722 closed

[2020-12-17 11:22] yurabakhtin commented on #4714
@luke- PR for `master` branch - https://github.com/humhub/humhub/pull/4723

[2020-12-17 11:29] luke- commented on #4716
I could not reproduce the problem with other modules (Calendar, Wiki, Files).

@yurabakhtin The fix works fine for me!

[2020-12-17 12:22] #4716 closed

[2020-12-17 12:37] buddh4 commented on #4691
@zogith You should rather use a [custom theme](https://docs.humhub.org/docs/theme/overview) for such changes, otherwise the change will be overwritten with the next update.

[2020-12-17 14:03] buddh4 opened #4726 "Archived content issues"
Here are few issues with current archive feature:

# Global content can not be archived (https://github.com/humhub/humhub/issues/4715)

For this to work we need a proper permission management for global archive feature.

- Is the user allowed to archive global content.
- Is the user allowed to archive this content?

# Content of archived spaces is currently not included in archived stream filter

[2020-12-17 14:18] buddh4 opened #4727 "Nav tabs with data-toggle are styled in link color"
With data-toggle:

![grafik](https://user-images.githubusercontent.com/9800854/102499085-0d1b9a80-407b-11eb-9325-52f2a92e023e.png)

No data-toggle:
![grafik](https://user-images.githubusercontent.com/9800854/102499113-14db3f00-407b-11eb-9cdf-e43bf02cc5e8.png)

[2020-12-17 14:27] buddh4 commented on #4718
You mean when cropping an image, the result does not match the crop selection?

[2020-12-17 14:32] buddh4 commented on #4690
@luke- can you have a look?

[2020-12-17 14:43] #4717 closed

[2020-12-17 14:56] buddh4 commented on #4684
I'll close this for now `MarkdownView` will probably be deprecated in 1.8

[2020-12-17 14:56] #4684 closed

[2020-12-17 14:58] luke- commented on #4718
Uploaded files will be converted to 192px height, cropped parts to 180px height.

[2020-12-17 14:58] buddh4 commented on #4664
Related to https://github.com/humhub/humhub/issues/4411 when replacing jplayer we maybe can use e.g. mediaelements also as video player.

[2020-12-17 14:59] buddh4 commented on #4410
Related to https://github.com/humhub/humhub/issues/4411

[2020-12-17 15:01] #4715 closed

[2020-12-17 15:25] luke- commented on #4690
@miqrogroove Did you ran the step "Fix permissions" described here https://docs.humhub.org/docs/admin/updating/#upgrade-manually ?

If you follow this step and the cron user is also www-data, there should not be any problems with the permissions.

[2020-12-17 15:41] #4727 closed

[2020-12-17 16:12] buddh4 opened #4729 "Migrate modules to github actions"
Since we've moved the core to github actions the travis module tests fail due to changed default configuration. We'd need a a fallback for travis environment and move modules to github action.

Github action migration:

- [x] Calendar
- [x] Wiki
- [x] Custom pages
- [x] Cfiles
- [x] Mail
- [x] Polls
- [x] Gallery
- [x] Tasks
- [x] Birthday

[2020-12-17 16:18] miqrogroove commented on #4690
Maybe I'm just doing that step in the wrong order, before the migration rather than after.  I will check it tonight.

[2020-12-17 17:02] GertuZz commented on #4707
That did the trick! Thank you!

[2020-12-17 17:03] #4707 closed

[2020-12-17 18:14] luke- opened #4730 "Add Grouping of ContentCreated Notifications"
### Is your feature request related to a problem? Please describe.

If ContentCreated Notification is activated for a Space, it creates notifications for all content. Especially for types such as CFiles files or gallery images, a large number of notifications are often generated. (Adding folder / album)

### Describe the solution you'd like

Grouping notifcations by content type and space id

###

[2020-12-17 18:17] luke- commented on #4730
Since the ContentCreated Notification also often triggers an e-mail, it would of course be very good to have a Notification E-mail Delay and Grouping. As discussed here: https://github.com/humhub/humhub/issues/3891

[2020-12-17 18:19] luke- commented on #3891
For us the most important drivers are DB & Redis and for test cases InstantQueue.
So there should be nothing against using the delay feature of the queue system.

[2020-12-17 23:50] buddh4 opened #4731 "Dedicated update log files"
Would be great to keep dedicated update log files for module and core updates, this would ease the troubleshooting and support of update related issues. When helping others after a potential update problem we only receive the last few error log entries which often do not contain the actual errors of the update process. And even if, it can be hard to distinguish update related and non update relate

[2020-12-18 00:35] ArchBlood commented on #4731
Here's a suggestion, maybe request or setup a way for modules to generate their own logs within the module's directory and display them in txt format in a model, similar to how it done in logging?
[code]

[2020-12-18 08:25] yurabakhtin commented on #4511
I tested a user without a group, but if he is a member of space and can edit some data(e.g. "Create poll") then it is possible to create a Poll by the user.
I don't know what reason to have some global permission for a user without a group.

[2020-12-18 10:45] MasterHans commented on #4411
Yes, thank you

[2020-12-18 11:25] buddh4 commented on #4511
@yurabakhtin yes, those are container permission, I'am refering to global group permissions.

[2020-12-18 11:28] buddh4 commented on #4731
I'd just use a single update log, logs within the module directory would get overwritten, also with a single update log file you have a better overview of all updates/migrations.

[2020-12-18 11:47] yurabakhtin commented on #4718
@luke- sorry, but I don't find any issue there:
<img width="1659" alt="test_image_upload_crop" src="https://user-images.githubusercontent.com/6995524/102611332-c17ef480-413f-11eb-953a-7331193f9c9c.png">

[2020-12-18 12:00] yurabakhtin commented on #4511
@buddh4 yes, I understood that you told about "global group permissions" in your first comment here.
I just investigated how a user can work on site without the global permission and I see it can be enough well because the user can has other permissions per Container, so I don't see a reason to create some virtual/default group for users.
Of course, I cannot know why the user model was created wit

[2020-12-18 12:33] buddh4 commented on #4511
Maybe we should just make sure that there always is a non admin group. And in case there are users without a group we should add a warning + a way of resolving (add all to non admin group) to the group or user overview. I think the main problem happens if unexperienced users delete the default user group or do not set a default group for users.

[2020-12-18 17:34] luke- commented on #4718
Steps to reproduce:

1. Upload a photo image as banner.

![image](https://user-images.githubusercontent.com/4736168/102643185-2dbd2080-415f-11eb-9b62-3aa9d7b08ded.png)

2. The image will be automatically resized to a max. height of 192px. (see screenshot)

3. Edit the uploaded image, and select a part of the image

![image](https://user-images.githubusercontent.com/4736168/102643395-7ecd1480-415f-

[2020-12-18 17:56] luke- commented on #4511
In my opinion, a default group for all members would be a practical & clear way to define basic rights.
Maybe even a separate group for guests (if access is allowed for unauthenticated users).

A problem or confusion that often occurs in this context is that if a user does not belong to a group, the main menu item "Directory" is suddenly no longer visible. However, if guest access is activated at

[2020-12-18 17:59] olantrust commented on #4718
Exactly. The profile pic's are fine, simple squares. The banners have two different sizes.

Indeed it's not a huge problem, but I would suggest it is still a problem; I and others noticed it immediately, and visually it's at least disconcerting when the banner size changes, feels less professional or smooth.

If it can be fixed, it seems advisable.

[2020-12-18 18:03] buddh4 commented on #4511
I assume you mean one default group and not one group per user?

[2020-12-18 18:06] luke- commented on #4511
I meant by that: Each user must always be assigned a group. As an alternative solution to the default groups apporach.

[2020-12-18 18:09] ArchBlood commented on #4511
I'd suggest on first setup of a HumHub instance that the option to set the default group be integrated, this would probably solve the issue with less stress for all and far more simpler than creating a virtual group, although some might also suggest the same thing when it comes to Spaces and default user groups :thinking:

[2020-12-18 18:48] luke- commented on #4511
That would also be a possibility, at least one non-admin group must be marked as the default group.

[2020-12-18 19:07] ArchBlood commented on #4511
By default HumHub creates a group named Users so that could be used in this case couldn't it? I'd also suggest that this should be used and be configured where the name can be changed on setup as well if this option were picked

[2020-12-18 19:17] luke- commented on #4511
In the group overview we could add a badge "Default". I would then simply introduce a checkbox "Default Group" in the group settings.

During the setup, no prompts are actually necessary here.

[2020-12-20 07:40] ahmadalwa commented on #3271
what the steps to add this line to cpanel in share host please

[2020-12-21 07:44] yurabakhtin commented on #4718
@luke- Thank you for the details, I made to use same sizes in all places from the values https://github.com/humhub/humhub/blob/fix/4718-spaced-or-profile-banner-sizes-after-edit/protected/humhub/libs/ProfileImage.php#L52-L60 and https://github.com/humhub/humhub/blob/fix/4718-spaced-or-profile-banner-sizes-after-edit/protected/humhub/libs/ProfileBannerImage.php#L32-L40.
PR https://github.com/humhub

[2020-12-21 16:14] olantrust opened #4734 "Allow display of only firstnames when appropriate"
In other social and messaging systems, Users can type shorter versions of usernames assigned, and these will be displayed and recognised during lookup.

For example, User types a post and mentions @Sarah Hardy-Smith and @Julius Karnacka Digby in a post to a Space they're all in.
They type in the names, the system recognises and displays the full name, the User if they choose can delete the last na

[2020-12-21 16:20] olantrust opened #4735 "Allow allocation of alternative names (nicknames)"
Currently, a User can set their first and last names in the account settings.

Many people are known by different names in different scenarios (for example Charles > Chaz, Elizabeth > Liz, or Sarah may be informally known by a middle name, Kwame.) Sometimes other Users do not know or remember their 'formal' or long version names.

Currently, if a User types their nickname (or alternative name) in,

[2020-12-21 16:29] luke- commented on #4735
You can add an "alias" profile field quite easily.
If "searchable" is activated here, this field should be taken into account in the user search.
Which display name is shown can be set very individually via the configuration.

[2020-12-21 16:31] luke- commented on #4734
Would be an interesting idea to make the name displayed configurable in the Mentioning. You could either display the DisplayName (first name/last name or user name).

@buddh4 what do you think about that idea?

[2020-12-21 16:31] olantrust commented on #4735
That's great.

Maybe worth considering as a default field, as most of users wouldn't be aware of it, and our IT bods (if we have them) may not think of it. If you think it would be popular enough to warrant?

[2020-12-21 16:34] olantrust commented on #4734
In Facebook and Messenger (but not WhatsApp) and is to show the fullname upon user lookup, but then to allow the User to delete the lastname(s) leaving just the firstname (if they choose). The suggestion you put above might be clearer and more intuitive (and easier to code?)

[2020-12-21 18:13] luke- commented on #4718
Thanks, look fine. Will be merged in 1.8

[2020-12-21 18:13] #4718 closed

[2020-12-21 19:19] olantrust commented on #1454
Please offer a choice to the admin.

For an existing installation of Humhub clearly the existing defaults might not want to change.
However, for a new installation, the expected generic behaviour of other clients, and what's intuitive, is important.

Having surveyed other social and messaging apps (thought it may depend upon the client used):

Messenger, Whatsapp, Jitsi, Skype, Instagram, Facebook

[2020-12-22 11:10] yurabakhtin commented on #4553
@luke- Fixed in PR https://github.com/humhub/humhub/pull/4736

[2020-12-22 12:03] yurabakhtin commented on #4553
@luke- I forgot to tell you that during working on this I detected another issue(probably it is related only to my local mail service `MailHog` which I used to catch emails): if a user email has a dot then it is not sent, e.g. sample user `sara1989` with email address `sara.schuster@example.com` cannot receive any email. Only if I change the email address to `saraschuster@example.com` then it work

[2020-12-22 17:18] miqrogroove commented on #4690
I will set permissions both before and after running the migration script in the future.

[2020-12-22 17:18] #4690 closed

[2020-12-22 18:21] luke- commented on #4553
@yurabakhtin
We have a little "hack" here that prevents emails from being sent to the demo accounts:
https://github.com/humhub/humhub/blob/master/protected/humhub/components/mail/Mailer.php#L33

Because of the PR, I think we have to add some tolerance intervals here, because the Daily/Weekly/Hourly job is usually only triggered once and runs for different lengths of time.

[code]

Perhaps the prob

[2020-12-23 00:30] kenthejr opened #4737 "Youtube OEmbed not rendering"
### What steps will reproduce the problem?
Paste a YouTube link into a Post.

### What is the expected result?
Expected the YouTube video to render.

### What do you get instead?
No video render, only the link.

### Additional info
Two points that have me curious:

- Vimeo links still render, so I don't think it has to do with my client or the OEmbed function itself.
- An old YouTube video that I

[2020-12-23 00:46] ArchBlood commented on #4737
Go into the oEmbed providers from the admin panel then update it so that the provider link is `https` not `http`

[2020-12-23 01:06] stodge commented on #4611
You can use the ldapsearch utility available in your Linux distribution. Just point it at your LDAP server and enter the login information that you configured HumHub with.

[2020-12-23 01:19] kenthejr commented on #4737
Oh my. That was too easy.

[2020-12-23 01:19] #4737 closed

[2020-12-23 06:09] yurabakhtin commented on #4553
@luke- Ok, thank you for the info about the little "hack".

Yes, I understand a job is triggered once, but we created the fix for abort case.
If we will use 5 days instead of 7 days for `INTERVAL_WEEKLY` then it may be resent often than 1 week, so user may be confused if he received the email on Monday and then on Saturday of the same week instead of expected Monday of the next week. Of course the

[2020-12-23 16:58] luke- commented on #4553
@yurabakhtin  I'll pass the PR on to the user with the probematic installation. I think we'll see pretty quickly whether the approach works well.  I will get back to you!

[2020-12-25 05:13] yurabakhtin commented on #4511
@luke-

Should I start to implement this?:

- Add a new column `default TINYINT(1) DEFAULT 0` into the table `group`,
- Only one group can be default in a system, so on updating of a group if `default` is selected then a previous default group will be reset to not default,

But what should we do on upgrading/migration? Maybe we should find a first non-admin group and make it as default. I am not s

[2020-12-25 06:36] yurabakhtin commented on #3345
Ok, as I understand we should not use a "toggle element" together with a submit button, so if we really need this we can create a new separate tab "Maintenance Mode" with a single toggle element and on press it the Maintenance Mode will be enabled maybe ti ajax request without form submitting, but of course with a confirmation.

Do you think it is enough to inform about Maintenance Mode only on th

[2020-12-25 07:45] yurabakhtin commented on #4670
@luke- This issue can be closed.

[2020-12-25 17:06] luke- commented on #4511
@yurabakhtin Yes, you can start!

I would suggest that for the migration we create a new group "Default Group" and assign all users who are not assigned to any other group to this group.

We should then create a notice about it here on the Migration Guide.
https://docs.humhub.org/docs/admin/updating-migration2

[2020-12-25 17:11] luke- commented on #3345
I would first implement a simple checkbox, a separate tab would be too much, we are somewhat limited here anyway.

You are welcome to check what kind of representation would be best. Here I am open whether sidebar snippet or red bar on each page.

Yes, only non-admin sessions should be affected.

[2020-12-25 17:24] #4670 closed

[2020-12-26 13:42] andrewua85 opened #4739 "Tracker issues"
Tracker issues it works incorrectly!

Не корректно работает CMS и не корректно работает Модуль после установки и активации
CMS does not correctly work and the module does not correctly work after installation and activation

![изображение](https://user-images.githubusercontent.com/36643871/103152334-ab9caf80-478f-11eb-80e7-6b14c5c17844.png)

![изображение](https://user-images.githubusercontent.com

[2020-12-26 15:47] luke- commented on #4739
Please create an issue here:
https://github.com/githubjeka/tracker-issues

[2020-12-26 15:47] #4739 closed

[2020-12-28 08:14] yurabakhtin commented on #4511
@luke-

Why should we do this assignment? I think it would be better to don't store records in the table `group_user` for default group, we should automatically return a default group by the method `User->getGroups()` if the user has no assigned group.
And for better UI we should mark the default group somehow on user edit form, and even don't allow to remove that like this:
<img width="860" alt="

[2020-12-28 09:51] luke- commented on #4511
Ok, we can try the "dynamic" mapping using the getGroups method. If there are no problems here, we can do it that way.
Maybe it is easiest to mark the default group with the suffix "(Default)" in the GroupPicker.

[2020-12-28 10:18] yurabakhtin opened #4740 "Bug on saving a group without Default Space"
### What steps will reproduce the problem?

- Open any group edit form by admin
- Remove all Default Space(s)
- Save
- Error: `Invalid argument supplied for foreach()` on Line 55 of the file `/protected/humhub/modules/user/models/forms/EditGroupForm.php` because there is `$this->defaultSpaceGuid` is empty string instead of expecting array.

### What is the expected result?

Group should be either

[2020-12-28 10:29] luke- commented on #4740
@yurabakhtin Can you please fix this?

[2020-12-28 12:35] yurabakhtin commented on #4740
@luke- Done in PR https://github.com/humhub/humhub/pull/4741.

[2020-12-28 13:30] yurabakhtin commented on #4511
I have started in PR https://github.com/humhub/humhub/pull/4742

<img width="855" alt="default_group" src="https://user-images.githubusercontent.com/6995524/103217535-dde21480-4929-11eb-9e3a-b06d9ec8c0fa.png">
<img width="856" alt="user_default_group" src="https://user-images.githubusercontent.com/6995524/103217547-e1759b80-4929-11eb-9709-5dd8a9bf63bb.png">

[2020-12-28 14:29] luke- commented on #4740
Thanks!

[2020-12-28 14:29] #4740 closed

[2020-12-28 16:30] luke- commented on #4511
Thank you for the PR.

I have seen that there is already a similar option. (I hadn't thought of that at first).
![image](https://user-images.githubusercontent.com/4736168/103227152-ff44ff80-492d-11eb-9fb1-c57a33537231.png)

If I have understood it correctly, the discussed apprach is as follows:

From now on, a user must always belong to at least one group. (We should also show an error here instea

[2020-12-28 17:16] luke- opened #4743 "LikeLink also when no CanLike permission"
### What steps will reproduce the problem?

Set `CanLike` permission to `Deny` on Space or Profile level.

### What is the expected result?

No Like link or some deny indicator.

### What do you get instead?

Not clickable like link.

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | master/develop

Should be fixed in `master` branch.

[2020-12-29 02:21] samsheridan opened #4744 "Banner image orientation not being processed"
### What steps will reproduce the problem?
Upload a space banner image with EXIF orientation data.

### What is the expected result?
A banner image with proper orientation.

### What do you get instead?
An upside down banner image.

### Additional info
`protected/humhub/libs/ProfileBannerImage.php` does not call `ImageHelper::fixJpegOrientation` like `protected/humhub/libs/ProfileImage.php` does.

[2020-12-29 06:53] yurabakhtin commented on #4743
@luke- I have fixed this in PR https://github.com/humhub/humhub/pull/4745 for `develop` branch. Yes, you wrote "Should be fixed in `master` branch." but is it normal to do fix only in `master` branch?
I am a bit confused and need more clear instructions, how to do fixes right into `master` because I think if we do such fixes only in `master` then they may be overridden on release of new version fr

[2020-12-29 09:28] yurabakhtin commented on #4511
@luke-

I have implemented this here https://github.com/humhub/humhub/pull/4742/commits/f6a3e8c637d83d5cf22035123102b96fe28effe6#diff-52c77ff7ccd3ac2ad077232095edcfe6955622ad5a1ee3f6c758ddc8bf215795R18-R23

I didn't do this because you confirmed by words "we can try the "dynamic" mapping using the getGroups method", i.e. currently if user has no mapped group in the table `group_user` then method `

[2020-12-29 10:08] luke- commented on #4511
Yes, you are absolutely right, I agreed with the "dynamic" approach at first. But after testing and thinking about it a bit, it feels kind of odd.

As example:
- The display of the number of members in the default group is incorrect.
- You cannot list all members of the group.
- Features such as default Spaces will probably not work properly if no "real" `group_user` record is created.
- It is a b

[2020-12-29 10:23] luke- commented on #4744
Thanks for the commit, looks fine!
 Would you also like to create a PR for it or should I do that?

[2020-12-29 10:28] luke- commented on #4743
@yurabakhtin We regularly merge all commits from the `master` branch into the `develop` branch. This means that the `develop` branch also receives this PR, even it's not the base branch.

[2020-12-29 11:14] yurabakhtin commented on #4511
@luke- After reading your comment above I am a bit confused because you wrote the "dynamic" approach creates the issues like incorrect members number and impossible to list members and then you wrote to continue to implement next features where we will use the "dynamic" approach.
So as I have understood we need the Default Group only for new users, if yes then why do we need the new checkbox and c

[2020-12-29 11:18] yurabakhtin commented on #4743
@luke- Ah, then I get it, because before I thought you do otherwise, ok I will fix the PR to `master` base.

[2020-12-29 11:45] luke- commented on #4511
@yurabakhtin Maybe first to be sure, with `dynamic approach`, I meant that  `getGroups()` will return a group membership that does not exist in the database.

Yes, we need the default group for following scenarios:
- Registration process - If `Show dropdown during registration` is enabled **and** no groups with `Show at registration` are available (**standard case**)
- To map all existing members

[2020-12-29 12:05] luke- commented on #4743
Thanks!

[2020-12-29 12:05] #4743 closed

[2020-12-29 14:40] yurabakhtin commented on #4511
@luke- Ok, what I have done in new commit https://github.com/humhub/humhub/pull/4742/commits/6fe7a587b423d27eff34d82e07cccae7d65889a5 "Replace general user setting “Default user group” with column `group:is_default_group`":

<img width="853" alt="settings" src="https://user-images.githubusercontent.com/6995524/103290840-7dbba300-49fb-11eb-9685-c9569790275d.png">

- The general setting `setting:aut

[2020-12-29 16:43] superseby2 opened #4748 "Get "You're not registered" when trying to login using social oauth (LinkedIn & Google) after trying to login with a previously created user by admin"
I know, it has to be me as I could not find any related issue regarding my problem.

I am trying to login with a user I created previously using the admin section, with LinkedIN or Google but the account on Humhub is not found while I am sure the email address is the same.

To setup oauth I followed : https://docs.humhub.org/docs/admin/authentication

### What steps will reproduce the problem?

-

[2020-12-29 16:44] paulooliveira commented on #4312
If you have direct access to the DB you can make these queries:

Total Likes = `SELECT count(*) FROM like;`
Total Comments = `SELECT count(*) FROM comment;`
Total Posts = `SELECT count(*) FROM content WHERE content.object_model = 'humhub\\modules\\post\\models\\Post';`

Extracted from: https://github.com/humhub-contrib/mostactiveusers/blob/master/models/ActiveUser.php

[2020-12-29 16:48] luke- commented on #4511
That looks good to me so far. Do you have any concerns about the solution?

- Migration, I would include all users including the deactivated users but not soft deleted users.
- I like the solution of having the `defaultUserGroup` configurable in both places (Group Edit & User Settings groups). At first I thought the dropDown could be removed, but it's actually quite nice this way.
- We should also

[2020-12-29 16:53] superseby2 commented on #4748
Ok just found out that you need to "connect your account"   here :

I hope there is a way to do this API side ?

And thx for humhub ! Very impressive product!

[2020-12-29 17:06] superseby2 commented on #4748
Found the info in DB  in the user_auth  table.

Anyone knows if dealing with the database directly is the only way to be able to "automatically" connect an account to its auth ?
if not, I ll have to understand how to add that entry.

Thx again!

[2020-12-29 17:38] superseby2 commented on #4748
Digging a little, I understand that a successfull oauth is when a user is found and that user  has the corresponding oauth_id. I believe, what  i am looking for is a way to make the condition : oauth is successfull when the user found has the corresponding email address. ..

[2020-12-29 18:22] ArchBlood commented on #4748
In most cases OAuths are used as a connection of service, of course there are ways of account creation as well, just to note, from my understanding the OAuths are going to be migrated into their own modules over time so that the common.php file doesn't need modified

#### Google OAuth
https://github.com/humhub-contrib/auth-google

[2020-12-30 01:37] tomofu74 commented on #4312
Thank you paulooliveria. I am involved in the operation of a humhub  enterprise edition site. It has a "directory" function, and users can search spaces by any words. But space Not all spaces are active. Users ask me to present some active spaces.
![screenshot](https://user-images.githubusercontent.com/19162094/103324438-f0c02a80-4a8a-11eb-8786-61a287a7cf00.png)

[2020-12-30 09:45] yurabakhtin commented on #4511
@luke- I think this solution is enough correct, but to make it better I have done additional changes in the commit https://github.com/humhub/humhub/pull/4742/commits/308a84bb0878ce979cbab4225b3a73819ab4ecf2:

- Deny deleting of the default group,
- Deny unchecking of the group option "Default Group", i.e. if a group is default then the checkbox is disabled in order to keep one default group in sys

[2020-12-30 10:09] luke- commented on #4511
Ok, looks good.

---

Can you please also create an issue in https://github.com/humhub/wording for the new texts (e.g. attribute hints) so we can proofread them.

---

Currently, the "Default Group" is also created during a fresh installation.

![image](https://user-images.githubusercontent.com/4736168/103344351-a80a7080-4a8e-11eb-9f87-543f730388fb.png)

The problem seems to be that the migrations

[2020-12-30 11:01] luke- opened #4750 "OAuth: Automatically link OAuth Account with same e-mail address"
### Is your feature request related to a problem? Please describe.

If a registered user also logs in via OAuth and the OAuth 2.0 provider returns the same e-mail address, the user should be logged in automatically.

### Describe the solution you'd like

Logged in and remove message `User with the same email already exists but isn't linked to you. Login using your email first to link it.`

[2020-12-30 11:02] luke- commented on #4748
@superseby2  Good point, I think there is nothing against logging the user in automatically instead of displaying the message. I have opened a new issue for this. Would it solve your problem completely?

[2020-12-30 11:02] luke- commented on #4748
https://github.com/humhub/humhub/issues/4750

[2020-12-30 11:04] yurabakhtin commented on #4511
@luke- How could you install without errors?
I got the error: `Setting unknown property: humhub\modules\user\models\Group::is_default_group` on the line `$group->is_default_group = 1;` from the "InitialData", it looks like the "InitialData" is called before migrations.
If I remove that my today's line `$group->is_default_group = 1;` then I got another error `Getting unknown property: humhub\module

[2020-12-30 11:08] luke- commented on #4511
@yurabakhtin See my comment here: https://github.com/humhub/humhub/pull/4742#issuecomment-752403052

[2020-12-30 11:19] superseby2 commented on #4748
Thx @ArchBlood for your help and the info regarding the upcoming modules.

Thx @luke. Yes! That would solve my issue and actually possibly another use-case : when someone reveives an invitation but decide to use an social auth to login(I know some tweaking is to be done on the reg.form). Considering the current condition (the need to "link" your profile) this registration would fail ultimately.

S

[2020-12-30 11:41] #2944 closed

[2020-12-30 11:42] buddh4 commented on #2944
https://github.com/humhub/humhub/issues/2944

[2020-12-30 11:44] buddh4 commented on #4215
https://github.com/humhub/humhub/issues/4734

[2020-12-30 12:03] yurabakhtin commented on #4511
@luke-

Thank you, this helped me to install after I merged `develop` branch into the PR.

Fixed in commit https://github.com/humhub/humhub/pull/4742/commits/6b21a48fbf45960b365c014b5b21dba2e1cd0e04

[2020-12-30 13:33] yurabakhtin opened #4751 "Hide separator between LikeLink and CommentLink"
Implement like described here https://github.com/humhub/humhub/pull/4747#issuecomment-752521919:

In many places we have a code like this:

[code]

we should implement similar this in order to don't show a separator `&middot;` when one of both are hidden because of no permission:

[code]

Do this as PR for `develop` branch.

[2020-12-30 15:08] #4700 closed

[2020-12-30 15:09] #4703 closed

[2020-12-30 21:33] dreua opened #4752 "Download yields outdated file due to browser caching"
I reported this against the onlyoffice plugin and was redirected: https://github.com/ONLYOFFICE/onlyoffice-humhub/issues/28

If a file is modified in place (i.e. the download URL does not change), you will not get the updated file on subsequent downloads due to browser caching.

### What steps will reproduce the problem?
See https://github.com/ONLYOFFICE/onlyoffice-humhub/issues/28

### Additional

[2020-12-31 00:16] ArchBlood commented on #4752
Not sure but something to look into when it comes to this issue

Clients can cache a resource but must revalidate each time before using it. This means HTTP request occurs each time though, it can skip downloading HTTP body if the content is valid.

[2020-12-31 09:07] dreua commented on #4752
That is exactly the behavior I'd like to see, therefore I chose this value, what exactly are you not sure about?

The only other approach I can think of would be changing the download URL each time the file changes, e.g. by appending the last changed timestamp as a parameter. (This would not be parsed on the serving side, since it only needs to indicate to the browser and possible proxy caches tha

[2020-12-31 09:31] dreua commented on #4752
History of download caching:
- introduced in https://github.com/humhub/humhub/commit/8d02f902b056196c185a604e4e2ece6d21acf0eb
- removed in https://github.com/humhub/humhub/commit/823894656cba797c9db9a9a1ffbde1c0a6894c33#diff-1e3410e828d6d32c5a3657a8e00761416822a5394041a98af8ef80aee04c9b7e by @luke-
- re-added using HttpCache in https://github.com/humhub/humhub/commit/6dfd5c8658ffd23ac45243a01a390e

[2021-01-03 03:17] ArchBlood commented on #3506
To keep this alive, would something like the following be possible with this?

[code]
If this is the desired affect it shouldn't be that hard to implement into the main.php file and create a controller that can be `/* @var $og OpenGraph */`? :thinking:

Or go in a similar way that [vumanskyi/yii2-opengraph](https://github.com/vumanskyi/yii2-opengraph) has?

[2021-01-04 11:38] luke- opened #4754 "Shorten high member numbers"
### Describe the solution you'd like

It would be nice if for large spaces with many members, instead of the exact number of members in the header, there was only a rough value, as in the case of the screenshot, e.g. 13K.

![image](https://user-images.githubusercontent.com/4736168/103531401-898ae780-4e89-11eb-8365-019152161530.png)

However, this behaviour must also be translatable. There may also

[2021-01-04 13:01] luke- opened #4755 "Follow action private space check"
### What steps will reproduce the problem?

With a direct call to the Follow Action, it is currently possible to follow private spaces.
Although it is not possible to see private content, this should not be possible.

### What is the expected result?

400

[2021-01-04 13:28] jrckmcsb commented on #4755
**Notes :**  the other user should get an invitation to exploit/trigger the bug. After joining the private space, the user who try to trigger the bug will automatically unfollow the ``private space``

[2021-01-04 15:40] luke- commented on #4752
Thank you for the detailed analysis of the problem!

To solve the problem, it would probably be best to add a part of the content SHA checksum to the file URL, for example.

This way, we could still use strong browser caching for unchanged files such as images, and the URL changes for changed documents.

It would probably be best to include the SHA checksum directly in the file table and append (p

[2021-01-05 03:15] AdrianoCahete commented on #127
Is this the official? https://registry.hub.docker.com/r/humhub/humhub

[2021-01-05 11:09] luke- commented on #127
@AdrianoCahete No, it is not yet official and is currently still under development.

[2021-01-05 11:21] dreua commented on #4752
That's the least I can do, thanks go back to everyone involved in providing Humhub as FOSS! :heart:

[2021-01-07 03:32] andrewua85 opened #4758 "Error permanently error"
{
    "url": "/index.php?r=activity%2Fstream%2Fstream&cguid=5459aa36-aadb-4995-a4c8-f123d7b58343",
    "status": 500,
    "response": "<pre>PHP Warning &#039;yii\\base\\ErrorException&#039; with message &#039;session_regenerate_id(): Session write failed. ID: user (path: /tmp)&#039; \n\nin /home/u31843/post.losper.net/protected/vendor/yiisoft/yii2/web/Session.php:300\n\nStack trace:\n#0 [internal

[2021-01-07 03:37] andrewua85 opened #4759 "Every day a mistake"
{
    "url": "/index.php?r=dashboard%2Fdashboard%2Fstream",
    "status": 500,
    "response": "<pre>PHP Warning &#039;yii\\base\\ErrorException&#039; with message &#039;session_regenerate_id(): Session write failed. ID: user (path: /tmp)&#039; \n\nin /home/u31843/post.losper.net/protected/vendor/yiisoft/yii2/web/Session.php:300\n\nStack trace:\n#0 [internal function]: yii\\base\\ErrorHandler-&gt;

[2021-01-07 09:21] #4759 closed

[2021-01-07 09:21] #4758 closed

[2021-01-07 10:13] luke- opened #4760 "Possibility to: Propagate session state, logout, lock"
### Is your feature request related to a problem? Please describe.

TBD

As discussed here: https://github.com/humhub/humhub/pull/4602

[2021-01-07 12:04] #3996 closed

[2021-01-07 12:17] #4744 closed

[2021-01-07 13:45] luke- commented on #4706
https://github.com/humhub/humhub/pull/4761

[2021-01-07 13:45] #4706 closed

[2021-01-07 14:06] #4750 closed

[2021-01-07 16:37] #4611 closed

[2021-01-08 01:34] andrewua85 opened #4765 "ERROR in yii\base\..."
![изображение](https://user-images.githubusercontent.com/36643871/103963539-3b643580-5162-11eb-90bd-8814e7db1df6.png)

![изображение](https://user-images.githubusercontent.com/36643871/103963570-474ff780-5162-11eb-9039-54f91b869d59.png)

![изображение](https://user-images.githubusercontent.com/36643871/103963592-559e1380-5162-11eb-8ca8-a744f8bfa307.png)

....

[2021-01-08 13:36] #4765 closed

[2021-01-08 14:04] andrewua85 commented on #4765
"for bug reports and feature requests" Just on the screenshot of the mistakes in Humhub

[2021-01-08 14:06] andrewua85 commented on #4765
![изображение](https://user-images.githubusercontent.com/36643871/104024126-4dc68980-51cb-11eb-940a-3d7105093c14.png)
this is ERROR
this is ERROR
this is ERROR
That's what it is ERROR

[2021-01-08 22:16] ArchBlood commented on #4765
Just to clear this up, it's not an issue with HumHub else everyone would have it, this is more than likely something to do with your server and how it's setup, that is why it was marked the way it was, my suggestion would be go down the list of HumHub's [requirements](https://docs.humhub.org/docs/admin/requirements/) to be ran

[2021-01-09 01:53] buddh4 commented on #4765
Seems to be an issue with your cron configurstion.

[2021-01-10 16:27] pwFoo commented on #3150
I like the federated network and won't move to a not federated social network. Waiting for activitypub feature.

[2021-01-10 18:53] erenakkuss opened #4766 "Message mail and notification error"
Hi
My hosting is shared hosting that is why I cant acces console. I add verified account tick so hiw can I add it in stream and in message. I cant get any notification and when I send mail error message is :

{
    "url": "/index.php?r=mail%2Fmail%2Fcreate",
    "status": 500,
    "response": "<pre>Exception (Unknown Property) &#039;yii\\base\\UnknownPropertyException&#039; with message &#039;Gett

[2021-01-10 19:14] #4766 closed

[2021-01-10 19:14] luke- commented on #4766
Seems related to "verified account tick".

[2021-01-10 19:25] erenakkuss commented on #4766
I made it from profile header.  I removed it still Any account cant get any notification. And it sending message but Getting this error.

{
"url": "/index.php?r=mail%2Fmail%2Fcreate",
"status": 500,
"response": "

Exception (Unknown Property) 'yii\base\UnknownPropertyException' with message 'Getting unknown property: humhub\modules\content\models\ContentContainerSetting::title' \n\nin /home/interg

[2021-01-10 19:31] erenakkuss opened #4767 "Notification not coming"
Any accounts notification not receiving and when send mail to someone, its sending but giving an error

![Screenshot_20210110-222825_Chrome](https://user-images.githubusercontent.com/77244757/104133270-903ac280-5393-11eb-9680-19cc9dff1dff.jpg)

[2021-01-10 21:23] luke- commented on #4767
https://github.com/humhub/humhub/issues/4766#issuecomment-757529790

[2021-01-10 21:23] #4767 closed

[2021-01-10 21:37] erenakkuss commented on #4767
@luke-  I fix it but still ??

[2021-01-11 08:35] yurabakhtin commented on #4755
@luke- I find Space has two options:

- Visibility
- Default content visibility

What do you mean here by "to follow **private** spaces"?

I tested these 2 cases:

Visibility = "Public":
<img width="1203" alt="visibility_public" src="https://user-images.githubusercontent.com/6995524/104159292-2278b000-5400-11eb-816f-aee63fa23d75.png">

Visibility = "Private":
<img width="1203" alt="visibility_priv

[2021-01-11 09:21] yurabakhtin commented on #4752
@luke-

https://github.com/humhub/humhub/blob/master/protected/humhub/modules/file/models/File.php#L108

As I understand we should add a new column like `hash` into the table `file` and store there values like `88b184adea10bf987b15257a5d6c5cb94eba69d3` of result `sha1_file($filePath)` and then append part of the hash to a file URL like `file-url?hash=88b184ad`
I think to fille the new column `hash

[2021-01-11 09:43] luke- commented on #4755
According to @jrckmcsb , the Follow button is hidden, but the action behind it can still be called using console.

@jrckmcsb Can you please confirm?

[2021-01-11 09:45] luke- commented on #4752
@yurabakhtin Ok, I like the approach.

[2021-01-11 09:48] luke- commented on #4767
The problem seems to be related to individual customizations.

You can post in the community exact steps to reproduce the problem from a fresh installation, maybe we can help you there.

[2021-01-11 12:51] yurabakhtin commented on #4752
@luke- PR https://github.com/humhub/humhub/pull/4769

[2021-01-11 12:56] jrckmcsb commented on #4755
Yes, I confirm(please watch the video PoC on email)

[2021-01-11 13:55] yurabakhtin commented on #4755
@luke- I find this code https://github.com/humhub/humhub/blob/master/protected/humhub/modules/space/behaviors/SpaceController.php#L75-L77:

[code]

The condition `$this->getMembership() === null` means allow the "follow" action if user is already member of Space.
Do you think we should remove the condition in order to send 404 response even for members?

[2021-01-11 14:56] luke- commented on #4755
Also seems to be possible only during an invitation process.

Since no private content can leak out through a follow anyway, I would almost close the issue.

[2021-01-11 18:10] #4752 closed

[2021-01-11 18:33] ArchBlood commented on #4755
Personally, I believe if a space is private then the follow action should be disabled by default as it's not really useful in any way, so I'd like to think that this should also be something to take into account as a possible solution :thinking:

[2021-01-12 09:07] yurabakhtin commented on #4754
@luke- PR https://github.com/humhub/humhub/pull/4771:
<img width="430" alt="test_high_numbers" src="https://user-images.githubusercontent.com/6995524/104293116-b1ec9480-54ce-11eb-973d-c0f42bf05213.png">

[2021-01-12 10:27] luke- commented on #4755
@ArchBlood  Of course, the functionality is not available in this case.

But since we also have the same problem with existing followers when switching from public -> private of a space, I would close the issue here.

Especially after all content here becomes private anyway. (#4712)

[2021-01-12 10:27] #4755 closed

[2021-01-12 11:56] yurabakhtin commented on #359
@luke- Should we implement the "Rate Limit" as a general setting for all users, or it should be per group or per user?
Also not clear how the setting should restrict, it seems we need two values for the setting:

- User actions limit: [$numberActions] actions per [$timeSeconds] minutes/hours

I think to implement new method `Yii::$app->user->checkActionsLimit()` and call this in all actions that s

[2021-01-12 14:31] yurabakhtin commented on #4751
@luke- PR https://github.com/humhub/humhub/pull/4772

You wrote here https://github.com/humhub/humhub/pull/4747#issuecomment-752406182:

I did this, but please note I could use new `CommentEntryControls` only in a single place of core code, but others similar places where we should use it are located in external modules: `cfiles`, `gallery`, `linklist`, `wiki` and probably some others, so if we wi

[2021-01-12 14:52] luke- commented on #4751
@yurabakhtin  Thanks for the PR!

Can you send me an example of a module where this would be necessary? Actually, shouldn't they all use the Comment widget?

[2021-01-12 15:22] yurabakhtin commented on #4751
@luke- As you can see I did this replacement https://github.com/humhub/humhub/pull/4772/files#diff-2455bbf1c20e63b6c757a089044d36d3d774ea6cefe3a2a04ad1b985818824dfL92-L95.

I think similar modifications should be done in external modules:

- `cfiles`: https://github.com/humhub/humhub-modules-cfiles/blob/master/widgets/views/fileSystemItem.php#L80-L82
- `gallery`: https://github.com/humhub-contrib/

[2021-01-12 15:40] luke- commented on #359
I would simply apply the RateLimit to all users except administrators.

---

My first idea was to implement it somehow using an ID/Token:

Example

[code]

---

But the other approach usting  the current action (route) is also interesting.

This could be done by some kind of middleware, we could then define a standard rate per user for GET or POST requests and for some actions like "comment/commen

[2021-01-12 15:52] luke- commented on #4751
@yurabakhtin Ah ok, I would create a new widget (basically same as CommentEntryControls) for these cases, maybe somehow "humhub/modules/content/widget/ContentControls".

What do you think about that?

[2021-01-12 21:20] agit8or opened #4774 "Still getting IP in emails instead of base url"
No proxy in front of it, I've searched and tried all of the suggestion with no luck.

[2021-01-12 21:37] ArchBlood commented on #4774
Not sure why this would be happening, if Base Url is set in the admin settings section it should pull the domain not ip

[2021-01-12 21:42] agit8or commented on #4774
Yet it is. When I first installed it, I had to use it's IP to access as the DNS hadn't been setup yet, however the base url was set once this was done and ssl setup.

[2021-01-12 22:57] ArchBlood commented on #4774
Only thing I can think of is that the IP isn't pointing to the domain name correctly :thinking:

[2021-01-12 23:05] ArchBlood opened #4775 "Emoji Search broken on mobile"
### What steps will reproduce the problem?
On mobile click the emoji icon in the richtext bar and try entering `thinking`

### What is the expected result?
Entering `thinking` should show the results after searching through all emojis i.e :thinking:

### What do you get instead?
Typing `thinking` does not cycle through the emojis to display the searched for emoji

### Additional info

| Q

[2021-01-13 08:18] yurabakhtin commented on #4751
@luke- As you can see new created class `CommentEntryControls` has only default separator - https://github.com/humhub/humhub/pull/4772/files#diff-6ec7ab6693e86ee62ab4dd4f69c09f8f7aba3172494701e96ea0d50605f42e3cR20, but really we can override this value from file by passing param `CommentEntryControls::widget(['seperator' => ' - '])`, so currently I don't see a reason to keep even the `CommentEntry

[2021-01-13 09:25] #4774 closed

[2021-01-13 09:26] luke- commented on #4774
Does this affect all e-mails? Daily Summaries and Password Recovery?

[2021-01-13 09:53] luke- commented on #4751
@yurabakhtin  The main reason for a separate class(es) for me is the possibility that modules can then add their own entries via events.

If a developer wants to add another option (e.g. Dislike), he can decide where via events:

- WallEntryControls (Add Inside the Stream/Wall)
- ContentControls (Add also outside the Stream/Wall)
- CommentEntryControls (Add also for comments)

However, similar to

[2021-01-13 09:54] luke- commented on #4775
@buddh4 Can you please take a look?

[2021-01-13 11:14] yurabakhtin commented on #4751
@luke- Ok, I got the reason.

It seems you mean `WallEntryAddons` instead of `WallEntryControls` because it is extended from `BaseStack`.

[2021-01-13 11:51] yurabakhtin commented on #359
@luke-

Do you mean to create a new validator like `class RateLimitValidator extends AccessValidator` and register it on `ControllerAccess::init()` here https://github.com/humhub/humhub/blob/master/protected/humhub/components/access/ControllerAccess.php#L206?

We could define in the `RateLimitValidator` what actions should be limited e.g. by array:

[code]

but please confirm that we need two sett

[2021-01-13 12:54] yurabakhtin commented on #3345
@luke-

Do we need a new separate command? if we can do this by already existing `php yii settings/...`:

- Activate: `php yii settings/set base maintenanceMode 1`
- Deactivate: `php yii settings/set base maintenanceMode 0` or `php yii settings/delete base maintenanceMode`

[2021-01-13 13:38] luke- commented on #3345
@yurabakhtin Ok, if it works that easy via the settings, then we don't need an extra action or command.

[2021-01-13 16:27] luke- commented on #4751
@yurabakhtin That's right, `WallEntryControls` is wrong. The class `WallEntryLinks` should be the right one.
(It's the first WallEntryAddon - unfortunately it's all a bit nested.)

Injectd here: https://github.com/humhub/humhub/blob/master/protected/humhub/modules/content/Events.php#L97
(Maybe we should also include the `seperator` & `template` directly in the class.)

- WallEntryLinks (Add Inside

[2021-01-13 16:42] andrewua85 commented on #4765
Thanks It was a problem cron  ;)

[2021-01-13 16:43] luke- commented on #359
@yurabakhtin Please note that a specific concept for the issue is still missing. For now, the aim is to explore various implementation options & ideas.

 - The `RateLimitValidator` in `ControllerAccess` could be a good option. We could provide a set of different default rules and these could be overwritten by adminstrators if neded.
 - I would prefer a general setting for all users (except admins)

[2021-01-14 09:05] yurabakhtin commented on #4751
@luke-

(Maybe we should also include the `seperator` & `template` directly in the class.)

I have moved then into the class `WallEntryLinks` here https://github.com/humhub/humhub/pull/4772/commits/9944475ccb8f1b5a35ec5fe5527aef8ab062915a

---

Commit https://github.com/humhub/humhub/pull/4772/commits/68c5ad62902b08dfc7f3c76310e8ce632bfecc1f:

- renamed `CommentEntryControls` to `CommentEntryLinks

[2021-01-14 10:49] yurabakhtin commented on #359
@luke-

I am not sure how we can detect what user is regular and what is spammer, only if we will implement some flag per group like "[√] Trusted group", but I think we don't need this, instead we should store new rate limit settings per group and not as general setting. I.e. we will block only users from group with defined the new setting.
Also we should consider how to limit if a user is linked

[2021-01-14 13:14] luke- commented on #4751
Nice solution and I have already merged it.

 It would be good if you could prepare the module PRs!

[2021-01-14 15:44] yurabakhtin commented on #4751
@luke-

I could find the use of `LikeLink::widget` and `CommentLink::widget` only in 4 external modules as you can see above.

[2021-01-14 16:17] luke- commented on #4751
@yurabakhtin Thank you! Everything is fine!

[2021-01-14 16:17] #4751 closed

[2021-01-15 07:17] yurabakhtin commented on #3345
@luke-

Ok, then these specific commands should be documented somewhere, probably here https://docs.humhub.org/docs/admin/console#settings and add a link/button to this page from warning panel.

Commit https://github.com/humhub/humhub/pull/4773/commits/cced590a55cced9bba38d1c1f3fdc00a00bac64a:
<img width="952" alt="maintenance_mode_panel" src="https://user-images.githubusercontent.com/6995524/1046

[2021-01-15 10:43] #4720 closed

[2021-01-15 16:10] miqrogroove opened #4777 "Editor Scrolling Broken in Android Chrome"
### What steps will reproduce the problem?

Paste a large block of text into a new post.  Attempt to pull down (to scroll up and edit).

### What is the expected result?

Text input should be scrollable.

### What do you get instead?

Chrome pull-to-reload destroys all input.

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | 1.7.1
| PHP version      | 7.4.3

[2021-01-15 16:25] yurabakhtin commented on #3345
@luke- Commit https://github.com/humhub/humhub/pull/4773/commits/4a1d7018ee5cfbc7523b3240115a78e8cda6b200:

1) Non-admin users cannot log in when maintenance mode is enabled. Also register new users is disabled as well:

<img width="893" alt="login_restricted" src="https://user-images.githubusercontent.com/6995524/104751630-b4691b80-5766-11eb-8a1a-c4185d31a89e.png">

2) Confirmation on change main

[2021-01-15 17:51] luke- commented on #3442
Reddit is also a good example

[2021-01-16 06:03] Carl2213 commented on #4735
What about subjective nicknames that are set by and only visible to the logged in user? This can be made possible only for friends, like contacts saved in your phone.

Example: You meet Daniel at a meeting and add him on Facebook to go hiking together. A month later, you see Daniel post something and you can't remember who he is. Facebook Messenger has a good solution for this, where you can set n

[2021-01-16 06:10] Carl2213 commented on #359
In #4295 I suggested adding these permissions per group for this reason, so that certain users can be temporarily blocked from certain actions if they're found to be abusive.

[2021-01-16 22:44] dreua opened #4779 "Include License in repository"
### Is your feature request related to a problem? Please describe.
Users and developers should have a fast and reliable way to find the license of this project. Currently the license is only available via link to [humhub.com](https://www.humhub.com/en/licences). This is not ideal because the site may be down, links my be broken or the content may be changed without notice.

### Describe the soluti

[2021-01-17 01:49] ArchBlood commented on #4779
I don't really think it's necessarily a bad thing to not have a LICENSE file in the repo, as a developer of a project you can simple do an alternative `@license` to reference a license or multiple license that are shown on a website in this case

https://github.com/humhub/humhub/blob/5c20ca98ebf4a85ecca78dd3c7f92d4a9d49c9c3/protected/humhub/controllers/ErrorController.php#L3-L7

[2021-01-17 09:00] dreua commented on #4779
I agree that it's not *necessarily a bad thing* but I still think it's *better* to have that stuff baked into the repository because it maximizes reliability and transparency at no additional cost.

I hope that the HumHub GmbH & Co. KG has a bright and long future and I don't have any reason to believe otherwise, but hey, let's meet at a local bar and I'll tell you how things can change in unexpec

[2021-01-17 11:00] zogith commented on #3617
Hi, a user put a slash in their username on my Humhub install (version 1.7.1) and the same thing happened, so perhaps this bug has shown up again.

[2021-01-18 10:04] luke- opened #4781 "Username Characters"
Replace username character blacklist (see https://github.com/humhub/humhub/blob/master/protected/humhub/modules/user/models/User.php#L151)
with a whitelist.

- Make sure e-mails as username are still working
- Regexp filter should be attribute in the user Module class to allow regexp changes via configuration
- create some test
- make sure/test that existing users are not affected

[2021-01-18 10:05] luke- commented on #4781
https://github.com/humhub/humhub/issues/3617

[2021-01-18 13:38] yurabakhtin commented on #4781
@luke- PR https://github.com/humhub/humhub/pull/4783:

- new regexp allows:
  - all letters from all languages,
  - digits,
  - chars: `_-@#$%^&*()[]{}+=<>:;,.?!|~"'\`
- "create some test": https://github.com/humhub/humhub/pull/4783/files#diff-87c8acb8b359862f0c41ef37b74526e4635b4bb2eff2a922e9a7d7bbb7c23a84R24-R27
- "make sure/test that existing users are not affected": if you mean only demo users

[2021-01-18 13:41] yurabakhtin commented on #4781
@luke- You can find failed tests here https://github.com/humhub/humhub/runs/1721564331?check_suite_focus=true#step:21:307 but it is because this PR still use `develop` version without a fix from PR where the tests were fixed https://github.com/humhub/humhub/actions/runs/493488879.

[2021-01-19 09:33] #4781 closed

[2021-01-19 12:43] luke- commented on #3345
Please see my PR review, but apart from that it looks good!

[2021-01-20 14:12] #4416 closed

[2021-01-21 06:51] funkycram opened #4786 "In emails notifications : layout emphasizes the content and not the author for modules"
### Is your feature request related to a problem? Please describe.

Since Humhub 1.7, we have the new WallStreamModuleEntryWidget for module which replaces the author profile image with the module icon. See https://github.com/humhub/humhub/pull/4397

### Describe the solution you'd like

It would be great to have the same kind of layout in email notifications when mentioning a module's content.

[2021-01-21 10:18] luke- commented on #3970
https://github.com/humhub/humhub/issues/4786

[2021-01-21 10:18] luke- commented on #4786
https://github.com/humhub/humhub/issues/3970

[2021-01-21 16:20] luke- opened #4787 "Always enable Space Membership Web Notifications"
Make sure this checkbox is always activated (like Message).
![image](https://user-images.githubusercontent.com/4736168/105379064-c2a6b400-5c0c-11eb-877c-6631885f594e.png)

When unchecked it's not longer possible to invite the user to private spaces.

[2021-01-21 23:41] miqrogroove opened #4788 "Editor Scrolling Broken in Android Chrome"
When scrolling a large block of text in the dashboard post editor, the entire page scrolls and/or the Chrome pull-to-refresh gets triggered and destroys all input.  I first noticed this in HumHub 1.7.1 and have not tested other versions.

Excuse me if it's a duplicate issue, but I couldn't find the last one I submitted and there was no reply.

[2021-01-22 07:14] yurabakhtin commented on #4787
@luke- PR https://github.com/humhub/humhub/pull/4789

[2021-01-22 08:54] #4787 closed

[2021-01-22 08:54] luke- commented on #4788
I've moved the issue here: https://github.com/humhub/humhub-prosemirror/issues/25

[2021-01-22 08:54] #4788 closed

[2021-01-22 16:54] sakurafarm opened #4792 "An error occurs when a guest user selects the stream menu on the public profile page."
### What steps will reproduce the problem?
1. ACP->Users->Settings->General->Enable 'Allow limited access for non-authenticated users (guests)'.
2. Open the public user's profile page (Visible for all) as a guest user.
3. Select 'Stream' from the Profile menu.

### What is the expected result?
The profile's stream should be displayed.

### What do you get instead?
This will result in an error.
![h

[2021-01-22 18:38] sakurafarm opened #4793 "Labels of form fields generated by HForm are not displayed correctly"
The labels of form fields generated by `humhub\compat\HForm` do not seem to be displayed correctly.

**As a result, the labels are not translated.**

For example, the edit screen for a text type profile field looks like this

![screencapture-hayhub-net-admin-user-profile-edit-field-1590608525716](https://user-images.githubusercontent.com/38252517/105530135-b749aa80-5d2a-11eb-9ed0-4e7d5ad4bf00.png)

[2021-01-22 18:57] sakurafarm opened #4794 "CountrySelect in profile field does not work"
The form definition for CountrySelect calls the form definition function of the parent class.

https://github.com/humhub/humhub/blob/2432654028a593d8b8b5fd8c7f2edeb06ce2d0bc/protected/humhub/modules/user/models/fieldtype/CountrySelect.php#L21-L45

However, the parent class Select form definition function always ignores the argument, so the CountrySelect definition is never used.

https://github.co

[2021-01-26 06:10] superseby2 opened #4797 "Email Sent from console & email summaries stopped working"
Hello,

Starting a couple of days ago I noticed exception in logs like the one at the end of this post.
Running the test  from the console would trigger the same issue

php yii test/email <my email>

Looking closer at the logs, I realized the HELO command using [127.0.0.1].

When looking at /var/www/humhub/protected/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Transport/AbstractSmtpTransport.p

[2021-01-26 06:24] superseby2 commented on #4797
I realized we can export an ENV variable like export SERVER_NAME and it seems to be picked up by PHP code.
Is it how everything should be done?

[2021-01-26 11:26] luke- commented on #4797
Unfortunately, I can't quite reproduce your problem.

If you don't have any individual config file settings, HumHub should use the admin settings.

Here you can retrieve the values:

[code]

[2021-01-26 12:32] #4794 closed

[2021-01-26 12:35] #4792 closed

[2021-01-27 04:52] RiverDragon1 commented on #3510
So... How is this fixed? I dont see any way to fix this.

[2021-01-27 10:24] luke- commented on #3510
Unfortunately, I don't know much about IIS as a proxy, but you might have to do this:
https://serverfault.com/questions/862951/iis-does-not-set-x-forwarded-host

Basically, the problem is that the reverse proxy has to pass on the correct URL to the application server.

[2021-01-27 11:35] yurabakhtin commented on #4793
@luke- Fixed in commit https://github.com/humhub/humhub/pull/4800.

Please note I fixed similar issue in PR https://github.com/humhub/humhub/pull/4799/files, but current issue was a bit different, however I think we should fix all places related to the PR https://github.com/humhub/humhub/pull/4799 because I find many `public function getFormDefinition($definition = [])` in different classes like `

[2021-01-27 17:38] luke- commented on #4793
Thanks!
Ok, but there are no current cases? The HForm is outdated anyway and should be refactored in the near future.

[2021-01-27 17:38] #4793 closed

[2021-01-28 10:42] Abatjour3407 opened #4801 "Error: PHP Core Warning: Module 'imagick' already loaded // Service Unavailable"
I just installed a fresh installation of HumHub (latest version) using Softaculous on cPanel, I logged in and was going through the tutorials when I got an error message (unfortunately I can't remember what it was now*), I thought maybe there wasn't enough memory so I increased the memory on the php.ini wizard (on cPanel) and now I get this error: [https://ibb.co/gJsRm32]

After fruitless searches

[2021-01-28 10:47] #2646 closed

[2021-01-28 10:51] #3617 closed

[2021-01-28 10:57] luke- commented on #3733
We should find a way to ensure that Ajax Actions are not called directly. There must be a header or request type that we can use to identify this.

An action filter / middleware or similar would be good here.

If such a method is called directly, a definable URL should be called (if not specified dashboard) and a status message should appear (The specified URL cannot be called directly).

[2021-01-28 11:02] luke- commented on #4381
We don't use expression here anymore, so it's obsolete.

[2021-01-28 11:02] #4381 closed

[2021-01-28 11:13] #4801 closed

[2021-01-28 11:14] luke- commented on #4801
It seems like it's a problem with your hosting PHP settings.

The error message says that an extension was loaded twice.

Due to this error message, HumHub can not work correctly.

[2021-01-28 11:15] buddh4 commented on #3733
Also we should use buttons or links without href attribute in such cases in order to disable the option in the browser.

[2021-01-28 11:50] Schillers opened #4802 "head.php not rendering code"
### What steps will reproduce the problem?
#### Using Google AdSense.
The first step to use Google AdSense is to get the HumHub site verified by placing a string similar to "<script data-ad-client="ca-pub-xxxxxxxxxxxxxxxx" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>" into the \<head> of the site.

I have installed the HumHub Google AdSense module and signed

[2021-01-28 13:08] buddh4 commented on #3442
The question is should we really render all comments or rather an auto scroller comment section like youtube.

[2021-01-28 13:13] luke- commented on #3442
Rendering all at once is not an option.

I think the auto scroll is nice, pagination is somehow old style.

[2021-01-28 13:15] buddh4 commented on #4751
Just a small note, we should become a bit more consistent with the naming of the `object` property. We use different naming for similar fields throughout the application e.g.:

- `model`
- `record`
- `object`
- ...

I kind of prefer the name `model` in such cases.

[2021-01-28 13:27] buddh4 commented on #4766
You seem to have a validator for `ContentContainerSetting::title` which does not actually exists in the db andseems to be a custom change of yours?

[2021-01-28 13:35] luke- commented on #4802
Please use this repo: https://github.com/GreenMeteor/humhub-adsense-module

[2021-01-28 13:35] #4802 closed

[2021-01-28 13:41] buddh4 commented on #4802
@luke- nontheless the `head.php` should add code to the head, if not we should remove it or document how to manipulate the head section of a theme.

[2021-01-28 14:04] Schillers commented on #4802
@buddh4 thank you for your comment. I have rectified the issue as a result but I would like to contribute by suggesting an edit to the documentation such that the theme files will overwrite the primary file.

Many thanks!

[2021-01-28 14:55] luke- commented on #2665
Possible with Professional Edition

[2021-01-28 14:55] #2665 closed

[2021-01-28 14:56] #4394 closed

[2021-01-29 04:56] ArchBlood opened #4803 "Add panel-info"
### Is your feature request related to a problem? Please describe.
As the issue title suggests, I already see that it's possible to use `panel-success`, `panel-warning`, `panel-danger` and `panel-default`

### Describe the solution you'd like
Add the following to the theme.css file
[code]
### Describe alternatives you've considered
I've considered adding via custom theme but overall thought it a b

[2021-01-29 06:39] yurabakhtin commented on #4569
@luke- PR https://github.com/humhub/humhub/pull/4804

[2021-01-29 08:56] yurabakhtin commented on #4389
@luke- Ok, I have tried to implement in the PR https://github.com/humhub/humhub/pull/4805 what is required in the described problem above.
But I am not sure where it may need to deny to post a form without checked/enabled checkbox, probably it will be useful only for some checkbox like `[√] I agree terms and policies on this site.` on a registration form.
If yes, then ok, but please note such modi

[2021-01-29 11:44] buddh4 commented on #4803
I think those are similar: https://getbootstrap.com/docs/4.0/components/alerts/ ?

[2021-01-29 12:27] buddh4 opened #4806 "Dev branch migration error for migration m201130_073907_default_permissions"
When running migrations on dev branch I get the following:

**Specified key was too long; max key length is 767 bytes**

*** applying m201130_073907_default_permissions

The SQL being executed was: ALTER TABLE `contentcontainer_default_permission` ADD CONSTRAINT `contentcontainer_default_permission_pk` PRIMARY KEY (`permission_id`, `group_id`, `module_id`, `contentcontainer_class`) (/mnt/e/codebas

[2021-01-29 12:28] yurabakhtin commented on #2950
@buddh4 @luke- I tested this with a link "Forgot your password?" on the modal login window:

1) Currently the link has the following code https://github.com/humhub/humhub/blob/master/protected/humhub/modules/user/views/auth/login_modal.php#L60:

[code]

On click, the page `/user/password-recovery` is loaded in the same modal window as expected.

2) If I change that to `<a href="<?= Url::to(['/user

[2021-01-29 12:30] buddh4 commented on #4806
No wonder with this primary key: https://github.com/humhub/humhub/blob/develop/protected/humhub/modules/content/migrations/m201130_073907_default_permissions.php#L24

[2021-01-29 12:57] luke- commented on #4806
The problem here is rather this column.
https://github.com/humhub/humhub/blob/develop/protected/humhub/modules/content/migrations/m201130_073907_default_permissions.php#L18

I think if we set it to the length of 60 (also used in the ContentContainer table).

This then gives a string length of 310.
But I'm not sure if we have to multiply this by 4 or by 2.

[2021-01-29 13:08] buddh4 commented on #4806
Is there any advantage of using such a primary key instead of just an id?

[2021-01-29 13:17] luke- commented on #4806
@yurabakhtin  Can you take a look here, please? For me, it doesn't matter if it's solved via ID or Combined PK, but we have to take into consideration the 767 length restriction.

[2021-01-29 13:28] luke- commented on #4389
@yurabakhtin Thank you for pointing this out. I think if you mark a checkbox as Required, this behaviour should be expected.

[2021-01-29 13:28] #4389 closed

[2021-01-29 14:22] yurabakhtin commented on #4806
@luke-

I just did this like table `contentcontainer_permission` where PK is:

- permission_id varchar(150)
- contentcontainer_id int(11)
- group_id varchar(50)
- module_id varchar(50)

The table has the same format InnoDB + utfmb4 as I did for `contentcontainer_default_permission`, so here we have PK length = (150 + 11 + 50 + 50) * 4 = 261 * 4 = 1044, so it is more 767 as well.
Max length for utf

[2021-01-29 14:44] luke- commented on #4806
BTW: I just saw that we actually require MySQL 5.7+ as a minimum version. https://docs.humhub.org/docs/admin/requirements#database
@buddh4 Are you using MySQL 5.6?

Anyway, it is still good to close this potential error for now.

@yurabakhtin I like your solution, is it reliable? What happens if the keys are still longer? Are there conflicts then?

[2021-01-29 14:46] buddh4 commented on #4806
I use `10.1.45-MariaDB-0+deb9u1`

[2021-01-29 14:47] #4569 closed

[2021-01-29 14:58] buddh4 commented on #3345
can be closed @luke- ?

[2021-01-29 15:07] #3345 closed

[2021-01-29 15:54] yurabakhtin commented on #4806
@luke-

I have done complete testing and I understood that we should not calculate the key restriction as length of all column, we should restrict only columns more than 191 chars.

I did all tests with a disabled setting `innodb_large_prefix = 0` in MySQL config because it was enabled by default. (I will keep this disabled on my local server in order to catch such error in future).

<img width="2

[2021-01-29 17:02] luke- commented on #4806
@yurabakhtin Thank you I have also tested it again with MySQL 5.6 and the PR fixes the problem.

Nevertheless, I will increase the Maria DB minimum version to 10.2.

[2021-01-29 17:02] #4806 closed

[2021-01-29 17:21] buddh4 commented on #2950
Maybe we can just close all open modals within the `unload` function of the modal js module?

[2021-01-29 19:22] ArchBlood commented on #4803
In a way yes, the only thing these do is highlight the boarder of the panel, only thing is `panel-info` is missing

[2021-01-29 20:19] buddh4 opened #4809 "1.8 - Uneven spacing between comment/linke link in stream"
![grafik](https://user-images.githubusercontent.com/9800854/106323403-ad1e3380-6277-11eb-9901-ea18c0be2d33.png)

[2021-01-29 20:55] ArchBlood commented on #4803
For an example
![Screenshot_1](https://user-images.githubusercontent.com/35392110/106326418-6ebe4f80-624a-11eb-86d1-0a5cde8601dc.png)

[2021-01-30 00:01] andrewua85 opened #4810 "SQL"
[30-Jan-2021 01:38:49 Europe/Zaporozhye] Exception (Integrity constraint violation) 'yii\db\IntegrityException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'a460027615bd9544ae4f8d32df934baa' for key 'PRIMARY'
The SQL being executed was: INSERT INTO `user_http_session` (`id`, `data`, `expire`, `user_id`) VALUES ('a460027615bd9544ae4f8d32df934baa', '__flash|a:

[2021-01-30 00:08] andrewua85 opened #4811 "Warning &#039;yii\\base\\ErrorException&#039; with message &#039;session_regenerate_id():"
Не может записать в tmp , был создан tmp и всеравно запись не происходит в указанную директорию!
Can not write to TMP, a TMP has been created and the record does not work in the specified directory!
[code]

[2021-01-30 00:17] ArchBlood commented on #4811
Seems related to #2402

[2021-01-30 02:04] andrewua85 commented on #4811
Это не то
This is not

[2021-01-30 02:05] andrewua85 commented on #4811
Я использую MySQL 5.6+
I use MySQL 5.6+

[2021-01-30 04:28] ArchBlood commented on #4811
InnoDB or MyISAM?

[2021-01-30 16:19] #4093 closed

[2021-01-30 16:21] buddh4 commented on #677
@luke- this can be closed?

[2021-02-01 06:43] yurabakhtin commented on #2950
@buddh4 I don't find the `unload` function in the modal js module. But please see again here https://github.com/humhub/humhub/blob/master/static/js/jquery.pjax.modified.js#L104-L127 what ignore cases we have for the pjax click:

[code]

I think it is a good place to add a new ignore case here like:

[code]

You can check how it works in draft PR https://github.com/humhub/humhub/pull/4812

[2021-02-01 07:50] buddh4 commented on #2950
But we do not want to suppress pjax, we rather want to close all modals once we've loaded a pjax page.

Something like this here: https://github.com/humhub/humhub/blob/master/static/js/humhub/humhub.ui.modal.js

[code]

[2021-02-01 08:16] #4811 closed

[2021-02-01 08:16] #4810 closed

[2021-02-01 09:54] jkuchar commented on #677
Still think that this should at least throw an error. So user will not end up in broken state.

[2021-02-01 11:04] yurabakhtin commented on #3733
@luke- PR https://github.com/humhub/humhub/pull/4814

[2021-02-01 12:29] buddh4 commented on #677
Maybe we can add  a prerequisite check for this. What do you think @luke- .

[2021-02-01 12:30] yurabakhtin commented on #2950
@buddh4 Ok, I have understood we should not suppress pjax. Please review new solution https://github.com/humhub/humhub/pull/4812/commits/6a255e9ff548b76aded9f0a5cf283c258f7d5e54

[2021-02-02 09:15] yurabakhtin commented on #4281
@luke- @buddh4 PR https://github.com/humhub/humhub/pull/4815

Please note here https://github.com/humhub/humhub-modules-enterprise-theme/issues/5#issue-666429343 was reported "*but left-navigation does not change the list. We must go logout and return.*", but really we just need to refresh a page, probably they have a browser caching I think, so the fix was done only for JS side.

[2021-02-02 10:22] luke- commented on #677
@buddh4 Yes, we may can also check table collations/engines in the test.

[2021-02-02 10:23] #3733 closed

[2021-02-02 10:47] yurabakhtin commented on #4809
@luke- @buddh4 Fixed in PR https://github.com/humhub/humhub/pull/4816.
The separators were copied from old code in the PR https://github.com/humhub/humhub/pull/4772/files#diff-b0aae92581056000f258ba9452e5b3a57049bb8fefb383dfdfd1312086c45419R30

[2021-02-02 11:01] #4809 closed

[2021-02-02 11:21] yurabakhtin commented on #3687
@luke- PR https://github.com/humhub/humhub/pull/4817

[2021-02-02 12:15] buddh4 commented on #3733
Can we add some documentation for this when and how to use it (at least in the migration guide). I assume no one will think of using this access rule and the `open in new tab` issue when implementing a new feature otherwise.

[2021-02-02 12:23] buddh4 opened #4818 "Add db/table collation prerequisite check"
See https://github.com/humhub/humhub/issues/677

[2021-02-02 15:19] superseby2 commented on #4797
Thanks @luke,

Strangely enough, all settings seem to be picked up allright except for the domain name :thinking:
My workaround (passing the ENV value is doing the trick though) .

Since you cannot reproduce the pb your end, I guess we could close this issue. Up to you.

Thx!

[2021-02-02 15:53] #3687 closed

[2021-02-02 16:04] luke- commented on #677
In the setup we have to do this check again separately, because the prerequisite check runs before.

It would also be good to make the port of the database configurable.
https://github.com/humhub/humhub/issues/158

In addition, a checkbox that creates the database directly, if possible, would also be a good thing.

[2021-02-02 16:08] buddh4 commented on #677
I've opened a seperate issue: https://github.com/humhub/humhub/issues/4818

[2021-02-02 16:09] luke- commented on #4818
However, these checks must be skipped during installation (without an existing DB connection).

New Checks:
- Database Version Requirement: https://docs.humhub.org/docs/admin/requirements#database
- Table checks (possibly merged): All tables should use the same engine and the same collation (utf8mb4).
- Optionally desired InnoDB Table Engine is used

[2021-02-02 17:27] luke- commented on #4797
Thanks for the response. If you have more details, feel free to add them here. Until then I would close the issue, it doesn't seem to be a common problem.

[2021-02-02 17:27] #4797 closed

[2021-02-02 18:16] luke- opened #4820 "1.8 - Markdown Table Columns not visible"
### What steps will reproduce the problem?

- Create a 3 column / 3 rows Table in the Richtext Editor
- Columns not visible

![image](https://user-images.githubusercontent.com/4736168/106644140-fe396a80-658a-11eb-91ae-bf4979b976e3.png)

### What is the expected result?

See columns at least in edit mode

### What do you get instead?

No columns

### Additional info

| Q                | A
| ------

[2021-02-02 18:50] buddh4 commented on #4820
Ok, we should add the columns in the editor.

[2021-02-03 00:37] buddh4 opened #4821 "Implement link shim to richtext"
Implement a link shim similar to facebook by parsing urls in a richtext and replace them with an internal link mapped to this url. This would allow features like:

 - Internal blacklist of ips and urls for outgoing links
 - Use blacklists from external services
 - Replace/redirect or deactivate outdated links
 - Features as click counter or statistics

[2021-02-03 01:53] spoorun commented on #4298
People are often used to using quote marks for a phrase, or could have a box to search a phrase

[2021-02-03 01:56] spoorun commented on #1839
This is the number one issue our users talk of.
To simply open someone's profile seems a chore to them, when they are used to just starting to type the name of a User or Space... which is increasingly the kind of user interface other systems deploy - from Windows 10, Android SMS, to Facebook, to Linux, to WhatsApp, bots etc... I realise that search will still come up, but it's a step, and it then

[2021-02-03 07:23] yurabakhtin commented on #677
@luke- I have tested this:

- Created a new DB with collection `latin1_general_ci`
- Run install
- The collation of the DB was converted to `utf8mb4_unicode_ci` and all tables were created with same `utf8mb4_unicode_ci` collection

It works like this because this migration https://github.com/humhub/humhub/commit/4ef22e12ffe30cacb7bacc9cb2e6b24098a11398#diff-f5897f5c0c6fbea496d34d10efdda6c776f53375

[2021-02-03 08:44] yurabakhtin commented on #677
Commit https://github.com/humhub/humhub/pull/4822/commits/dd9a7a7b8ba377edb591a06fdaff96c96d0d341b:
<img width="749" alt="port" src="https://user-images.githubusercontent.com/6995524/106720985-21a8f780-6615-11eb-86c8-5e768a229420.png">

[2021-02-03 09:18] luke- opened #4823 "Remove CHTML and CActiveForm Usages"
### Is your feature request related to a problem? Please describe.

Search & Replace/Refactor:
- humhub\compat{Chtml,CActiveForm}

Also check Contrib/Internal modules

Note: Wait before this PR is merged https://github.com/humhub/humhub/pull/4776

[2021-02-03 09:19] luke- commented on #4823
And remove classes + update migration notes.   Planned for 1.9

[2021-02-03 10:56] fsainovich opened #4824 "Wrong Translation pt_BR"
![image](https://user-images.githubusercontent.com/27427085/106736687-899b1600-65f4-11eb-869d-af2cc2e07629.png)

Please, correct changes in code like below

Edit file: /protected/humhub/modules/admin/messages/pt-BR/information.php

Change:

'<strong>CronJob</strong> Status' => 'Status <strong>CronJob strong&gt;</strong>',
'<strong>Queue</strong> Status' => 'Status da <strong>fila strong&gt;</stron

[2021-02-03 11:14] yurabakhtin commented on #677
Commit https://github.com/humhub/humhub/pull/4822/commits/89e675ecd4324b23f3efd76fb98d8b2f3ca8bc5a:

<img width="973" alt="test_create_db" src="https://user-images.githubusercontent.com/6995524/106739340-13190b00-662a-11eb-8503-88ae11071c46.png">

[2021-02-03 13:48] luke- opened #4825 "Add setting table indexes"
### What steps will reproduce the problem?

Such duplicates should not be possible. Please also check `contentcontainer_setting` here and create index(es) if necessary.

Target Branch: Develop

![image](https://user-images.githubusercontent.com/4736168/106755502-7f960900-662e-11eb-8674-ef285f4f066e.png)

[2021-02-03 14:07] yurabakhtin commented on #4818
@luke- PR https://github.com/humhub/humhub/pull/4827:

<img width="751" alt="tests_install" src="https://user-images.githubusercontent.com/6995524/106758066-23d57b00-6642-11eb-962e-d9e89cdf4739.png">

<img width="1144" alt="tests_admin" src="https://user-images.githubusercontent.com/6995524/106758085-2932c580-6642-11eb-9973-e849448e5a41.png">

<img width="850" alt="tests_wrong_ver_collaction_engin

[2021-02-03 14:42] luke- opened #4828 "1.8: Default Permissions some Modules missing"
### What steps will reproduce the problem?
Install and activate Wiki Module
Go to space / user default permission settings,

### What is the expected result?

See Wiki permissions

### What do you get instead?

No Wiki Permissions

![image](https://user-images.githubusercontent.com/4736168/106762552-3b0e6b80-6636-11eb-9acb-b4b93ad0a813.png)

### Additional info

Some other module permissions appea

[2021-02-03 16:31] luke- opened #4830 "Prerequisites / Self Test translations not working"
- Translations are not transferred correctly. (variable)

[2021-02-03 16:56] luke- opened #4831 "1.8: Username validation breaks language change"
### What steps will reproduce the problem?

- Create a username with whitespace.
- Update to 1.8 with stricter username valdiation: https://github.com/humhub/humhub/commit/2bdc435486bd2b855fe170a29de6b2c8f675647e
- Try to change language: Account settings -> Settings -> language

### What is the expected result?

Changed language

### What do you get instead?

Stay in old language.

### Additional

[2021-02-04 07:16] yurabakhtin commented on #4825
@luke- Fixed in PR https://github.com/humhub/humhub/pull/4832.

There is a coorect index with unique property:
<img width="982" alt="table_contentcontainer_setting" src="https://user-images.githubusercontent.com/6995524/106857124-a3119000-66d0-11eb-89b2-368798a11edf.png">

Sorry, I did the PR for `master`, should I redo the PR only for `develop`? But really `master` has the problem too, it is why

[2021-02-04 09:19] yurabakhtin commented on #4828
@luke- Fixed in PR https://github.com/humhub/humhub/pull/4833.

I detected the default permissions were hidden only for modules that are deactivated by default:
<img width="854" alt="check_perms" src="https://user-images.githubusercontent.com/6995524/106870274-f7713b80-66e1-11eb-8eb2-53d9d7cfcfee.png">

Also after investigation I find some modules (extended from `ContentContainerModule`) define pe

[2021-02-04 10:17] luke- commented on #4824
Thanks is fixed@translation

[2021-02-04 10:17] #4824 closed

[2021-02-04 10:32] luke- commented on #4825
@yurabakhtin Master is ok for this fix. The other issue is fixed here: https://github.com/humhub/humhub/commit/bd9f90b5bca638e5d235aaf9e43db6f95f329e10 thanks for the hint!

[2021-02-04 10:32] #4825 closed

[2021-02-04 11:27] yurabakhtin commented on #4831
@luke- Fixed in PR https://github.com/humhub/humhub/pull/4834

[2021-02-04 11:36] yurabakhtin commented on #4828
In additional to above the method `ContentContainerModule->getContainerPermissions()` https://github.com/humhub/humhub/blob/master/protected/humhub/modules/content/components/ContentContainerModule.php#L205 should be `public` and not `protected` I think.

[2021-02-04 12:40] #4831 closed

[2021-02-04 12:40] #4818 closed

[2021-02-04 13:36] luke- commented on #4828
Okay, this is a little confusing here. I think its worth to refactor/cleanup here a little bit.

As a long-term plan, following method signatures would be nice.

[code]

So it should be good to migrate all  modules to use "getContentContainerPermissions" if possible and make this method public.

Currently I see two cases which may cause problems here:

- E.g. the "Like" module (core module) actual

[2021-02-04 14:21] luke- commented on #4828
@yurabakhtin To solve the recent problem, I would simply take out the **Is enabled** check in the `ContentContainerModule::getPermission`. The method is only called by the `PermissionManager` anyway - so the impact is rather clear. The check itself can then be done directly by the `PermissionManager` or in a new method in the `ContentContainerModule`.

[2021-02-04 14:38] luke- opened #4835 "1.8: Selftext - Database Min Version not correctly detected"
### What steps will reproduce the problem?

use debian

### What is the expected result?

Everything ok, MariaDB 10.3x

### What do you get instead?

![image](https://user-images.githubusercontent.com/4736168/106907869-00243a80-66ff-11eb-89ba-9366876a6501.png)

[2021-02-04 15:13] #2950 closed

[2021-02-04 15:25] #3662 closed

[2021-02-04 15:36] luke- commented on #677
@yurabakhtin  Looks good. Can you also check the collation?

[2021-02-04 15:44] buddh4 commented on #4118
I'll close this this is not an humhub issue but an issue with the youtube oembed interface and probably won't be fixed.

[2021-02-04 15:44] #4118 closed

[2021-02-04 15:48] #4820 closed

[2021-02-04 16:12] buddh4 commented on #4828
Its protected in order to not bypass https://github.com/humhub/humhub/blob/master/protected/humhub/modules/content/components/ContentContainerModule.php#L184 Here are some other calls of this method:

![grafik](https://user-images.githubusercontent.com/9800854/106921322-3320fb00-670c-11eb-8aa9-3b988a50856d.png)

[2021-02-04 18:24] buddh4 opened #4838 "ProsemirrorRichText::replaceLinkExtension() not compatible with < 1.8"
ProsemirrorRichText::replaceLinkExtension() should return a simple match array.

[2021-02-05 06:08] superseby2 opened #4839 "Ability to add a header + subject to a Post"
### Is your feature request related to a problem? Please describe.
Nope

### Describe the solution you'd like

I discovered circle.so which basically is exactly what Humhub can do (Spaces, Posts, comments etc ..) But they are organizing things a little different.
Another difference, is the way you Post something. They call it topics, and you can add a Subject + a cover Image.

While I thought a su

[2021-02-05 06:42] yurabakhtin commented on #4828
@luke- @buddh4 Please review my fix and comment here https://github.com/humhub/humhub/pull/4833#issuecomment-773828448

[2021-02-05 06:50] yurabakhtin commented on #4828
@luke-

Do you want to add new param like `$checkEnabled = true` to the method `ContentContainerModule::getPermissions()`:

[code]

I think we can use this solution only after when all modules extended from `ContentContainerModule` will be updated to use only `getContainerPermissions()` instead of `getPermissions()` because currently as I wrote here https://github.com/humhub/humhub/pull/4833#issue

[2021-02-05 07:11] yurabakhtin commented on #677
@luke-

Sorry, but I don't understand what collation check you mean here.

If you tell about collation prerequisite check then I implemented this here https://github.com/humhub/humhub/issues/4818.

If you want some additional check during install then I tested the install into DB with wrong collection here https://github.com/humhub/humhub/issues/677#issuecomment-772295510, i.e. if DB has no collec

[2021-02-05 08:03] yurabakhtin commented on #4835
@luke- Yes, very strange why "Database driver - **MySQL**" and "MySQL - Version - 5.5.5-10.3.27-**MariaDB**-0+deb10u1".
My tests were here https://github.com/humhub/humhub/issues/4818#issuecomment-772536166.

The "Database driver" is detected by `Yii::$app->getDb()->getDriverName()` - https://github.com/humhub/humhub/blob/develop/protected/humhub/libs/SelfTest.php#L562.
I don't know why the server

[2021-02-05 10:48] luke- commented on #4835
@yurabakhtin This unfortunately seems to be a Debian specific weirdness, but since this is our preferred Linux distribution, we should at least not show a warning here.

So I would go with the proposed approach and write an additional script. But it doesn't have to be anything complex here. The following cases are sufficient:
- regular version
- debian double version
- just drop warning: could not

[2021-02-05 10:51] errotu commented on #4169
I'd appreciate this feature, too!
Regarding the alternative you mention: The topic tag in the search stream does not (if I'm not mistaken) redirect to a page URL which reflects the tag, it does only reflect the search request (keyword and space id) made beforehand.

[2021-02-05 12:41] luke- commented on #677
Oh, that's right, I hadn't considered the migration. Then that is enough of course. Thanks!

[2021-02-05 13:04] luke- commented on #4839
We are currently working on a News module, which is very much in this direction.
Unfortunately I can't give more details about it yet.

[2021-02-05 13:22] superseby2 commented on #4839
Nice to hear and thanks for sharing the "news" :)
Could you give us maybe an ETA and if it would be part of the community edition?

Thanx again.

[2021-02-05 13:24] buddh4 commented on #4828
Wouldn't it be enough to make ``getContainerPermissions()` public? I'd prefer this over the new parameter. Both solution would introduce breaking change, but the new parameter would be way more problematic in terms of migrating modules. The behavior of both functions should be documented properly.

[2021-02-05 13:25] luke- commented on #4839
Maybe in 1-2 months. It is currently intended for the Professional Edition.

Apart from that, there was also the discussion that Posts could optionally have a title. However, no images would be planned here.

[2021-02-05 13:37] luke- opened #4841 "1.8: Notification Filter misplaced"
![image](https://user-images.githubusercontent.com/4736168/107040485-90c24f80-67bf-11eb-90c5-fb6487e1eefc.png)

[2021-02-05 13:48] luke- commented on #4828
Ok, so for 1.8 we will just make the method Public and include a workaround for modules that have not yet been migrated:
https://github.com/humhub/humhub/pull/4833/files#diff-3634c090cf95aea01f8986dca83fa4721c2f44685893c63d683de1550ffc02f2

[2021-02-05 13:57] #4828 closed

[2021-02-05 13:58] buddh4 commented on #4841
The `margin-bottom: 0;` seems to be the problem, not sure when and why it was introduced:
![grafik](https://user-images.githubusercontent.com/9800854/107042893-88b7df00-67c2-11eb-96d4-b0c7c77adfe3.png)

[2021-02-05 14:32] buddh4 opened #4843 "Remove travis badge from README.md"

[2021-02-05 14:34] yurabakhtin commented on #4835
@luke- Ok, PR https://github.com/humhub/humhub/pull/4842:

<img width="858" alt="mariadb" src="https://user-images.githubusercontent.com/6995524/107046948-4a2d1f00-67d8-11eb-9a85-f62b486fc354.png">

<img width="859" alt="mysql" src="https://user-images.githubusercontent.com/6995524/107046959-4c8f7900-67d8-11eb-9ebb-dc17f6e733af.png">

[2021-02-05 15:07] buddh4 opened #4844 "Container not available in `ContentContainerController::getAccessRules()`"
Since since `ContentContainerController` calls `parent::init()` prior to the initialization of the container. `getAccessRules()` is called before the container was fetched from the request.

https://github.com/humhub/humhub/blob/master/protected/humhub/modules/content/components/ContentContainerController.php#L71

[2021-02-05 15:34] yurabakhtin commented on #4828
@buddh4

It was enough only to solve the error "Unknown Method ... `getContainerPermissions()`" from here https://github.com/humhub/humhub/pull/4833. I described it here https://github.com/humhub/humhub/pull/4833#issuecomment-773828448.

[2021-02-05 15:56] buddh4 opened #4845 "Implement test module in `test/data`"
Implement test module for module installation/deactivation tests.

[2021-02-05 16:04] yurabakhtin commented on #4841
@luke- PR https://github.com/humhub/humhub/pull/4846
<img width="1152" alt="fixed" src="https://user-images.githubusercontent.com/6995524/107057820-e5c48c80-67e4-11eb-8cbf-53644bf9dd4d.png">

[2021-02-05 16:17] buddh4 commented on #4841
@yurabakhtin did you investigate when this was introduced? Just to make sure this is not an issue anywhere else.

[2021-02-05 16:24] buddh4 opened #4847 "1.8: RichText::postProcess(null) throws error"
| Q                | A
| ---------------- | ---
| HumHub version   | 1.8

[2021-02-05 17:16] luke- commented on #4841
@MasterHans  Seems it was introduced with https://github.com/humhub/humhub/commit/2cddf6b8babe257ec9228f53ed1db6c77d110e48 and related to the `/admin/pending-registrations` feature. Please make sure that such CSS/LESS changes are always as precise as possible to avoid such effects.

Can you fix that?

[2021-02-05 17:19] buddh4 commented on #4841
Same with https://github.com/humhub/humhub/commit/2cddf6b8babe257ec9228f53ed1db6c77d110e48#diff-cee91cfe4da6d567cb8e4101eb29e760ed346def1c9b1de8e2d9472e4b1a2fffR122 is there a reason this was added?

[2021-02-05 17:19] #4754 closed

[2021-02-05 17:19] #4511 closed

[2021-02-05 17:21] #4695 closed

[2021-02-05 17:36] #4835 closed

[2021-02-05 17:48] #4729 closed

[2021-02-05 20:42] ArchBlood commented on #4802
Just to note here for the future;
This seems to be the correct solution when dealing with adding to `<head></head>` section, see [yii2 docs](https://www.yiiframework.com/doc/guide/2.0/en/output-client-scripts)
[code]
The only issue that I see is that entering an external/internal link also applies a version number? Well in this case it doesn't seem to do any harm but does need to be investigated o

[2021-02-05 22:49] verement commented on #4169
I didn’t look too deeply at it, but I found that after clicking on a topic label in the search results, the resulting URL in the address bar indeed produces a filter effect on the stream limited to that topic without any residual search keywords. I’d like the same URL to appear when clicking on topic labels within a space in the same way to reflect the current filter.

[2021-02-05 22:58] verement opened #4848 "Include space tags in the space’s “About” page"
### Is your feature request related to a problem? Please describe.

The tags set in a user’s account settings appear on that user’s profile page. Incongruously, the tags set in a space’s settings do not appear anywhere within the space.

### Describe the solution you'd like

It would be great to have the space’s tags appear in the “About” page for the space.

### Describe alternatives you've consi

[2021-02-05 23:13] verement opened #4849 "Parse multiple space and user tags in the same way"
### Is your feature request related to a problem? Please describe.

The handling of multiple tags in space and user tags is inconsistent. Multiple user tags must be separated with commas, and tags may contain internal spaces. Multiple space tags may be separated by spaces or commas, and individual tags may not themselves contain spaces.

### Describe the solution you'd like

I would like all tags

[2021-02-06 01:01] ArchBlood opened #4850 "OAuth onSuccessLogin() errors"
### What steps will reproduce the problem?
Setup an OAuth client, any will do

### What is the expected result?
You should be automatically logged in

### What do you get instead?
Throws `Calling unknown method {OAUTH_CLIENT}::onSuccessLogin()`

### Additional info
You can confirm the issue through the [community site](https://community.humhub.com/dashboard) as well
| Q                | A
| ------

[2021-02-06 02:04] spoorun opened #4851 "Allow admins to add and change User profile photos"
Currently admins cannot change a User's profile image when in Settings > User administration

It is possible by using the impersonation facility, but this is not obvious, nor quick.

When adding lots of users for a company for example, the admin may wish to populate pics etc as they are created to enhance the aesthetics and usability of their spaces.

[2021-02-06 02:09] spoorun opened #4852 "Allow admins to fill all User fields at time of user creation"
Many users of our voluntary organisations do not complete the required fields when they log in, nor add photos or essential contact details.

Admins should have the option of adding the User's details (in particular phone, mobile, photo, birthday, address/town/country, and title) when the User is being created.

Going in afterwards to edit is time-consuming if there's a lot of Users to add.

Title

[2021-02-06 02:12] spoorun commented on #2415
@caveman86
If you're interested in contributing to this, my organisation can provide some money contribution...

[2021-02-06 03:11] ArchBlood commented on #4851
This is configurable via /protected/config/common.php file see https://docs.humhub.org/docs/admin/advanced-configuration/#module-configurations

https://github.com/humhub/humhub/blob/0874a48727b08acd8ce6e16a78a4f615a80de5fb/protected/humhub/modules/user/Module.php#L55-L60

[2021-02-06 03:21] ArchBlood commented on #4852
Admins can already do this

### Admin > Users > Users Tab > Edit User
![Screenshot_1](https://user-images.githubusercontent.com/35392110/107107651-752b6900-6800-11eb-9bac-8121248e9566.png)

### Select Tab and edit
![Screenshot_2](https://user-images.githubusercontent.com/35392110/107107545-aa838700-67ff-11eb-9829-1b3eeb3dcca8.png)

[2021-02-06 03:29] ArchBlood commented on #4852
You can also make fields required as well

### Admin > Users > Profiles
![Screenshot_3](https://user-images.githubusercontent.com/35392110/107107800-7610ca80-6801-11eb-8260-15501792ff8a.png)

[2021-02-06 03:36] caveman86 commented on #2415
yes , I am interested , please send me on this email : mis.developing@gmail.com .. or whatsapp : 00905316059824
BTW: I have finished of my project .. I can show it to you

[2021-02-06 03:37] caveman86 commented on #2415
yes , I am interested , please send me on this email : mis.developing@gmail.com .. or whatsapp : 00905316059824
BTW: I have finished of my project .. I can show it to you

[2021-02-06 03:57] spoorun commented on #4851
Thanks @ArchBlood  appreciated.

It would be useful to expose that in the admin settings, I would say a lot of people would find it useful.

[2021-02-06 05:08] #4852 closed

[2021-02-06 08:55] errotu commented on #4169
You're right, my mistake!

[2021-02-06 09:06] luke- commented on #4851
We plan to better describe these module options in the documentation.

[2021-02-06 09:06] #4851 closed

[2021-02-06 16:34] raffitz opened #4856 "Space moderator cannot invite pending members"
### What steps will reproduce the problem?

User sends a request to join a Space.
Moderator tries to invite that user to join a Space.

### What is the expected result?

User becomes a member of the Space.

### What do you get instead?

The invite cannot go through because there is a pending application from that user.
If the Moderator asks the User to cancel their application, and then invites th

[2021-02-06 20:55] ArchBlood commented on #4850
Fixed by #4854

[2021-02-06 21:02] ArchBlood opened #4857 "Reply Notifications share same message as first reply"
### What steps will reproduce the problem?
Comment on any post then reply to the comment twice and have someone like both replies to your comment and you'll get 2 notifications with the same text from the first reply

### What is the expected result?
When someone likes a reply or multiple replies it should be the exact text not a copy of the first reply

### What do you get instead?
![Screenshot_1

[2021-02-07 08:11] sarz4fun opened #4858 "Problem with sub reply in Android"
When i click on a sub reply from android webapp, mention can bot be deleted but auto-types last 2 chat of mention when i tap backspace.

### What steps will reproduce the problem?

Tap reply on sub replay and tap backspace a lot.

![Screenshot_20210207-090403__01](https://user-images.githubusercontent.com/39486520/107140807-e49a7900-6924-11eb-85f3-7459b1b2746f.jpg)

### What is the expected result

[2021-02-07 20:45] blackPantherOS opened #4859 "Embedding of Player for AVI/M4V not working"
### What steps will reproduce the problem?
drop avi file to comment

### What is the expected result?
simple uploaded file,attached to post as hidden file, cannot embedding,

### What do you get instead?
ogv file working and embedding fine

| ---------------- | ---
| HumHub version   | 1.7.2
| PHP version      |  7.2
| Operating system | blackPanther OS

empty

[2021-02-07 21:14] JK742020 opened #4860 "Problem! Files get lost"
Uploaded a PDF within custom page. Two days later it was gone. Link was still there but after clicking the link the PDF wasn't shown. Instead: “Uuups. File not available.” (Freely translated from German)

Pictures within a article. Same thing.

Uploaded audio mp3. Same thing.

### What steps will reproduce the problem?

No idea. It happens quite randomly. Some files are affected others aren't.

##

[2021-02-07 23:03] ArchBlood commented on #4859
See #4411

[2021-02-08 00:11] FreshCSGOSkins commented on #4860
Some additional information on this issue. Running PHP 7.3 (now testing with 7.4) on Hetzner webhosting with APCu and OPcache. Uploading files and including them in posts works quite normal. When files go missing the whole post itself stays completely in tact (the URL to the file itself seems to be broken only). It only affects individual files when more are present in a post. They usually go miss

[2021-02-08 02:13] ArchBlood commented on #4860
Not sure about v1.6.3, but if a file doesn't get attached to a record then HumHub will remove the file, how exactly are you uploading, through upload function or editor upload function? :thinking:

Overall I strongly recommend updating to the latest stable version
https://docs.humhub.org/docs/admin/updating/

[2021-02-08 03:21] ArchBlood opened #4861 "Configuration Settings Organization"
### Is your feature request related to a problem? Please describe.
I'm opening this request issue to better the backend and organizing the configuration options

At the moment this is how it's looking
![Screenshot_1](https://user-images.githubusercontent.com/35392110/107171403-b6528300-6990-11eb-92c9-14e3ac997f71.png)

### Describe the solution you'd like
Changing the names and sorting the functio

[2021-02-08 04:54] yurabakhtin commented on #4841
@buddh4

I didn't find when it was introduced but I found where the `checkboxList()` works well and compared the differences there:

<img width="1487" alt="differences" src="https://user-images.githubusercontent.com/6995524/107176146-9e562000-69df-11eb-9aeb-34e757203ac6.png">

What differences between `yii\widgets\ActiveForm` and `yii\bootstrap\ActiveForm`:

- `yii\widgets\ActiveForm` uses same te

[2021-02-08 08:57] luke- commented on #4861
I don't know if core module names are the best categorization here. e.g. Admin or User can have a lot of options accumulated. From the developer perspective this may be reasonable, but an end user (admin) thinks in other categories.

[2021-02-08 09:01] #4859 closed

[2021-02-08 09:08] luke- commented on #4860
You can check if an uploaded file is automatically deleted if the field `object_model` in the database table `files` is empty.
Normally the field should be empty during post creation and then set when submitting the post.

Can you please check under what circumstances this happens and give us steps to reproduce it?
It would also be interesting to see if the Browser Console displays Javascript erro

[2021-02-08 09:33] luke- opened #4862 "Uniform Tag Picker"
Currently the tag fields for Spaces/User are simple comma separated text fields.

![image](https://user-images.githubusercontent.com/4736168/107200347-e3864c00-69f7-11eb-9950-4dbcaeb88b46.png)
![image](https://user-images.githubusercontent.com/4736168/107200392-ef720e00-69f7-11eb-8203-a6f8da91d0a5.png)

Here, analogous to the Topic Picker, there should be a field with better UI.
![image](https://u

[2021-02-08 09:34] luke- commented on #4849
Should be solved by this issue: https://github.com/humhub/humhub/issues/4862

[2021-02-08 09:34] #4849 closed

[2021-02-08 09:38] luke- commented on #4856
@yurabakhtin Can you please check this out. In this case, the membership request should be approved with this.  Target Branch: Develop

[2021-02-08 10:53] luke- commented on #4850
Merged: https://github.com/humhub/humhub/commit/6af25dd0eea406b470b42f29500ae2c6d17040ea

[2021-02-08 10:53] #4850 closed

[2021-02-08 11:18] luke- commented on #4802
If a theme provides the view file `views/layouts/head.php`, it should still be added to the head section.

@ArchBlood Yes, this is the approach preferred by Yii2 and us for modules and core head entries.

[2021-02-08 12:20] luke- commented on #4858
Hmm, I can't reproduce this. When I tap on a reply to a comment, the mentioning is automatically inserted, but I can also remove it again without any problems. (If I remove using backspace, all the Mentioning is removed at once).

Using Chrome one Android.

[2021-02-08 12:47] luke- commented on #4281
https://github.com/humhub/humhub/pull/4815/commits/4d8324fff4361018a7f5a29108e6bfc39829b529

[2021-02-08 12:47] #4281 closed

[2021-02-08 16:04] ArchBlood commented on #4858
I've also been able to reproduce this, it's a rare occurrence in Android 10+ devices

[2021-02-08 16:11] ArchBlood commented on #4861
The categorization can definitely be discussed, overall to add more functions to the backend and bring the use of the `common.php` closer to rarely being needed used

[2021-02-08 16:14] luke- commented on #4858
Any tip how to reproduce on Android 11?

[2021-02-08 16:54] ArchBlood commented on #4858
The only thing I can think of is going through a notification link then clicking on a reply of a reply and let the auto mention pop up and try deleting the mention or adding to the reply with text then try deleting the text, I've also noticed that when doing this your text indicator always shows before the mention position

[2021-02-08 16:57] ArchBlood commented on #4858
I must note that the reply button to a comment doesn't do this, just the reply button to a reply does

[2021-02-09 13:27] yurabakhtin commented on #4856
@luke- PR https://github.com/humhub/humhub/pull/4865

[2021-02-09 13:44] #4856 closed

[2021-02-09 13:49] yurabakhtin commented on #4862
@luke-

Do you mean to create a new migration in order to move all tags from the tables `space` and `user` into the table `content_tag`?

<img width="970" alt="topics" src="https://user-images.githubusercontent.com/6995524/107372552-98069780-6af6-11eb-888c-7259fc8f5813.png">
<img width="1075" alt="user_tags" src="https://user-images.githubusercontent.com/6995524/107372567-9b018800-6af6-11eb-915b-d

[2021-02-09 14:10] luke- commented on #4862
Yes, the existing tags should be migrated. (In the last step)

I'm not sure if we can map these existing space / user tags (contentcontainer) via the `content_tag` table.
Maybe we need to create a new `contentcontainer_tag` table or enhance the `content_tag` for this usecase.

[2021-02-09 14:12] luke- commented on #4862
@buddh4 do you have any advice for this?

[2021-02-09 20:33] sarz4fun commented on #4858
I am using android 9 (oneplus3), Chrome for Android, from link in drawer.

[2021-02-09 21:28] FreshCSGOSkins commented on #4860
Thanks for the helpful tip @luke- . It really seems some of the uploaded files are missing the object_model reference so it only makes sense that they are removed during cron. We are now going to look into some test cases to determine how to reproduce the issue.

[2021-02-09 22:18] ArchBlood commented on #4858
@luke- seems that this p/r is when it all started #4571, tested 1.7.x as well seems to not being affected, would seem that the implementation of the mentioning function is the core cause of the issue :thinking:

[2021-02-10 09:39] luke- commented on #4858
@ArchBlood Hmm, thanks for the hint.

Steps to reproduce the problem:
- Try to reply to a comment of a comment via "Reply" link.
- Then automatically a Mentioning appears like e.g. @Example in the comment input
- When you try to delete it with backspace, this weird behavior happens?

Can you confirm this?

[2021-02-10 09:56] #677 closed

[2021-02-10 09:58] luke- commented on #4536
Does this problem still persist? Can you please also try it with a recent HumHub 1.7.2?

[2021-02-10 10:45] yurabakhtin opened #4866 "Use humhub confirmation dialog instead of browser dialog"
From https://github.com/humhub/humhub/pull/4776#issuecomment-776496538

Use custom humhub confirmation dialog with text "There are unsaved changes, do you really want to leave this page?" instead of standard browser dialog for cases on page refresh or close page, same as used on click on a link:

<img width="1148" alt="different_confirmation" src="https://user-images.githubusercontent.com/6995524/

[2021-02-10 12:04] tinkat69 commented on #4536
No. With one installation, we had the problem with 1.6.x when PHP was updated to 7.4.x. This was solved by adding/updating PHPOffice and PHPXML extensions. Since then, this installation (currently 1.7.2) has had no such csv or xlsx export issues.
Another installation while running 1.6.x had no csv or xlsx export issues when using PHP 7.2.29 but threw the errors when PHP was updated to 7.4.x.  This

[2021-02-10 13:57] yurabakhtin commented on #4862
@luke- As first step I have implemented the tag picker for Space without DB modifications, i.e. the tags still are stored in the same single column `Space:tags`. Next step I will implement the same for User container.

PR https://github.com/humhub/humhub/pull/4867:

<img width="960" alt="space_tags" src="https://user-images.githubusercontent.com/6995524/107519159-f8620b80-6bc0-11eb-9382-d1af212dea

[2021-02-10 14:51] yurabakhtin commented on #4862
@luke- Commit https://github.com/humhub/humhub/pull/4867/commits/faa3aee9c7769ab6e5e9f62b01535d1c624e3011:

<img width="856" alt="user_tags" src="https://user-images.githubusercontent.com/6995524/107525774-3adb1680-6bc8-11eb-9c80-df2deb1350b1.png">

Please let me know if I should start to implement next step as moving all tags from columns `space:tags` and `user:tags` into new table like `contentc

[2021-02-10 16:18] luke- commented on #4862
@yurabakhtin Looks good for me. Do you see any possibility to also use `content_tag` for this usecase as well or do we really need a new `contentcontainer_tag` table(s)?

[2021-02-10 16:20] luke- commented on #4536
Thank you for the feedback. So I'll close the ticket for now.

[2021-02-10 16:20] #4536 closed

[2021-02-10 17:09] buddh4 commented on #4862
Content tags are meant to be assigned to content and not containers, so I we should use another table for this. Also none of the content tag features are used here.

[2021-02-10 17:28] luke- commented on #4862
@buddh4 Thanks for the clarification.

[2021-02-10 19:08] MasterHans commented on #4841
Hi, guys
1) Looks like I have made mistake in the issue number during my commits.
I worked with #4225 and mistakenly typed #4525:
![image](https://user-images.githubusercontent.com/17376109/107558717-30327880-6bec-11eb-8dfa-23b14f7f01cd.png)

I am sorry for that...

@buddh4 the reason was in here
I tried to fix the checkboxes position and "export" button size
![image](https://user-images.githubuse

[2021-02-10 19:10] MasterHans commented on #4841
I'll make it precise.

[2021-02-11 10:24] luke- opened #4868 "Reset of existing email summaries / notifications settings"
### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/4736168/107624701-8db1de00-6c5b-11eb-9b93-17037e067819.png)

[2021-02-11 11:46] luke- opened #4869 "Comment Notification E-Mail"
### What steps will reproduce the problem?

Receive a notification about a comment

### What is the expected result?

See the comment and the original text.

### What do you get instead?

See comment twice.
![image](https://user-images.githubusercontent.com/4736168/107632558-edfa4d00-6c66-11eb-8987-21eba50b6368.png)

May introduced which RichText parser enhancements.

### Additional info

| Q

[2021-02-11 14:57] yurabakhtin commented on #4862
@luke- I have implemented the moving user and space columns `tags` into the new tables `contentcontainer_tag` and `contentcontainer_tag_relation` - commit https://github.com/humhub/humhub/pull/4867/commits/2830de3a5e5924d8614db6dcf97c35845cb8b6e3.

But please note the columns were used as searchable fields, so probably we should implement to use new tables like I wrote in TODO here https://github.

[2021-02-12 06:18] yurabakhtin commented on #4869
@luke- PR https://github.com/humhub/humhub/pull/4870:

<img width="1245" alt="test_email_content" src="https://user-images.githubusercontent.com/6995524/107736195-8bf72180-6d12-11eb-8c03-1b9755e0095c.png">

The problem was in the cached content with same key for Comment and for Post because there(https://github.com/humhub/humhub/blob/fix/4869-cached-comment-notification-content/protected/humhub/mo

[2021-02-12 08:47] Abatjour3407 commented on #2351
Hi, I'm not sure if this is relevant to this feed but when attaching images to a wall/feed post on HumHub it doesn't have a nice impact (let's compare it to how it's presented on other social media platforms): It displays these images as little thumbnails in columns instead of having a full-width appearance. I think this should be an easy thing to fix and I've fixed it on my own platform in a mobi

[2021-02-12 08:55] yurabakhtin commented on #4862
@luke- I have fixed the fixtures data, so tests have no errors, and I think the PR can be merged.

[2021-02-12 09:18] luke- commented on #4869
@yurabakhtin Thanks, for the fix.
@buddh4 As you are currently working on it, you might want to move the fix a little deeper into the API (if necessary).

[2021-02-12 09:18] #4869 closed

[2021-02-12 09:24] luke- opened #4871 "Default Timezone for Guests"
### Is your feature request related to a problem? Please describe.

It is possible to define a time zone for a registered user and it is possible to define the time zone of the database server.

Currently, however, there is no possibility to set the default time zone for guests or newly registered users.
e.g. the problem affects our hosting clients ( we use  CET time zone and users outside this zo

[2021-02-12 10:24] luke- commented on #4862
@yurabakhtin Looks good for me. Can you please add some tests. Also some tests with the legacy `tags` attribute would also be good.

Btw. The feature is planned for HumHub 1.9,  can you please change the @since notes here.
I would wait with the merge until 1.8 is stable, but then we should also adapt the 1.9 migration guide, because of the "tags" attribute change.

[2021-02-12 11:18] Abatjour3407 opened #4872 "Option to rename "Spaces""
### Is your feature request related to a problem? Please describe.
No

### Describe the solution you'd like
Ability to rename Spaces to e.g. "Clubs", "Communities", "Departments", etc.

### Describe alternatives you've considered
I did a grep search of all the files including the word "spaces"... Lol x_x

[2021-02-12 14:38] yurabakhtin commented on #4868
@luke- I have stared this in PR https://github.com/humhub/humhub/pull/4873, but I think it is not completed yet, because it seems not all notification settings are reset. I will do this later because no time now.

[2021-02-12 15:24] luke- commented on #4868
@yurabakhtin Looks good so far! Have a nice weekend! :-)

[2021-02-12 17:48] ArchBlood commented on #4872
Space is kind of a special case word when it comes to HumHub so it's not really allowed to be changed not even in translation overwriting

[2021-02-12 17:52] ArchBlood commented on #4872
See #4455, I personally would like to generalize the term in some places and not all

[2021-02-12 18:01] ArchBlood commented on #4871
Maybe something similar to this can be done?

Reverse engineer the code itself to show for guests instead of non-guest and save locally on browser

https://stackoverflow.com/questions/39306867/show-hours-in-users-timezone-in-view

[2021-02-12 18:07] #4872 closed

[2021-02-12 18:35] MasterHans commented on #4841
my fault fixing sorry

[2021-02-12 20:50] ArchBlood commented on #871
@luke- or @buddh4 I'd like to bring a slightly better solution to the table when it comes to RTL, is that alright? The following code should trigger RTL in the case that Arabic language is used, of course if there is another language that also uses RTL then it could be added as well, any thoughts? Reason behind this, I don't think we should force custom theme option because the core code is always

[2021-02-13 00:27] ArchBlood commented on #4858
I can confirm, an alternative method to fix this, remove mentioning and use blockquotes of the message that you're replying to

[2021-02-13 08:34] ArchBlood opened #4876 "Mobile Text Indicator Position"
### What steps will reproduce the problem?

Here are the steps that I've found to reproduce this issue;

- Place a link or random text
- Go to beginning position of the post and start to type out a message
- Press space and it will move the position of the text indicator

### What is the expected result?
A space should just make a space not move the position of the indicator

### What do you get i

[2021-02-13 08:35] ArchBlood commented on #4876
Could be related to #4858

[2021-02-13 12:03] MasterHans commented on #4841
Done!

[2021-02-14 22:54] verement opened #4877 "Add check for writable profile_image directory"
### Is your feature request related to a problem? Please describe.

A runtime exception will occur in the web installer if the `uploads/profile_image` directory is not writable by the web server process.

### Describe the solution you'd like

It would be great to add a check for the writability of this directory to the initial requirements scan.

### Describe alternatives you've considered

(None)

[2021-02-15 06:52] yurabakhtin commented on #4868
@luke- I have completed the PR, but I think one setting should be reset as well, currently it is not reset even per current User, please see on the screenshot:

<img width="1148" alt="user_settings" src="https://user-images.githubusercontent.com/6995524/107914342-42f1d800-6f73-11eb-8dd0-7177df44cdbb.png">

On my opinion the checkbox setting should be reset on click the grey button "Reset to defaul

[2021-02-15 09:12] luke- opened #4880 "Show SSO Provider also in the "New user?" tab"
### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/4736168/107926681-4cc90a80-6f76-11eb-936e-49b8a741d16d.png)

[2021-02-15 09:12] luke- commented on #4880
https://github.com/humhub-contrib/auth-facebook/issues/1

[2021-02-15 09:56] luke- commented on #4868
@yurabakhtin Yes, I agree, the "Desktop Noticiations" should be also reset.

[2021-02-15 10:17] luke- commented on #4841
@MasterHans Please see my PR comment.

[2021-02-15 10:47] ArchBlood commented on #4880
@luke- you could probably also merge this issue with #3593 seeing as both are related/similar in nature

[2021-02-15 12:02] yurabakhtin commented on #4868
@luke-

Commit https://github.com/humhub/humhub/pull/4873/commits/cea8a91a65b57d6bc93f7ef8496fe06a16c97cac.

[2021-02-15 12:11] yurabakhtin commented on #4868
@luke- I think this the PR is completed and can be merged.

[2021-02-15 12:46] #4868 closed

[2021-02-15 12:47] luke- commented on #4876
Unfortunately, I can't reproduce it either.

@buddh4 Can you please take a look?

[2021-02-15 13:18] luke- opened #4881 "Stream broken when SuppressionScanSize reached"
### What steps will reproduce the problem?

- Post something in a Space Stream
- Upload a ZIP with 500+ documents to the files modules (Use upload ZIP Fileoption). Example file:
[test.zip](https://github.com/humhub/humhub/files/5981705/test.zip)
- Open Stream and see no Post after Suppressions

![image](https://user-images.githubusercontent.com/4736168/107951017-e8b73e00-6f97-11eb-81cd-98bcab0dec5

[2021-02-15 14:51] luke- commented on #4857
@yurabakhtin Can you please take a look? Sounds similar to this: https://github.com/humhub/humhub/commit/17e514355ce34572fd36b5c2fd885421c0f18951

[2021-02-16 04:39] superseby2 commented on #4839
Ok thx!

[2021-02-16 04:39] #4839 closed

[2021-02-16 08:50] yurabakhtin commented on #4857
@luke- Yes, this but is related to the commit from issue https://github.com/humhub/humhub/issues/4869, as I wrote there it would be better to fix main function `BaseRichTextConverter::buildCacheKeyForContent()`. I have done this in new PR https://github.com/humhub/humhub/pull/4882 because as we see it was not enough to fix the single case in the previous PR.

---

Not related to this issue but ple

[2021-02-16 09:08] luke- commented on #4857
@yurabakhtin Please see my PR comments. I also get the warning about `renderAbsy`. Can you please fix that too? I think either we remove the `parent::renderAbsy` or implement an empty function in the parent.

[2021-02-16 10:02] #4860 closed

[2021-02-16 10:15] yurabakhtin commented on #4857
@luke-

Commit https://github.com/humhub/humhub/pull/4882/commits/ccad96646c51cd4f3db7aa873faed352a5afeafd

[2021-02-16 11:35] smashm commented on #712
Maybe this could be an option to adopt it for humhub as it is yii2 based:

https://yii2-usuario.readthedocs.io/en/latest/helpful-guides/how-to-implement-two-factor-auth/
https://github.com/2amigos/2fa-library
https://github.com/2amigos/qrcode-library

[2021-02-16 12:04] luke- commented on #712
WIll be available with HumHub 1.8+
https://www.humhub.com/en/marketplace/twofa/

[2021-02-16 12:04] #712 closed

[2021-02-16 12:51] buddh4 commented on #4857
The error by PHPStorm seems to be a false positive. If we do not return `parent::rendarAbsy` nothing will be rendered at all.

[2021-02-16 12:56] buddh4 commented on #4860
In case you can reproduce the issue with the custom pages module please share information about how to reproduce (which type of page, template etc) here https://github.com/humhub/humhub-modules-custom-pages

[2021-02-16 12:57] yurabakhtin commented on #4857
@buddh4 ok, if you are sure this is only PHPStorm issue then I can revert that, please confirm.

[2021-02-16 13:00] buddh4 commented on #4857
Yes, if the `renderAbsy` would be broken, the whole render process would not work since its responsible for rendering all blocks.

[2021-02-16 13:29] buddh4 commented on #4876
Could recreate https://github.com/humhub/humhub/issues/4858 but not this issue.

[2021-02-16 13:38] buddh4 commented on #4871
Don't we try to determine the timezone in the installer from the browser? Maybe we could use the same approach here.

[2021-02-16 14:22] buddh4 commented on #2351
@Abatjour3407 maybe add a screenshot of your prefered solution.

[2021-02-16 14:30] Abatjour3407 commented on #2351
The importance of this isn't so evident in this image, but when uploading an advertisement or call to action image it loses all of it's impact. Maybe when adding multiple images the current way works best but I think for a single image this can be improved:
![SUGGESTION](https://user-images.githubusercontent.com/50051640/108076340-fe9a3100-7073-11eb-8c82-0508b38600ad.png)
`

[2021-02-16 14:32] buddh4 commented on #4866
The page unload notification by a browser can not be overwritten in most browsers for security reasons, some browsers do not even allow to overwrite the message.

[2021-02-16 14:42] buddh4 commented on #2351
I think on mobile we already have an option to use a slider like image gallery. This needs to be activated (not sure if its active by default) `Administration -> Settings -> Appearance`. But this should only work on mobile devices. I think on desktop a tile like presentation would be the best (but a more complex one as currently).

[2021-02-16 15:36] buddh4 commented on #4775
Also the usability on mobile is not good. Maybe a static position would be better on mobile.

[2021-02-16 16:23] buddh4 opened #4883 "Stream Suppression Interface"
Implement a Interface for ContentActiveRecords in order to prevent stream suppression to prevent the effort of:

https://github.com/humhub/humhub-modules-news/issues/13

I think this behavior should be:

- Disabled at all
- Disabled by configuration for certain models (already the case)
- Disabled by a module (new interface)

[2021-02-16 16:57] buddh4 commented on #4626
Related to https://github.com/humhub/humhub/issues/3968

[2021-02-16 17:02] buddh4 commented on #4857
Maybe related to https://youtrack.jetbrains.com/issue/WI-56893

[2021-02-16 17:26] #4838 closed

[2021-02-16 17:29] buddh4 commented on #4180
Related to https://github.com/humhub-contrib/fcm-push/issues/6

[2021-02-16 17:55] buddh4 commented on #4626
Cases to test:

- [ ] Profile with contributions without `Archived` filter -> exclude archived content + archived container
- [ ] Profile with contributions with `Archived` filter -> only include archived content + archived container
- [ ] Profile without contributions without `Archived` filter -> only include non archived content of profile
- [ ] Profile without contributions with `Archived` filt

[2021-02-16 18:08] Abatjour3407 commented on #2351
Ok, thanks. I can see the merits to your argument.

I'll keep my customisations as full width on desktop with maybe a screen-height related max-width but as for the main HumHub product, that's not my choice to make. Just thought to bring your attention to the possible variation.

Thanks for the info on the mobile appearance and thanks for engaging with this idea. Have an epic day further that side

[2021-02-16 22:17] buddh4 opened #4886 "Richtext image alignment issues (1.8)"
- Add some margin:

![grafik](https://user-images.githubusercontent.com/9800854/108128431-00341b00-70ad-11eb-92c2-e59fa99c5759.png)

e.g.

- `margin: 5px 10px 0 0;` for left align
- `margin: 5px 0 0 10px;` for right align

- Remove `float="1"` from markup

[2021-02-16 23:03] buddh4 opened #4887 "Remove IntersectionObserver polyfill"
Remove dependency and usage of IntersectionObserver polyfill (and other IE only polyfills) due to IE support drop.

[2021-02-17 10:23] gerhardbeck commented on #802
Is there now a way to show an RSS Feed in Humhub?

[2021-02-17 10:40] buddh4 commented on #802
hmm, not sure what happened with this module

[2021-02-17 11:30] #4886 closed

[2021-02-17 13:02] #4843 closed

[2021-02-17 13:03] #4847 closed

[2021-02-17 13:03] buddh4 commented on #4876
@ArchBlood which device and browser are you using to reproduce this?

[2021-02-17 13:05] ArchBlood commented on #4876
I'm using PWA by latest version of Chrome mobile browser

[2021-02-17 14:25] ArchBlood commented on #4876
Here's some screenshots of the issue in action

![Screenshot_20210217-092345.png](https://user-images.githubusercontent.com/35392110/108217770-fa1c5980-7101-11eb-8d0d-ca0e589e67a8.png)
![Screenshot_20210217-092407.png](https://user-images.githubusercontent.com/35392110/108217788-fdafe080-7101-11eb-9c2d-6130b86ee6eb.png)

[2021-02-17 14:31] luke- opened #4890 "Conflicts on multiple onBeforeControllerAction redirects"
See discussion and ideas here: https://github.com/humhub-contrib/legal/issues/16

[2021-02-17 14:33] luke- commented on #4890
Some modules or actions are intercepts requests:

e.g.

- Maintenance mode
- Must change password
- Two factor auth
 -Legal module
- Live poll
- Rest

@buddh4 's Idea:

All core controller/actions could be directly defined within the module e.g. by an similar array as you mentioned.
Some use-cases above maybe could be solved by some kind of controller interface, so the modules can kind of negotiat

[2021-02-17 14:35] buddh4 commented on #4858
Seems to be a problem with chrome:

- https://github.com/ProseMirror/prosemirror/issues/565
- https://bugs.chromium.org/p/chromium/issues/detail?id=612446

[2021-02-17 16:27] ArchBlood commented on #4876
The reason I say this could be related to #4858 is because this only happens with rich text features, like linking and mentioning :thinking:

[2021-02-17 16:33] ArchBlood commented on #4858
So the action needed done is to `contenteditable="inherit"` or find places where this is needed to be set to `true` or `false`?

[2021-02-17 19:03] #4858 closed

[2021-02-17 19:09] buddh4 commented on #4876
@ArchBlood which keyboard are you using `Settings -> System -> Language & input`

[2021-02-17 19:14] ArchBlood commented on #4876
Gboard is the default keyboard input, not changed it since I got it

[2021-02-17 19:19] buddh4 commented on #4876
Ok, could reproduce it but only with Gboard not with SwiftKey.

[2021-02-18 11:42] #4775 closed

[2021-02-18 11:46] luke- commented on #4775
@buddh4 Thanks for the fix. Can you please release the ProseMirror module directly, I would release Beta.2 soon.

[2021-02-18 11:57] buddh4 commented on #4775
kk wanted to work on some richtext related issues today, do you want to release today, or is tomorrow ok?

[2021-02-18 12:01] luke- commented on #4775
@buddh4 It planned for today. I would do it in about 2-3 hours. Otherwise, the changes will be included in the next release. I'm not sure yet if there will be a third beta version.

[2021-02-18 12:08] buddh4 commented on #4775
k, I'll let you know once I've released.

[2021-02-18 12:22] buddh4 commented on #4876
This seems to be a general issue with prosemirror in combination with Gboard, so I let this on hold for now.

[2021-02-18 12:44] buddh4 commented on #4775
@luke- can you update the prosmirror dependency to 1.1.1 and do a composer update?

[2021-02-18 12:59] luke- commented on #4775
Yes, thanks!

[2021-02-18 13:48] buddh4 commented on #4775
@luke- can you again update to 1.1.2? Sorry there was a small issue with the emoji chooser on mobile or did you already relase?

[2021-02-18 13:51] luke- commented on #4775
@buddh4 no prob - done

[2021-02-18 23:11] c-nv-s commented on #3139
It would be good to understand if there is way to vote for what could end up on the next milestone
I would have thought something like s3 storage also makes the lives of the community.humhub.com admins easier in the long-run?
I'm also a huge fan of the RESThooks proposal: [https://github.com/humhub/humhub/issues/4645](https://github.com/humhub/humhub/issues/4645) to facilitate automation.

[2021-02-18 23:55] spoorun commented on #2495
This is quite a missing feature, as users get more and more modules from marketplace and custom etc... As can be seen in the screenshot. Perhaps a module can be developed for those who need it.

![Screenshot_20210218-235337_Chrome](https://user-images.githubusercontent.com/627140/108437092-89ca2100-7244-11eb-9bcb-dbc1afc0fb37.png)

[2021-02-19 01:44] ArchBlood commented on #2495
I believe this is why the `SortOrderField` widget class was created, this field creates a number value between 100 -10000 which will sort the order of whatever item it's used for :thinking:

[2021-02-19 03:30] spoorun commented on #2495
@ArchBlood Indeed you're right, though as I understand it, that's set per module/item? It doesn't appear easy to apply in practice.

I was thinking how it could be used friendly and exposed along the lines of applying the same principles that @buddha4 and others outlined in #4202 , for example drag and drop (by admin?)

[2021-02-19 04:25] ArchBlood commented on #2495
To be honest, it wasn't that hard to implement once an example was given for `SortOrderField` so I can see this being used universally now due to the core ui module, as of right now almost all core modules have a Events.php file or use the Module.php file to `'sortOrder' => number_value,`, this can also be done rather easily for widgets just like menu tabs

In the case of the Weather module `['sor

[2021-02-19 07:10] yurabakhtin commented on #4862
@luke-

Commit https://github.com/humhub/humhub/pull/4867/commits/06d1d0086f63b1185e57076f8a1c0e3910a6d9bf

[2021-02-19 08:35] Abatjour3407 commented on #1358
I was just thinking about this... Also, I see in the profile fields one has the awesome option to make a profile field searchable. Maybe one should also include an advanced search filter for these fields to search ONLY in one or more of these fields?

[2021-02-19 09:49] luke- commented on #1358
@Abatjour3407 A good point. We are planning to tackle the search topic in the upcoming 1.9 version - unfortunately I can't be more specific about the scope of the features/changes yet.

[2021-02-19 10:23] luke- opened #4895 "1.8: JS Warning "Required non-init module: space.chooser""
1.8 - Following console warning appears on dashboard

![image](https://user-images.githubusercontent.com/4736168/108491869-bc0b6b00-72a4-11eb-9f12-4682fae426e8.png)

[2021-02-19 11:12] buddh4 commented on #4895
Maybe due to: https://github.com/humhub/humhub/commit/09cdaf37cfa5f2229cfa31e015868f13de6b6c67#diff-61c9f24e66ac43241ce6de95866f87727072cf58f1cb5f05eaaa15c7b391d407R10 I assume the chooser asset is loaded after the `humhub.content.container.js` so its not available here.

We need to replace [those](https://github.com/humhub/humhub/commit/09cdaf37cfa5f2229cfa31e015868f13de6b6c67#diff-61c9f24e66ac43

[2021-02-19 11:16] buddh4 commented on #4895
The asset order is defined by: https://github.com/humhub/humhub/blob/master/protected/humhub/assets/CoreBundleAsset.php

[2021-02-19 11:16] luke- commented on #4895
@yurabakhtin Can you please take a look?

[2021-02-19 13:12] luke- opened #4898 "No streamExcludes option when loading single stream entry"
### Problem

If a single content should be loaded (e.g. permalink) the config file option StreamExcludes should not be applied.

- Add Files to Stream Excludes
[code]
- Use File Module and click `Shot Post` in Context Menu
![image](https://user-images.githubusercontent.com/4736168/108508395-09df9d80-72bc-11eb-87f6-a78ab7b29f31.png)

- Shown URL is not working

### Describe alternatives you've cons

[2021-02-19 13:43] luke- commented on #2495
Perhaps we can find a better option for overwrites here. I'll give it a few thoughts...

[2021-02-19 13:56] yurabakhtin commented on #4895
@luke- PR https://github.com/humhub/humhub/pull/4900

[2021-02-19 14:05] buddh4 commented on #4895
@luke- @yurabakhtin we need to test this in the community as well as enterprise theme

[2021-02-19 14:40] luke- commented on #4895
@buddh4 The commit worked fine with both themes except for the warning. Or do you mean the Require?

[2021-02-19 14:50] luke- opened #4901 "Rename/Move Statistic Input"
The field (Admin -> Settings -> Advanced -> Statistics) should be unnamed, into something more generic. .
e.g. Appeareance "Custom Head Code"

+ Add CodeMirror Editor

[2021-02-19 16:01] #4895 closed

[2021-02-19 17:44] buddh4 opened #4902 "Add codemirror asset"
Codemirror is already used in some modules e.g. custom pages. We should add a core [codemirror](https://codemirror.net/6/) Assetbundle.

[2021-02-19 17:55] buddh4 opened #4903 "Topic label wrap styling issue"
- Add padding vertical margin
- Fix space filter wrap

![grafik](https://user-images.githubusercontent.com/9800854/108542380-f2b4a600-72e3-11eb-8f79-da9da138dd4c.png)

[2021-02-19 21:00] buddh4 commented on #4895
If you tested on ee theme its fine.

[2021-02-21 22:06] ArchBlood opened #4904 "Check Max Upload Size on Install"
### Is your feature request related to a problem? Please describe.
At the moment on install the installer doesn't tell the `upload_max_filesize` in `SelfTest.php`

### Describe the solution you'd like
Add the following to `SelfTest.php`
[code]
![Screenshot_2](https://user-images.githubusercontent.com/35392110/108640124-e8221a00-7465-11eb-8b44-f7e03c42f72e.png)

### Describe alternatives you've con

[2021-02-22 09:33] luke- opened #4905 "Add more PHPInfo"
### Is your feature request related to a problem? Please describe.

It would be good to have an easy way to query PHP configuration information like Max Upload Size, Modules or path of the configuration file.

### Describe the solution you'd like

Add a button/link "PHPInfo" at the bottom of `Administration -> Informationen ->  Prerequisites`.
Show a simple page in HumHub Layout with `<?php phpinf

[2021-02-22 09:38] luke- commented on #4904
Could this also be a solution?
https://github.com/humhub/humhub/issues/4905

The maximum upload size can be set very low and there should be no problems with the use of HumHub?

[2021-02-22 09:45] ArchBlood commented on #4904
This would probably work, although I'm not sure how this would be implemented on install? The above code provided shows the current max file size as shown in the screenshot, this also shows on the installer page as well, I'm just worried that redirecting the user will confuse or may even hinder the install process :thinking:

[2021-02-22 09:48] luke- commented on #4904
@ArchBlood Your example code snippet shows the current max upload size and doesn't implement any check. Does this have to be done in the installer?

[2021-02-22 09:53] ArchBlood commented on #4904
That is true to an extent, this code only checks the current `max_upload_size` and displays it, as for implementing on installer I believe it would help a lot of users, see the below post from the community site

https://community.humhub.com/s/general-discussion/?contentId=237058

[2021-02-22 10:00] luke- commented on #4904
Yes, probably the PHPInfo would be good here as well, here also the path to the used configuration file would be displayed directly.

[2021-02-22 11:18] yurabakhtin commented on #4862
@luke-

Commit https://github.com/humhub/humhub/pull/4867/commits/8d640f039bd1075c1ea80c0de19e96abb12385ad

[2021-02-22 11:23] buddh4 opened #4906 "Rework ContentOwner interface"
Here some issues with the `ContentOwner` interface in its current form:

- The naming is a bit missleading, I'd prefer `ContentRelation` since models using this interface do not own the content but are related to a content
-  `ContentOwner:getContent()` is violated e.g. in `ContentActiveRecord::getContent()` since this method returns a ActiveRecord and not an Content entry itself, also this functi

[2021-02-22 15:26] smashm opened #4907 "1.8: Positions of Comment / Like interchanged under posts"
On the first answer level the positions of the _comment_ and _like_ links are interchanged.
Until 1.7.x _comment_ was on the first position from the left.
The next answer levels have maintained this order.

![Bildschirmfoto 2021-02-22 um 16 25 54](https://user-images.githubusercontent.com/60502320/108729323-b030da80-752a-11eb-8338-675ee78f9a0a.png)

[2021-02-22 17:56] luke- opened #4908 "Bulk User Admin Actions (Delete, Disable)"
### Is your feature request related to a problem? Please describe.

There is no way to delete or disable multiple users or spaces at the same time.

### Describe the solution you'd like

Display checkboxes in User Administration to delete/deactivate multiple users at once.

### Describe alternatives you've considered

Leave it as it is

[2021-02-23 05:02] yurabakhtin commented on #4907
@luke- PR https://github.com/humhub/humhub/pull/4909

[2021-02-23 07:19] ArchBlood commented on #821
If anyone is still subscribed to this issue, could I please get some general details on functionalities one is looking for when it comes to a discussions board/forum? Would help me a little better when it comes to this topic :thinking:

[2021-02-23 08:52] #4907 closed

[2021-02-23 09:48] smashm opened #4910 "1.8: Maintenance mode - activating can be misleading; users are still logged in"
See my two comments in the community at the beta-news:
https://community.humhub.com/content/perma?id=236860

- Maintenance Message: missing linebreak between the standard text and the individual supplement

- Misleading activation process

- Different views for user in the mode

[2021-02-23 12:06] yurabakhtin commented on #4910
@luke-

Commit https://github.com/humhub/humhub/pull/4911/commits/138ac98ef8634a0c57347a3defef827f80b330d0

I have read the comments there but cannot understand what to do for these 2 points, could you tell me more details? Thanks.

[2021-02-23 12:38] smashm commented on #4910
@yurabakhtin
Hi, maybe this hint put you in the right direction, but I'm not a coder.

When opening an humhub instance by examplewebserver.adress/humhub/ user in closed communities (e.g. humhub community) are forwarded to the login site examplewebserver.adress/humhub/index.php?r=user%2Fauth%2Flogin

In open communities where unregistered guest can see some content, they are forwarded to /humhub/in

[2021-02-23 12:44] luke- opened #4912 "1.8: Maintenance Mode - Guest Access"
### What steps will reproduce the problem?

- Enable Guest Access
![image](https://user-images.githubusercontent.com/4736168/108844626-a667af80-75dc-11eb-9f72-90d34903528b.png)
- Enable Maintenance Mode
- Open Dashboard e.g.

### What is the expected result?

- Show Admin Login

### What do you get instead?

See Dashboard

### Additional info

Guest Mode show be disabled during Maintance Mode

[2021-02-23 13:13] luke- opened #4913 "Maintenance Mode - Confirm Popup Misleading"
The UI/UX is not optional here. The popup suggests the user to activate the mode directly, but afterwards the form has to be saved.

See also discussion here: https://community.humhub.com/content/perma?id=236860

[2021-02-23 13:16] luke- commented on #4910
@smashm Thanks for the issues. Two of your problems have already been fixed by @yurabakhtin, I have also created separate issues:
https://github.com/humhub/humhub/issues/4912
https://github.com/humhub/humhub/issues/4913

[2021-02-23 13:16] #4910 closed

[2021-02-23 13:23] yurabakhtin commented on #4912
@luke- PR https://github.com/humhub/humhub/pull/4914

[2021-02-23 13:40] #4912 closed

[2021-02-23 13:41] #4841 closed

[2021-02-23 14:27] rcheetah opened #4915 "Warning dialog before before leaving page with edited content"
### Is your feature request related to a problem? Please describe.
Yes! At the moment when you type content into any form (comments, wall entrys, wiki pages …) it is completely lost as soon as anything leads you from the page. This can be an unintended click onto any link, or losing focus of the input field and hitting the backspace button to remove the last characters etc. All of this results in

[2021-02-23 16:29] luke- commented on #4915
@rcheetah We are working on this issue for HumHub 1.9.

For the Wiki module this will be available earlier.

Related: https://github.com/humhub/humhub/pull/4776
Related: https://github.com/humhub/tasks/issues/25

[2021-02-23 17:23] rcheetah commented on #4915
Great, I look forward to it :D

[2021-02-24 07:14] spoorun opened #4916 "Download my data ability for User"
In many jurisdictions, online services are required to provide the ability to give Users and for held connected with them (with exceptions).

For example in UK a "Subject Access Request" under Freedom of Information, GDPR in Europe, and similar elsewhere.

Currently, there is no simple way for a user to make such a request, and even less of a means for an admin to provide that information easily.

[2021-02-24 07:15] spoorun commented on #4551
See  #4916
For the download button part of this

[2021-02-24 09:02] luke- commented on #4916
https://github.com/humhub-contrib/legal/issues/20

I have moved this RFE to the Legal Tool module. This functionality is planned for this module.

[2021-02-24 09:02] #4916 closed

[2021-02-24 12:28] SocioHub-FID opened #4917 "Option to hide User group status in directory"
Hi HumHub-Team & Community :)

### Is your feature request related to a problem? Please describe.

In our HumHub-setup we added an additional user group (btw - great feature that this is possible :thumbsup:). Just now we noticed that the user group for all users is generally shown publicly in the member directory (e.g. here https://community.humhub.com/directory/members). Our data privacy officer

[2021-02-24 12:35] buddh4 commented on #4634
I'd suggest moving the buttons beneath the whole input and only show them if the comment richtext is focused. This saves us many problems and complexity as:

- Fix the issue of this ticket
- Positioning style of upload/save buttons
- Repositioning when overflow (maxHeight) is activated, which currently requires a javascript handler
- Currently we can not use the resize browser feature (which would

[2021-02-24 12:53] ArchBlood commented on #4917
You can hide user groups in the admin area already
![Screenshot_3](https://user-images.githubusercontent.com/35392110/109003048-f3976000-7674-11eb-81fc-823f540d8454.png)
In addition you can also hide the Directory from guests as well by way of the /protected/config/common.php file
https://docs.humhub.org/docs/admin/advanced-configuration/#module-configurations

[2021-02-24 12:58] ArchBlood commented on #4917
You can also remove `/directory/members` from view by theme overwrite `/protected/humhub/modules/directory/views/directory/members.php` becomes `/themes/YOUR_THEME/views/directory/directory/members.php` just remove what code you don't want viewed

[2021-02-24 12:59] buddh4 opened #4918 "Richtext gets focus when collapsing comments"
In case of clicking the "Comment" link of a stream entry the comment section closes in case its already opened/visible. Both, opening and closing the comment section will trigger a focus event of the comment input. When closing the comment section, the richtext should not be focused, otherwise the mobile keyboard will be activate for a short moment.

Also we should think about if this behavior may

[2021-02-24 13:00] SocioHub-FID commented on #4917
Thanks @ArchBlood for the quick response. Sorry I guess my description was not too precise. What I meant was this view:

![image](https://user-images.githubusercontent.com/58687517/109004066-88678100-76a8-11eb-9160-8b5f12b73934.png)

The option you described (https://github.com/humhub/humhub/issues/4917#issuecomment-785054718) has now influence on this.

[2021-02-24 13:11] buddh4 opened #4919 "Improve like link on mobile"
The like link consists of two links one for liking/unliking and one for opening a list of people who liked this post. On mobile (and even on desktop) its hard to click on the small counter in order to openen the list of people who liked the content. Also its possible to accidentally click on the like link instead of the counter.

There should be a better seperation between like link and counter.

[2021-02-24 13:12] ArchBlood commented on #4917
Easy fix, removed this line in your theme overwrite
https://github.com/humhub/humhub/blob/90ec96678822041c5ee479947faa23ffc0440c95/protected/humhub/modules/directory/views/directory/members.php#L64

[2021-02-24 13:14] ArchBlood commented on #4919
What about a hold function? Meaning when someone presses down and holds the button it then opens the liked list?

[2021-02-24 13:18] buddh4 commented on #4919
Hmm, this behavior would also not be really obvious. But on mobile such hold gestures are more commen, so maybe would be a possible solution. But the user would need to figure this out by himself, which is not optimal.

[2021-02-24 13:30] ArchBlood commented on #4919
Good point, the hold method would also probably make users think that reactions similar to that of Facebook and etc. were possible :thinking:

[2021-02-24 14:03] #4857 closed

[2021-02-24 16:12] luke- commented on #4917
I would only display group names here that are also displayed in the directory.

[2021-02-24 16:14] luke- commented on #4917
@yurabakhtin Can you please take a look? We should only display groups besides the user which are also marked as "Show in directory". -> Target Branch would be develop (1.9)

[2021-02-24 18:40] buddh4 commented on #4634
![grafik](https://user-images.githubusercontent.com/9800854/109048624-94b70280-76d7-11eb-9d04-d53a03f769bb.png)

![grafik](https://user-images.githubusercontent.com/9800854/109049132-2fafdc80-76d8-11eb-8949-b68069babda0.png)

[2021-02-24 19:58] ArchBlood commented on #4634
I like these myself, it's more defined and eye catching :thinking:

[2021-02-24 20:40] buddh4 commented on #4634
Those are the focus styles, only the editor menu is missing in here.

[2021-02-25 07:40] yurabakhtin commented on #4917
@luke- Fixed in PR https://github.com/humhub/humhub/pull/4920

[2021-02-25 08:57] luke- commented on #4917
@yurabakhtin  Thanks!

[2021-02-25 08:57] #4917 closed

[2021-02-25 09:15] luke- commented on #4634
I would prefer this variant.
https://user-images.githubusercontent.com/9800854/109049132-2fafdc80-76d8-11eb-8949-b68069babda0.png

Maybe we could try to display the submit button only when there is content in the editor.

[2021-02-25 09:46] buddh4 commented on #4634
Yes, I'd only show the buttons either if the editor is focused or not empty.

[2021-02-25 09:47] Andre0383 opened #4921 "naming a Customprofilfield = status causes ambiguous sql query"
### What steps will reproduce the problem?

* create a new category
* create a new field:
**  internalname status
** name status
** type selectlist with status1 => mystatus1, status2 => mystatus2
* select a status in personal profil
* save

### What is the expected result?

* having the possibility to select a status in profil

### What do you get instead?

* worked fine for a couple of time
* err

[2021-02-25 10:00] buddh4 opened #4922 "Rework profile and space feature/setting menu"
One major issue is that the feature buttons break the mobile view:

![grafik](https://user-images.githubusercontent.com/9800854/109135806-c374bd80-7757-11eb-9e22-153aef4bf2df.png)

Solution:

- We should not display any additional buttons, only a dropdown on mobile
- We should add a dropdown to the profile, maybe to some quick access links to settings, permissions, modules similar to spaces
- Addi

[2021-02-25 10:18] luke- commented on #4918
I have just discussed this with @Semir1212 and we couldn't really find a good solution for this either.
The feature to collapse comments is useful for comments & subcomments.

Probably it would be good rather try to fix the misbehavior until we have a good idea/concept here.

BTW: On the dashboard in our community there is a long post right now (with many comments).
Here, the comment link  is also

[2021-02-25 10:21] luke- commented on #4921
@yurabakhtin We should disallow all possible name conflicts (user table, profile table, space table, membership table, ...) on the internal name. Better a few field names more than too few.

Can you implement a check here?

[2021-02-25 10:44] luke- opened #4923 "Some Whitespaces breaks file upload / validation"
### What steps will reproduce the problem?

[test.zip](https://github.com/humhub/humhub/files/6042345/test.zip)

- Unpack zip
- Try to upload the file
- Receive error
![image](https://user-images.githubusercontent.com/4736168/109141732-5c0e3c00-775e-11eb-86e6-765b360e0808.png)

### What is the expected result?

Upload filed

The error is caused by a non regular white space (first whitespace in tes

[2021-02-25 10:57] buddh4 commented on #4921
Can't we just add the table prefix in the query?

[2021-02-25 11:08] buddh4 commented on #4918
I think at least on mobile its more annoying if you click on comment or reply and not being able to comment, but close the comment section instead. This is very misleading. In order to comment on mobile, you have to scroll down manually and since the mobile view is streched its just a bad usability.

I'd suggest either hide the comments and replys on mobile by default or maybe add another link (ma

[2021-02-25 11:10] buddh4 commented on #4918
I'll fix the focus issue, but we should find a solution regarding the overall misbehavior.

[2021-02-25 11:41] buddh4 opened #4925 "Rework comment section collapse"
Here are the issues is see with the current behavior of collapsing comment/reply sections:

- It is missleading that clicking on a `Comment` or `Reply` link the comment section is closed (in case its open) instead of focusing the comment input and being able to write a comment. The naming of those links indicate another behavior.
- This is especially annoying in mobile views, since the comment sec

[2021-02-25 11:42] buddh4 commented on #4918
I've opened a discussion at https://github.com/humhub/humhub/issues/4925

[2021-02-25 11:48] luke- commented on #4921
Maybe we can do both here.

But there are probably a lot database queries that join User+Profile.

[2021-02-25 11:51] luke- commented on #4925
For example FB just use two links here

![image](https://user-images.githubusercontent.com/4736168/109149616-1b1b2500-7768-11eb-9994-fdfa4ee16dfc.png)

[2021-02-25 11:55] luke- commented on #4918
Sounds good, so for us it would be the preferred solution to initially hide the comments by default on mobile. By clicking on comment (show and focus).

[2021-02-25 11:57] buddh4 commented on #4925
![grafik](https://user-images.githubusercontent.com/9800854/109150296-f83d4080-7768-11eb-9bbf-5a4902c8b1eb.png)

[2021-02-25 11:59] ArchBlood commented on #4923
Possible solutions that I could see working for such a case

[code]
or
Not really a fan of this method :thinking:
[code]

[2021-02-25 12:03] buddh4 commented on #4923
We should probably alsow escape all charachters we do not allow: https://github.com/humhub/humhub/blob/master/protected/humhub/modules/file/Module.php#L27

[2021-02-25 12:06] buddh4 commented on #4921
Its probably to late for this but couldn't we prefix the profile columns like `custom_status` by default.

[2021-02-25 12:15] buddh4 opened #4927 "Hide post input field on single entry stream."
![grafik](https://user-images.githubusercontent.com/9800854/109152220-7ac6ff80-776b-11eb-8595-34f7af8d1420.png)

[2021-02-25 12:16] buddh4 commented on #4155
I'll close this for now, the back to stream button was improved. The difference between the "Back to stream" and "Stream" is that the menu item reloads the whole page, while the "Back to stream" button only loads the stream. Regarding hiding the stream input I've opened another issue: https://github.com/humhub/humhub/issues/4927

[2021-02-25 12:16] #4155 closed

[2021-02-25 12:24] luke- commented on #4921
Maybe something for the planned big profile rewrite 2035 :-)

@yura Thanks!

[2021-02-25 12:24] #4921 closed

[2021-02-25 12:26] yurabakhtin commented on #4921
@buddh4 Yes, a prefix would be better than without prefix, but really I don't like the dynamic structure on the table `profile`, it would be better to keep there only 3 columns `user_id`, `profile_field_id` and `value`, but probably I don't know why it was created by that way.

[2021-02-25 13:53] yurabakhtin commented on #4923
@luke- @buddh4 I have debugged the file name and detected that the first char(between words "TestFile" and "The") which like space is really a not one space char but this is two chars `\xC2` + `\xA0`.
The `\xC2` was not denied but the `\xA0` was denied, I have created a PR https://github.com/humhub/humhub/pull/4928. If you think the char should be allowed then you can merge, or just rename the fil

[2021-02-25 14:04] buddh4 commented on #4923
@yurabakhtin as luke noted, we probably should just replace (any) invalid characters with an underscore or something else.

[2021-02-25 14:19] luke- commented on #4923
@yurabakhtin Hmm, I'm not sure if we should allow such a "special" chars. I would really prefer the solution of simply replacing invalid characters with an underscore. The filter is relatively permissive anyway, so it should rarely be the case.

[2021-02-25 15:22] yurabakhtin commented on #4923
@luke- @buddh4 Ok, I have reverted the pattern and implemented the replacement all not allowed chars with underscore '_' - https://github.com/humhub/humhub/pull/4928/commits/49122f96088eab5fc9621c8425dd785d822f436b.

[2021-02-25 15:51] #4918 closed

[2021-02-25 16:35] yurabakhtin commented on #4923
I fixed tests for the changes in the file name validator - https://github.com/humhub/humhub/pull/4928/commits/6d6a1e3c5d3228064412e62b85a91d2981a85247

[2021-02-25 18:16] #4923 closed

[2021-02-25 20:40] buddh4 commented on #4587
Will be available in HumHub 1.8

[2021-02-25 20:40] #4587 closed

[2021-02-25 20:42] buddh4 commented on #4541
Fixed in latest richtext master.

[2021-02-25 20:42] #4541 closed

[2021-02-25 21:46] leifj commented on #702
+1 on the feature - freichat relies on an external SaaS which defeats the purpose of having a self-hosted social platform

[2021-02-26 11:01] spoorun opened #4929 "Don't show additional links when multiple photos are uploaded"
_Currently_
User uploads multiple images
Below the images an additional separate line is shown for each image showing the filename and size
When User hovers over an image they can view the filename, but not the size

This lengthens the stream, sometimes doubling the size of the post, and reduces the aesthetic value and decreases usability
Filenames and sizes can be important, but there's a trade o

[2021-02-26 11:06] spoorun commented on #4929
Or allow the User posting to determine whether to show the additional links or not, so they are only shown when required.

[2021-02-26 11:23] J0000 commented on #4587
Thanks a lot

[2021-02-26 12:43] luke- commented on #4929
Do you know this option?
![image](https://user-images.githubusercontent.com/4736168/109301695-951adf00-7838-11eb-84de-14812cb32436.png)

[2021-02-26 18:05] #158 closed

[2021-02-27 03:10] spoorun commented on #4929
Thanks @luke- :smiley:

[2021-02-27 03:10] #4929 closed

[2021-02-27 08:52] tomofu74 commented on #4672
Thank you. I see.

[2021-02-27 08:52] #4672 closed

[2021-02-28 00:34] andrewua85 opened #4930 "Error! Update"
Error!

{"status":"ok"}Exception (Database Exception) 'yii\db\Exception' with message 'SQLSTATE[HY000]: General error: 2006 MySQL server has gone away The SQL being executed was: SELECT `id` FROM `user_http_session` WHERE `id`='d2f59123d7940fc603cdf9c274490272'' in /home/u31843/post.losper.net/protected/vendor/yiisoft/yii2/db/Schema.php:677 Stack trace: #0 /home/u31843/post.losper.net/protected/ve

[2021-02-28 02:10] ArchBlood commented on #4930
Clear your cache then try again

[2021-02-28 09:16] #4930 closed

[2021-02-28 12:15] andrewua85 commented on #4930
Seriously? )) I have caching is disabled.

[2021-02-28 19:41] feldrim commented on #1358
5 years, later, I'm surprised this issue is still in discussion. I opened this issue after the closing of Friendfeed, while a group of the community popped up an instance of Humhub for backup. We were missing the capabilities of Friendfeed, so I decided to work on it. We left the Humhub instance, but the issue still remains. Advanced Search is still a must-have for any kind of social medium. I hop

[2021-02-28 20:28] buddh4 opened #4931 "Parent navigations not highlighted for sub section "Profile Permissions" (and LDAP)"
![grafik](https://user-images.githubusercontent.com/9800854/109432520-e16a4880-7a0b-11eb-8199-7f1869c63082.png)

![grafik](https://user-images.githubusercontent.com/9800854/109432531-ef1fce00-7a0b-11eb-8244-8d669759a181.png)

| Q                | A
| ---------------- | ---
| HumHub version   | 1.8

[2021-02-28 20:41] DiscordiaChaos commented on #564
I was wondering about this, a user was asking me the other day how they could block someone that keeps sending unwanted messages and friend requests. The unwanted messages are not enough to remove the messager, so it would be preferred that users can block each other if they need to in order to prevent a user from just leaving or using the site less to avoid another user they dislike. It is such a

[2021-02-28 21:14] ArchBlood commented on #1358
I like the ideas proposed by this issue, and while it is pretty old, I'd like to say that HumHub has indeed worked a little bit on this when it comes to the mail module, currently there is a search option in it
![Screenshot_1](https://user-images.githubusercontent.com/35392110/109433295-abae6b00-79dd-11eb-956e-b4fc7f0d7841.png)

Currently the issue is that there are no ways implemented to search t

[2021-02-28 21:19] ArchBlood commented on #564
At the moment the only thing I can suggest is to have them disable messages by the permissions
![Screenshot_1](https://user-images.githubusercontent.com/35392110/109433868-896a1c80-79e0-11eb-9d52-ba84c484cdb0.png)

[2021-02-28 22:12] Mazvy opened #4932 "Third party script integration stopped working after upgrade to 1.7.3"
After upgrading to 1.7.3 third party integrated scripts stopped working. https://www.yiiframework.com/doc/guide/2.0/en/tutorial-yii-integration#using-yii-in-others

Example, this .php file could be placed anywhere as long as config paths were accessible and the session for the user as well as all humhub features could be utilized in a third party script:

	require __DIR__.'/../../protected/vendor/

[2021-02-28 22:44] ArchBlood commented on #4932
Use `$this->registerJsFile('domain.com/path/to/script.js');` in your view file or widget view file

https://www.yiiframework.com/doc/guide/2.0/en/output-client-scripts

[2021-02-28 23:39] Mazvy commented on #4932
This has to do with .php files and code execution server side, not client side.

[2021-03-01 09:31] yurabakhtin commented on #4931
@luke- PR https://github.com/humhub/humhub/pull/4933.

[2021-03-01 10:15] luke- commented on #4932
@Mazvy With HumHub 1.7.3 we upgraded to Yii 2.0.40 due to issues with PHP 8 support. Otherwise we try to avoid such framework updates in maintenance releases.

Seems the problem was introduced with: https://github.com/yiisoft/yii2/pull/18381

As a workaround it was working for me to create a folder "assets" , "uploads" in the alternative webroot.
Unfortunately, I could not correct the webroot beca

[2021-03-01 11:01] Mazvy commented on #4932
Thanks for the explanation @luke-

I have no previous experience with Yii, in turn Humhub, but as a question/suggestion - perhaps it's possible to create and set some flag in Yii prior to initializing Humhub to make sure `assets/`, `uploads/` and all frontend related content is not loaded in? I'm seeing `AssetManager` trying to initiate/load css files, jquery, etc. in the stack trace, but the enti

[2021-03-01 13:00] #4931 closed

[2021-03-01 21:45] DiscordiaChaos commented on #564
Thank you @ArchBlood , I have notified and instructed the user on how to do this. :)

[2021-03-02 09:39] superseby2 opened #4935 "Images in email"
### Is your feature request related to a problem? Please describe.

When receiving notification by email, the content is now nicely output from Markedown (good job!!)
for everything except images. Trying both images resulting from a copy/paste or form an attachment in a Post.

### Describe the solution you'd like

It would be nice to have images rendered as well.

### Describe alternatives you've

[2021-03-02 17:14] luke- opened #4936 "Installer Sample Emoji Broken"
### What steps will reproduce the problem?

- Fresh install HumHub

### What is the expected result?

See Emoji on sample post

### What do you get instead?

![image](https://user-images.githubusercontent.com/4736168/109686890-fe755780-7b82-11eb-834e-62584049ab9c.png)

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | 1.8

[2021-03-02 17:33] buddh4 commented on #4936
The sample uses legacy emoji style. The legacy richtext parser is deactivated in new installations since 1.8

[2021-03-02 17:39] buddh4 commented on #4935
We'd probably need to attach such images to the mail since in many installations images are not accessible without a login.

[2021-03-03 04:28] WebCrew commented on #702
If You have any issues with FreiChat then simply go to their [support forums](https://codologic.com/forum/index.php) start a new topic and mention @admin or @adesh (the Codoloc dev team). They will answer mostly the same day and they always fix problems as fast as possible.

@tedstrauss FreiChat only recognizes users / members from the day on which FreiChat was integrated into HumHub. FreiChat can

[2021-03-03 05:07] yurabakhtin commented on #4936
@luke- PR https://github.com/humhub/humhub/pull/4937=
<img width="761" alt="fixed_emoji" src="https://user-images.githubusercontent.com/6995524/109755665-73827480-7bf7-11eb-84e9-e75f185ff312.png">

[2021-03-03 08:57] buddh4 opened #4938 "Add css variables to theme"
Currently the only way of accessing theme variables is by calling `Yii::$app->view->theme->variable('info')`. Modules are more or less forced to set inline styles in order to keep themable.
Using css variables for our theme colors etc. would heavily ease the theming of modules and theming in general. Related issues:

- https://github.com/humhub/humhub-modules-mail/issues/218
- https://github.com/h

[2021-03-03 10:05] luke- commented on #4936
Thanks!

[2021-03-03 10:05] #4936 closed

[2021-03-03 12:25] leifj commented on #702
Thx. I do not have an issue with FreiChat. I am offering my support for having a chat alternative in humhub that doesn't depend on an externally hosted SaaS (like FreiChat).

[2021-03-03 14:29] klauswagner opened #4940 "Typo in /user/account/edit/ Menu | de |"Benachrichtungen""
### What steps will reproduce the problem?
German Language: Typo in /user/account/edit/ -Menu: "Benachrichtungen" instead of "Benachrichtigungen"

Found in `/protected/humhub/modules/user/messages/de/account.php`
`'Notifications' => 'Benachrichtungen',`

### Additional info

| Q                | A
| ---------------- | ---
| HumHub version   | 1.8.0 and all lower versions

[2021-03-03 16:02] luke- commented on #4940
Thanks will be fixed with 1.8.1
https://github.com/humhub/humhub/pull/4941/files

[2021-03-03 16:02] #4940 closed

[2021-03-03 18:27] #4465 closed

[2021-03-03 18:38] buddh4 opened #4943 "Add accessibility user settings"
Some ui elements as for example the focus richtext menu which is only visible once the richtext is focused do provide a poor keyboard accessibility. In this example, the richtext menu should be visible and focusable prior of focusing the richtext input. It would be great if there was a user setting for enabling/disabling specific accessibility modes. In a first example only for `keyboard access` r

[2021-03-03 19:12] buddh4 opened #4944 "Checkboxes not accessible"

[2021-03-03 19:13] buddh4 opened #4945 "Collapsible-fields not accessible by keyboard"

[2021-03-03 21:51] leifj commented on #2119
+1 for this idea

[2021-03-03 22:13] ArchBlood commented on #2119
Easy fix would be using @cebe's work for such a module does exactly what's needed in a rather simple way

https://github.com/cebe/yii2-gravatar

[2021-03-04 15:10] nils-van-zuijlen commented on #1949
Hello, I think this issue was fixed, I do not need that patch to get HumHub working with multiple emails in my LDAP.

I believe it's thanks to these lines
https://github.com/humhub/humhub/blob/906fc16b66f89623cf1a53ba7e369fe6dee0a7de/protected/humhub/modules/ldap/authclient/LdapAuth.php#L310-L319

[2021-03-04 16:13] luke- commented on #1949
@nils-van-zuijlen thanks for the hint. That' true, these lines should fix the problem. HumHub will always use the first (primary) email address in such cases.

[2021-03-04 16:13] #1949 closed

[2021-03-05 10:24] smitti opened #4946 "Database Migration to Humhub 1.8.0 went wrong"
### What steps will reproduce the problem?
Update via browser started
### What is the expected result?

### What do you get instead?
        Yii Migration Tool (based on Yii v2.0.40)

Total 5 new migrations to be applied:
	m201130_073907_default_permissions
	m201130_073908_disable_legacy_richtextparser
	m201228_064513_default_group
	m210111_105355_hash
	m210203_122333_profilePermissions

*** apply

[2021-03-05 10:33] buddh4 opened #4947 "Preview text maxLength issue"
Summary mail:

![grafik](https://user-images.githubusercontent.com/9800854/110103886-c2bad780-7da6-11eb-8f02-3b1dca6d4e4f.png)

Text in community:

- `I think this is what I’m going to have to do, too. How difficult is it to integrate?`
- `I wanted to buy https://www.humhub.com/de/marketplace/massuserimport/ a few days ago. However...`

| Q                | A
| ---------------- | ---
| HumHub vers

[2021-03-05 10:35] buddh4 commented on #4946
Please check the logs again, the error suggests that the migration was running a second time, the error of the first run would be interesting.

[2021-03-05 10:48] smitti commented on #4946
Latest errors:

FEHLER  Thu, 04 Mar 2021 18:13:38 +0100 yii\base\UnknownMethodExceptionyii\base\UnknownMethodException: Calling unknown method: humhub\modules\user\components\User::mustChangePassword() in /is/htdocs/wp11141389_5VUUJ7N9W6/b-u-p-daheim.de/protected/vendor/yiisoft/yii2/base/Component.php:301 Stack trace: #0 /is/htdocs/wp11141389_5VUUJ7N9W6/b-u-p-daheim.de/protected/humhub/modules/liv

[2021-03-05 10:56] buddh4 commented on #4946
This also is not the error of the update, but nontheless a strange error, seems like some files did not update. The actual update error message most likely includes a snippet of a failed SQL query and was triggered right after the update failed.

[2021-03-05 11:10] smitti commented on #4946
Sorry, that´s my oldest error. Any ideas, what to do?

[2021-03-05 11:18] ArchBlood commented on #4946
From my standpoint, I've only seen this happening for users that use MySQL database driver, no problem for MariaDB as of yet :thinking:

[2021-03-05 11:21] buddh4 commented on #4946
You could manually drop the table `contentcontainer_default_permission` and re-run the migration.

I assume the problematic line is:

[code]

We had a similar issue in the beta phase, I thought it was fixed, any idea @yurabakhtin ?

[2021-03-05 12:05] smitti commented on #4946
My Humhub-Installation is running at a shared Virtual Server. How can I run the imigration?

[2021-03-05 14:26] Mouflin-Guillaume commented on #4569
Hey,
Ok but how can I override existing module with my moduleAutoloadPath ?
Example : enterprise module is in folder humhub protected and in my folder development I also have enterprise module to override code.
I override serveral modules cores like comment, post, content, mail in my moduleAutoloadPath. How do this now ?
Now with this update, it's not possible and my project no longer works

[2021-03-05 17:19] smitti commented on #4946
How can I re-run the migration?

[2021-03-05 20:13] jwleon commented on #4946
I have the same problem. Seems that the key is too long when using utf8mb4 collation. Unfortunately, this stopped all migrations from happening, nut just the one for the "content" module. @smitti  when you are on shared hosting, you could create a PHP script (in a .htaccess / .htpasswd protected folder) to execute yii commands. Here it is:

`<?php

$execMigration = '/usr/bin/php73 ' . getenv('DOCU

[2021-03-05 20:53] ArchBlood commented on #4946
You are correct on this, it comes down to the data pool of the MySQL used, this is why MariaDB isn't heavily affected and all migrations normally run smoothly
I'd think if you increased `max_connections` it would probably help slightly

[2021-03-06 03:24] WASasquatch commented on #564
Seems weird to me no one has done this yet in development. You just need to
create a new column for the users and store an array of IDs or something
like that. Make sure to check that the user being blocked doesn't have
elevated permissions over the blockee. Then in content parsing you check if
a user can see the content being rendered. If not, simply skip it. For
posts, and comments, and member l

[2021-03-06 17:31] spoorun opened #5216 "Separate view document button"
**Currently:**

When has onlyoffice installed and one selects a file a dialogue window opens offering a choice of
'Download | Edit Document'
The Download button has a dropdown offering a further option of 'View document'

If one opens a document which one has no edit rights over, one sees:
'Download'
With a dropdown offering a further option of 'View document'

This hides the View functionality.

[2021-03-06 17:50] spoorun opened #4948 "Support bounties via Issuehunt"
It would be great if Humhub repositories signed up for Issuehunt support

https://issuehunt.io/r/new

That way people can post bounties in individual bugs they care about and hopefully accelerate development in areas that might be outside the core team short term goals, it will also increase motivation for those involved in Humhub opensource and improve the product.

[2021-03-06 17:54] spoorun commented on #4307
Would this enhancement mean URLs are automatically clickable in posts and comments, currently URLs are not clickable unless manually linkified

[2021-03-06 17:57] spoorun opened #4949 "Link creation does not copy URL from selected text"
Current:
User types a URL into a post or comment
User selects URL text
User clicks 'link' icon in rich text panel
Dialogue displays to create link
User has to re-enter URL

Expected:
The selected URL is copied automatically into the URL box
User can simply press enter to create the link (if they don't want alternative text option, just to show the link and make it click-able)

[2021-03-06 18:06] spoorun opened #4950 "Right arrow not working in some cases in richtext editor"
**Steps to reproduce**

Create a post
Write a phrase in bold
Press 'Enter' for a new line (not Shift+Enter)
Write a further phrase in regular text
Attempt to navigate with the cursor using arrow keys - from the end of the line in bold to the beginning of the line in regular text

**Expected:**

The right arrow key will move from the end of the emboldened text line to the beginning of the regular t

[2021-03-06 19:27] spoorun commented on #1454
See also: https://github.com/humhub/humhub-modules-mail/issues/189

[2021-03-06 21:08] ArchBlood commented on #4950
If the text is highlighted `<` key is used as a back button currently I'm seeing issues with `>` key not reinstating the bold text if highlighted, this is tested in v1.8.0 :thinking:

As for the original issue, this is probably due to the rich text editor not having the ability to turn itself off, should work just fine in normal markdown syntax where `**Text**` is used for bold, and to be honest t

[2021-03-06 21:11] ArchBlood commented on #4949
I believe this only happens on mobile?

[2021-03-06 23:24] spoorun commented on #4949
I'm getting this behaviour in desktop and mobile, including Chrome and Firefox (on Linux and Android).

[2021-03-06 23:38] spoorun commented on #4950
Thanks for this.

I'm not sure my original post was clear enough thought.

The forward arrow key works in all scenarios with rich text formatting, to navigate around the text, as tit should be.

When the right arrow is used to try and navigate from the end of a line of formatted text to the beginning of another line (separated by a line brake), the right arrow does not work, it does nothing.

When

[2021-03-07 00:06] ArchBlood commented on #4950
The only way that I can reproduce this issue is when typing out the text/paragraph then making it into a markdown syntax (i.e. bold or etc.), but `>` is the only key that shows issues when a line break is applied after the text/paragraph, using `<`, &#709;, `^` key works as normal :thinking:

[2021-03-07 00:08] ArchBlood commented on #4950
On the plus side adding a space or more text to the first line will enable you to continue as you need

[2021-03-07 02:30] KarimChabrak commented on #3150
It would be great to have federated nodes. We are using in coinsence.org humhub and we see that many associations and networks are reluctant to build something without having their own URL.

[2021-03-07 13:24] spoorun commented on #4950
Moved to humhub-prosemirror repository:

https://github.com/humhub/humhub-prosemirror/issues/50

[2021-03-07 13:24] #4950 closed

[2021-03-07 13:29] spoorun commented on #4949
Moved to humhub-prosemirror repository:
https://github.com/humhub/humhub-prosemirror/issues/51

[2021-03-07 13:29] #4949 closed

[2021-03-07 13:37] spoorun commented on #4307
Should this be in prosemirror repo? https://github.com/humhub/humhub-prosemirror/issues/52
Or is this a broader issue?

[2021-03-07 13:37] spoorun commented on #4307
See also: https://github.com/humhub/humhub-prosemirror/issues/51

[2021-03-08 05:28] superseby2 commented on #4935
:thinking: ... how user's profile images are handled for those installations where a login is required? In our setup, you need to have an account but you can see profile's user image in emails (summaries or post notification).
Can't we have the same approche for post images? It makes content public indeed, but you will still need to figure out the path (could be UUID-like) + we could make those im

[2021-03-08 07:50] yurabakhtin commented on #4946
@buddh4

I fixed that in commit https://github.com/humhub/humhub/commit/2cfe20a9, there was an error about long key because the column `contentcontainer_class` had a size 255 chars, so I changed that to correct 60 because we have same length for the column `class` in the table `contentcontainer`.

When I worked on the bug I have investigated and understood the limit depends in single column length

[2021-03-08 09:01] luke- commented on #4946
@jwleon Are you sure it's the keylength? I have often seen this problem in relation to different TableEngines. So a foreign key between an InnoDB and MyISAM table.

[2021-03-08 09:19] luke- commented on #4935
Images as attachments can of course also be embedded in the e-mail content as an image.
Otherwise it would also be a solution to allow optional file access via a direct even without login.

[2021-03-08 09:19] jwleon commented on #4946
It's definitely the error I got - and it was fixed when I reduced the field length as described from 160 to 90 so that the summed up length of the key stays at or below 1000 (which was the limit the error message stated).

It may depend on the MySQL Version / Engine; I installed 1.8.0 some days ago on a local testing server and there was no problem with this table...

[2021-03-08 10:06] luke- commented on #4569
@yurabakhtin Any idea how we can allow such use cases? maybe an option to disable the new behavior or a custom rewrite map.

[2021-03-08 10:49] luke- opened #4951 "User Admin Command Line: Add possibility to delete user"
Currently, deleting users from the command line is not implemented.

[2021-03-08 11:10] yurabakhtin commented on #4569
@luke- Do you think we should allow to keep two and more modules with same id?
Here https://docs.humhub.org/docs/develop/modules#configphp I see:

- `id` - **Unique** module ID (required)`

[2021-03-08 12:05] luke- commented on #4569
@yurabakhtin  As a quick idea, we could introduce a variable here https://github.com/humhub/humhub/blob/master/protected/humhub/components/ModuleManager.php#L82
, e.g. overrideModulePath with an array as index the module ID and as value the path.

If there is an entry here, the given module path is always used.

[2021-03-08 12:45] yurabakhtin commented on #4569
@luke- The file `/protected/humhub/components/ModuleManager.php` is a core file and I don't understand why we should add there some array because not clear where the array will be filled.

Ok, as I got it we should allow to side developers to keep in system several modules with same id and only one module should be used as the latest version, i.e. example:

- core module `protected/humhub/modules/

[2021-03-08 14:00] luke- commented on #4946
See also here: https://community.humhub.com/s/general-discussion/?contentId=237527

@yurabakhtin Can you take a look?
maybe we should also wrap the ForeignKey Index in a TryCatch and only log an error if there is a problem here.

[2021-03-08 14:15] luke- commented on #4569
@yurabakhtin The Array could be filled using the configration file (protected/config/common.php) e.g.

[code]
Can you check my approach again? The possibility with the priority is also ok, but I think a bit too much for this rare special case. I am open to both variants. Your choice :-)

[2021-03-08 18:30] Ender951 commented on #920
I think this would be a cool idea, and not only for verified badges... there could be one like if a user's account was disabled... it would show that in the form of a customizable badge... like an 'x' or a skull... something like that.

[2021-03-09 07:19] yurabakhtin commented on #4569
@luke- I have implemented your approach in PR https://github.com/humhub/humhub/pull/4952.

[2021-03-09 08:16] yurabakhtin commented on #4946
@luke- In all reported error messages above I see only the error "Table 'contentcontainer_default_permission' **already exists**".
I guess the migration `m201130_073907_default_permissions` was failed on first call because there was wrong length `255` for one column `contentcontainer_class`, i.e. only table was created but key could not created. it is strange why the migration was not rollbacked a

[2021-03-09 08:38] ArchBlood commented on #4946
This pretty much just brings me back to this link about this exact thing;
https://stackoverflow.com/questions/4539242/mysql-varchar-byte-length-255-issue

But on the note of this exact migration that's being done I still refer to the yii2 docs as stated below

--------

I agree that the yii2 Migration class should be extended by the core to favor of how HumHub wants to update over being forced to

[2021-03-09 10:13] luke- commented on #4569
@yurabakhtin Thanks!
@Mouflin-Guillaume Can you please test this PR? Would this solves your problem?

[2021-03-09 11:37] Baratuxu opened #4954 "Stream could not be initialized!"
I updated from Humhub 1.7.8 to Humhub 1.8.0 using the updater plugin and started getting the "Stream could not be initialized!" error in several spaces (the majority).

HumHub version: 1.8
PHP version: 7.3.26
Operating system: Linux

**Stream could not be initialized! -
An unexpected server error occurred. If this keeps happening, please contact a site administrator.**

{
    "url": "/index.php?r=

[2021-03-09 11:43] ArchBlood commented on #4948
Not related to issuehunt.io but there is a Bounty Source that is up, it's not really used much but it's there

https://www.bountysource.com/teams/humhub

[2021-03-09 15:06] funkycram opened #4955 "Some emoji are not detected by RichTextEmojiExtension"
Make this conversion:
[code]

You should have 2 emojis displayed.
But only `upside_down_face` is converted to emoji. `+1` is not:
![image](https://user-images.githubusercontent.com/23310825/110490978-1c960700-80f1-11eb-80c6-6723513a98f6.png)

This is because `+1` is not dected as a match here: https://github.com/humhub/humhub/blob/master/protected/humhub/modules/content/widgets/richtext/extensions

[2021-03-10 05:45] yurabakhtin commented on #4569
@luke- It seems @Mouflin-Guillaume doesn't want the changes from the PR https://github.com/humhub/humhub/pull/4804 at all. Probably we should create a general setting like "[√] Prevent double module registration with same id." enabled by default.

@Mouflin-Guillaume Why don't you use a new unique module id for your customized module `xxx\modules\enterprise`?

[2021-03-10 08:25] luke- commented on #4954
Can you please post a screenshot of the output: Adminsitration -> Information -> Database?

[2021-03-10 08:31] luke- commented on #4569
@yurabakhtin Yes, a setting to disable the new Double Module Registration could be a solution. Here a flag in ModuleManager would be sufficient?

I don't know if this way of overwriting modules classes is so the proper way.

There is also a ClassMap to overwrite particial classes:
https://github.com/humhub/humhub/blob/master/protected/humhub/config/common.php#L18

[2021-03-10 09:20] luke- commented on #4946
@yurabakhtin Thanks, worked well in my tests! I hope this solves the problems.

[2021-03-10 09:20] #4946 closed

[2021-03-10 12:13] luke- commented on #4955
@yurabakhtin Awesome thanks!

[2021-03-10 12:13] #4955 closed

[2021-03-11 09:28] luke- opened #4958 "Add possibility to register purchased modules via CLI"
Add `register`  e.g. https://docs.humhub.org/docs/admin/console#module

[2021-03-11 13:07] Baratuxu commented on #4954
Thx Luke for your interest! Here it is:
![Humhub](https://user-images.githubusercontent.com/80325100/110791713-71a95880-826a-11eb-849b-86073e7d72e9.png)

Reinforcing the obvious; I'm more lost than a blind man in a gunfight. I have no idea what to do; but I understand there was a problem with the migration!
Many thanxs!

[2021-03-11 13:28] luke- commented on #4954
See here: https://github.com/humhub/humhub/issues/4946

[2021-03-11 13:28] #4954 closed

[2021-03-12 12:22] funkycram opened #4959 "Horizontal scrollbar for images"
Upload a wide picture in a post, wikipage or other Richtext:
![image](https://user-images.githubusercontent.com/23310825/110939122-332ca000-8335-11eb-94dc-9ab5d4512e07.png)

The image has `width="100%"` wich is correct, but also `margin: 0 5px;` which creates an horizontal scrollbar:
https://github.com/humhub/humhub/blob/master/static/less/markdown.less#L168
[code]

| Q                | A
| ------

[2021-03-12 14:15] yurabakhtin commented on #4959
@luke- PR https://github.com/humhub/humhub/pull/4961

[2021-03-12 14:25] luke- commented on #4959
@yurabakhtin Does it still look good now without margin or Is there no difference? Can you please post a screenshot?
Maybe you should use a padding instead of a margin?

[2021-03-12 15:24] yurabakhtin commented on #4959
@luke- It looks like without margin, if we need the space then yes we should use a padding, should I use padding?

<img width="680" alt="tests" src="https://user-images.githubusercontent.com/6995524/110960811-31c49d00-8360-11eb-8831-b7a0561b3bce.png">

[2021-03-12 16:53] luke- commented on #4959
@yurabakhtin Thanks for the screenshots. The variant without margin is really the best. I'll merge the PR.

[2021-03-12 16:53] #4959 closed

[2021-03-14 05:27] spoorun commented on #4948
Yeah that's cool. Though IssueHunt seems to be easier to track in Github and better integrated

[2021-03-15 05:50] vpadhariya commented on #4313
@luke- I have latest Humhub installed 1.8.1

I have also ran the integrity check command it run fine

I am still getting this issue, can you please release patch in next update?

```PDOException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'humhub\modules\activity\jobs\SendMailSummary1' for key 'PRIMARY' in /home/customer/www/intranetteam.yuneco.be/public_html/protected/v

[2021-03-15 06:39] yurabakhtin commented on #4898
@luke- Fixed in PR https://github.com/humhub/humhub/pull/4962

[2021-03-15 10:24] luke- commented on #4898
@yurabakhtin Thanks!

[2021-03-15 10:24] #4898 closed

[2021-03-15 10:40] luke- commented on #4313
@vpadhariya Are you using any special queuing driver? Can you please send a screenshot of the page Information -> Preqreusites and Information -> Background Jobs.

[2021-03-16 06:39] yurabakhtin commented on #4958
@luke- As I understood the new command should do same what the form `/marketplace/purchase` does by click on the button "Register". I have done this in commit https://github.com/humhub/humhub/pull/4963.

[2021-03-16 06:58] vpadhariya commented on #4313
@luke-

1. it is MySQL queue driver (default)
2. Background jobs are set as per the Humhub documentation : https://docs.humhub.org/docs/admin/installation#cronjobs
3. Site is hosted on siteground.com
4. Attached is the full screenshot of the error.
![screenshot-intranetteam yuneco be-2021 03 16-12_26_53](https://user-images.githubusercontent.com/570747/111268218-02a97680-8653-11eb-8a49-3981fa364ac

[2021-03-16 09:12] luke- commented on #4958
@yurabakhtin Yes, thanks!

[2021-03-16 09:12] #4958 closed

[2021-03-16 09:36] luke- commented on #4313
@vpadhariya Can you please remove the cronjobs cron/hourly & cron/daily and try it again?

[2021-03-17 07:52] yurabakhtin commented on #4951
@luke- PR https://github.com/humhub/humhub/pull/4964.

Please note I used the same form `UserDeleteForm` that is used on `/admin/user/delete?id=123`, but there are two options:

- [ ] Delete all contributions of this user
- [ ] Delete spaces which are owned by this user

Should we implement these options for the new command `user/delete` as well?

[2021-03-17 09:07] luke- commented on #4951
@yurabakhtin

Background: There are two different ways to delete users. **Soft Delete** (without general content) and **Hard Delete** with all content. I would suggest the following behavior:

[code]

[2021-03-17 09:16] yurabakhtin commented on #4890
@luke- As I understand you prefer the approach with controller interface, but please note we have one case for whole module, I mean the `rest` module here `https://github.com/humhub-contrib/legal/blob/master/Events.php#L97`, i.e. all controllers of the module should be excluded. I think it is not good idea to use the interface for each controller of the module, because we should edit many files of

[2021-03-17 09:33] luke- commented on #4890
@yurabakhtin Thanks for the overview.
Wouldn't it  possible e.g to. `BaseController` of the Rest module to set it centrally for all Rest controllers. e.g. `$doNotInterceptActionIds = ['*'];`?

https://github.com/humhub/humhub-modules-rest/blob/c3dfa5309f65c3872e86f8ff4d8fdd9ffd2d5077/components/BaseController.php#L29

If we're abble to find a "one place" solution for the Rest module, I would prefe

[2021-03-17 10:52] yurabakhtin commented on #4890
@luke- Yes, you are right the `BaseController` is used for all rest controllers except of `AdminController` but we should not use the filter there because this controller is not used for api endpoints.

So we can implement the controller solution. Should I start this?

[2021-03-17 12:20] yurabakhtin commented on #4951
@luke- Ok, done in commit https://github.com/humhub/humhub/pull/4964/commits/13caaf737f37753f1b342cb2bc1f3e5284c6b1ff

[2021-03-17 13:56] yurabakhtin commented on #4871
@luke- I find here `/admin/setting/basic` the general setting "Server Timezone" that is used on `/user/account/edit-settings` for user setting "TimeZone" if it is not filled yet - https://github.com/humhub/humhub/blob/master/protected/humhub/modules/user/controllers/AccountController.php#L119

Maybe we can use the general setting "Server Timezone" for guests or newly registered users?

[2021-03-17 14:22] yurabakhtin commented on #4902
@luke- As I understood we just need to copy the JS library `CodeMirror` from the external module `custom_page` into the core. I have done this in PR https://github.com/humhub/humhub/pull/4965, please check I selected a proper place in the module `content`.

[2021-03-17 14:36] luke- commented on #4890
@yurabakhtin Ok. Yes please start!

[2021-03-17 14:40] luke- commented on #4902
@yurabakhtin Yes. The https://github.com/humhub/humhub/tree/master/protected/humhub/modules/ui/form `ui/form` module should be a good place for this.

[2021-03-17 16:02] luke- commented on #4951
@yurabakhtin Thanks, can you please rebase it to the "develop" branch.

[2021-03-17 16:15] luke- commented on #4871
@yurabakhtin The existing timezone setting was necessary because we created entries in the database with "new Expression("NOW")" and partly a different timezone was configured in the database. After we have turned off this behavior (and using time() everywhere), we can remove this setting in the future, but I would wait for a few more versions.

The Guest Timezone is necessary if someone has e.g.

[2021-03-17 16:26] R3m1n0X commented on #926
Reopen. Seems to be a bug and not fixed yet.

I have the same issue on current latest.

[2021-03-17 21:58] smitti commented on #4946
After all I get this messages  @information/requirements:

 MySQL - Table collations - utf8mb4_unicode_ci, latin1_german2_ci (Hint: Recommended collation is utf8mb4 for the tables: contentcontainer_permission)
 MySQL - Table engines - MyISAM (Hint: Recommended engine is InnoDB for the tables: activity, calendar_entry, calendar_entry_participant, calendar_reminder, calendar_reminder_sent, cfiles_fi

[2021-03-18 05:27] yurabakhtin commented on #4902
@luke- Ok, thanks, I have moved the files - https://github.com/humhub/humhub/pull/4965/commits/a0b8e02095790a93b3b86166c92c4c950db0624a.

[2021-03-18 05:48] yurabakhtin commented on #4951
@luke- The PR has been rebased.

[2021-03-18 08:47] luke- commented on #4902
@yurabakhtin Would it be possible to include CodeMirror as a composer asset?

[2021-03-18 09:05] luke- commented on #4951
@yurabakhtin Thanks!

[2021-03-18 09:05] #4951 closed

[2021-03-18 09:07] yurabakhtin commented on #4890
@luke- Please check how I implemented this in PRs above, if all ok I should to investigate how we can use new `Controller->isNotInterceptedAction()` in:

- Maintenance mode (probably here https://github.com/humhub/humhub/blob/enh/4890-do-not-intercept-action-ids/protected/humhub/components/access/ControllerAccess.php#L542)
- Must change password (probably here https://github.com/humhub/humhub/blob

[2021-03-18 09:33] luke- commented on #4890
@yurabakhtin Sounds good, I've already merged the other PRs if possible.

[2021-03-18 10:15] yurabakhtin commented on #4890
@luke- The changes in PR https://github.com/humhub/humhub-modules-polls/pull/84 was done by mistake, correct place is in core module `live` - https://github.com/humhub/humhub/pull/4966/commits/974e1606193c1fd297d37f4d537f88ca488ec9d2.

[2021-03-18 10:19] luke- commented on #4890
@yurabakhtin Ok. Should we leave the mail  module exception?

[2021-03-18 10:34] yurabakhtin commented on #4890
@luke- I am trying to find why it was added here https://github.com/humhub-contrib/legal/commit/fc182943#diff-666c020a6d1e6a59ba261ba9316aaa19e27dbd851bcc4fdcaecaa278ddc96c10R96

[2021-03-18 10:51] funkycram opened #4967 "Marketplace - module files deleted if license key cannot be retrieved"
### What steps will reproduce the problem?

1. Buy a module on the marketplace
2. Enter the license key in Humhub (marketplace/purchase)
3. Install, activate the module and activate it in a space
4. Set a Firewall on the server preventing some communications with Humhub's server (I cannot tell you which ones, it's a client that have had the problem)
5. When an update of the module is available, up

[2021-03-18 11:01] funkycram opened #4968 "Second level comment reply: place cursor AFTER mentioning"
When you reply to a second level comment, the comment's author is automatically tagged in the reply field.
But the cursor stays BEFORE:
![image](https://user-images.githubusercontent.com/23310825/111615694-5649ca80-87e1-11eb-835d-a1f83a5b6115.png)

Because of that, you need to click to place the cursor AFTER the mentioning tag.
On mobile phones, this is a bit tricky.

[2021-03-18 11:09] luke- commented on #4890
@yurabakhtin I think it is enough to add the following action:  https://github.com/humhub/humhub-modules-mail/blob/master/controllers/MailController.php#L405

[2021-03-18 11:15] kcalvat opened #4969 "TTR timeout for emails notifications from announcement module"
### What steps will reproduce the problem?

1. Install [announcement module](https://github.com/staxDB/humhub-modules-announcements)
2. Get a space with at least 400 registered users with email notification enabled
3. Create new announcement

### What is the expected result?

Each registered user received the notification email with announcement content.

### What do you get instead?

Only some 30

[2021-03-18 11:32] yurabakhtin commented on #4890
@luke- Ok, fixed in commit https://github.com/humhub/humhub-modules-mail/pull/220/commits/f0a0a7fca9bada14200e5383dd42bf2ea0003905

[2021-03-18 12:10] J0000 opened #4970 "Permission for group members to enter space from type XY"
### Is your feature request related to a problem? Please describe.
We have different groups of users in our humhub and our problem is, that members of group A aren't allowed to access to some spaces from group B. Our actual way is to work with hiding some groups or using the privat/public access to content, using group settings with updating standard spaces for groups for all members, etc.

### De

[2021-03-18 12:21] J0000 opened #4971 "too much activated modules entries in a space overlap text formatting"
### What steps will reproduce the problem?
When there are too much activated module entries in a space, the module navbar uses in smaller resolutions two lines and overlaps the icons for text-formatting of a new entry.
![Screenshot_20210318_131413](https://user-images.githubusercontent.com/8221545/111625081-c1e56500-87ec-11eb-8a4a-902e83d7d2d0.png)

### Additional info

| Q                | A
| --

[2021-03-18 12:33] yurabakhtin commented on #4902
@luke- I am not sure what exact codemirror library we should use from composer:

[code]

I have tried to install the first `npm-asset/codemirror` but it is not same as we have in the folder https://github.com/humhub/humhub/tree/enh/4902-add-codemirror-asset/protected/humhub/modules/ui/form/resources/codemirror.

[2021-03-18 15:47] luke- commented on #4902
I think the normal "codemirror" should be ok.  It would be good to have also a Richtext FormField widget for it.
To use it in the core as well (for testing purposes) we can use the FormFieldWidget here.

![image](https://user-images.githubusercontent.com/4736168/111655123-accaff00-8809-11eb-922d-5fc6101dda6e.png)

[2021-03-18 15:54] luke- commented on #4967
@funkycram So the problem occurs when updating the module?

Can you check if the module download worked correctly?
/protected/runtime/module-downloads

If the module files were removed but not reinstalled, there must be an error in the log about it.

In such a case, reinstalling the module should fix the problem. Is the install option displayed when "Browse Online" to the module?

[2021-03-18 16:07] superseby2 commented on #4935
If I could vote :) I would vote for solution number 2. Because embedding one or more images could lead to super big emails and we might run into problems at some point.
Making images available via a link seems to me a better way to do this.

My 2 cents.

[2021-03-18 16:56] funkycram commented on #4967
Difficult to answer to theses questions as the problem occurred to a client, but I don't have any account on his Humhub.

But I think I can reproduce the problem that way:
1. On a mule bought on the marketplace, edit `module.json` file and downgrade version
2. In https://partner.humhub.com/ remove the licence for this Humhub
3. Go in `/marketplace/update`: it tells you that you can update the modu